<script type="text/javascript" src="{{ uploadify_path }}swfobject.js"></script>
<script type="text/javascript" src="{{ uploadify_path }}jquery.uploadify.js"></script>
<link href="/static/js/uploadify/uploadify.css" rel="stylesheet">


<script type="text/javascript">// <![CDATA[
$(document).ready(function() {
$('#{{ input }}').uploadify({
'uploader': '{{ uploadify_path }}uploadify.swf',
'script': '{% url uploadify_upload %}',
'cancelImg': '{{ uploadify_path }}cancel.png',
'auto': true,
'multi': true,
    'folder' : '/media/upload/',
    'removeCompleted': false,
    buttonImg: '{{ uploadify_path }}button.jpg',
    scriptData: {'id': '{{ uploadify_path }}'},
    onComplete: function(event,queueID,fileObj,response,data) {
               $('#{{ input }}'+queueID).append(response);
    },
    onCancel: function(event,ID, fileObj, data) {
        var filename = $('#{{ input }}'+ID+ ' input').val();
        $.ajax({
            type: "GET",
            url: "{% url uploadify_delete %}",
            data: "file=" + filename
        });
    }
});
});

function allComplete(event, data) {
    $('#{{ upload_id }}').load('{{ upload_complete_url }}', {
        'filesUploaded': data.filesUploaded,
        'errorCount': data.errors,
        'allBytesLoaded': data.allBytesLoaded,
        'speed': data.speed
    });
    $('#{{ upload_id }}').trigger('allUploadsComplete', data);
}
// ]]></script>


<div id="{{ upload_id }}" class="multi-file-upload">
    <input id="{{ input }}" name="Filedata" type="file" />
    <span class="field-help-text pull-right">Внимание! Русские буквы и пробелы в имени загружаемого файла будут заменены на английский эквивалент. Максимальный объем загружаемого файла не должен превышать 20Mb. После загрузки файла нажмите кнопку «Сохранить».</span>
</div>
