{% load i18n %}

<div class="row">
    <div class="btn-group pull-right-calendar {{ css_classes }}">
        <button class="btn btn-primary calendar_left" data-calendar-nav="prev" style="margin-left: 43%;"></button>
        <div class="pull-right_div_text">Сентябрь</div>
        <button class="btn btn-primary calendar_right" data-calendar-nav="next" style="border-radius: 3px;border-bottom-right-radius: 3px;width: 4px;"></button>
    </div>
    <!--
    <div class="btn-group {{ css_classes }}">
        <button class="btn btn-warning" data-calendar-view="year">{% trans 'Year' %}</button>
        <button class="btn btn-warning active" data-calendar-view="month">{% trans 'Month' %}</button>
    </div>
    -->
</div>
