<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<table>
    <tr>
        <th>id</th>
        <th>first name</th>
        <th>last name</th>
        <th>task number</th>
    </tr>
    {% for user in users %}
        <tr>
            <td><a href="/history/?get_user={{ user.id }}">{{ user.id }}</a></td>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.task_number }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>