{% extends "project/base.html" %}
{% block content %}
    <h1>Активация</h1>
    Привет, {{ account }}!<br/>
    Ваша учетная запись активирована. <a href="{% url auth_login %}">Заходите</a> на сайт.
    <br/><br/>
{% endblock %}
