{% extends "project/base.html" %}
{% load i18n %}

{% block bodyclass %}login{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <a href="/">Войти</a>
        </div></div>
{% endblock %}
