{% extends "project/base.html" %}
{% load i18n %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <div id="content-main center">
                <div class="page-header">
                    <h1>{% trans "Регистрация"%}</h1>
                </div>
                  <form method="post" action="" style="margin-left:40%">
                           <dl class="register">
                              {% for field in form %}
                                 <dt>{{ field.label_tag }}</dt>
                                 <dd class="clearfix">{{ field }}
                                     {% if field.help_text %}<div class="clearfix">{{ field.help_text }}</div>{% endif %}
                                     {% if field.errors %}<div class="myerrors clearfix">{{ field.errors }}</div>{% endif %}
                                 </dd>
                              {% endfor %}
                           </dl>
                   <br>
                   {% csrf_token %}
                   <input type="submit" value="{% trans "Зарегистрироваться"%}" class="btn btn-large btn-success">
                  </form>
            </div>
        </div>
    </div>
{% endblock %}
