
{# Блок истории изменений поручения #}

<link href="/static/project/task_history/css/task_history.css" rel="stylesheet">

<div class="task-history">
    {# Внутренний скроллбар #}
            <h3 class="task-history__title">История выполнения</h3>

            <div class="task-history__filters form-filters">
                <script src="/static/project/task_history/js/task_history_filters.js"></script>
                {% include "task_history/task_history_filter_item.html" with type="comment" label="Комментарии" %}
                {% include "task_history/task_history_filter_item.html" with type="date_end" label="Сроки" %}
                {% include "task_history/task_history_filter_item.html" with type="title_or_text" label="Формулировка" %}
                {% include "task_history/task_history_filter_item.html" with type="progress" label="% выполнения" %}
                {% include "task_history/task_history_filter_item.html" with type="other" label="Другое" %}
            </div>

            <div class="task-history__items scrollbar-container">
                <div class="scrollbar">
                    <div class="track">
                        <div class="thumb">
                            <div class="end"></div>
                        </div>
                    </div>
                </div>

                <div class="viewport">
                    <div class="overview">
                        {% for item in history %}
                            {% include "task_history/task_history_item.html" with item=item %}
                        {% endfor %}
                    </div> {# .overview #}
                </div> {# .viewport #}
            </div> {# .task-history__items #}
</div>
