{# Шаблон отображения описания единичного случая изменения поручения #}

{% load accounts_filter %}

<div class="task-history__item {{ item.change_types }}">
    <div class="task-history-item__header row-fluid">
        <div class="pull-left">
            <span class="task-history-item__author">{% get_full_fio item.revision.revision_author %}</span>
            <span class="task-history-item__date">{{ item.revision.revision_created|date:"d.m.Y H:i" }}</span>
        </div>
        <div class="task-history-item__id pull-right">
            #{{ item.revision.revision_number }}
        </div>
    </div>

    <div class="task-history-item__body row-fluid">
        {% if item.is_first_revision %}
            Поручение создано.
        {% else %}
            <h4>Измененные поля</h4>
            <table class="task-history__changed-fields">
                <tr>
                    <th>Имя поля</th>
                    <th>Инициатор</th>
                    <th>До</th>
                    <th>После</th>
                </tr>
                {% for f in item.changed_fields %}
                    <tr>
                        <td>{{ f.field }}</td>
                        <td>{{ f.author }}</td>
                        <td>{{ f.before }}</td>
                        <td>{{ f.after }}</td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
