{# Чебокс фильтров истории поручения #}

<div class="task-history__filter-container">
    <input id="task-history__filter_{{ type }}" type="checkbox" class="task-history__filter" target="change-type-{{ type }}" checked="checked">
    <label for="task-history__filter_{{ type }}">{{ label }}</label>
</div>
