{% load i18n thumbnail static mptt_tags %}
{% load url from future %}

<div class="page-header">

    {% include "project/common/page_title.html" %}

    <hr>

    {% if query_name == "query_manager_tasks_control_percent" %}
        <div class="filters__item users-stat-filters__period">
            <form action="" method="GET" accept-charset="utf-8">
                {{ filters_form.media }}
                {{ filters_form.as_p }}
                <span class="users-stat-filters-period__submit-container"><input type="submit" value="Показать"/></span>

            </form>
        </div>

    {% else %}
        <h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Период:" %}</h4>
        <form style="padding-top:6px;" id="zp">
            <select id="period" name="period" style="float: left; margin-right: 5px; width: 200px;">
                <option value="current_month" {% if period == "current_month" %}selected{% endif %}>{% trans "Текущий месяц" %}</option>
                <option value="week" {% if period == "week" %}selected{% endif %}>{% trans "Последняя неделя" %}</option>
                <option value="month" {% if period == "month" %}selected{% endif %}>{% trans "Последний месяц" %}</option>
                <option value="quarter" {% if period == "quarter" %}selected{% endif %}>{% trans "Последний квартал" %}</option>
                <option value="year" {% if period == "year" %}selected{% endif %}>{% trans "Последний год" %}</option>
            </select>

            <h4 style="float: left; margin-right: 10px; margin-top: 4px; margin-left: 30px">{% trans "Вид:" %}</h4>
            <select id="type" name="type" style="width: 100px;">
                <option value="table" {% if type == "table" %}selected{% endif %}>{% trans "Таблица" %}</option>
                {% if query_name == "query_load_distribution" or query_name == "query_tasks_value" or query_name == "query_manager_tasks_control_percent" %}
                    <option value="bar" {% if type == "bar" %}selected{% endif %}>{% trans "Столбцы" %}</option>
                    <option value="pie" {% if type == "pie" %}selected{% endif %}>{% trans "Круги" %}</option>
                {% endif %}
            </select>
            {% if node %}
                {% for tree, structure in node|tree_info %}
                    {% if forloop.first %}
                        {% if tree.id != tree.get_root.id %}
                            <nav>
                                <a href='{% url query_name tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}&back=1'>{% trans "Назад" %}</a>
                            </nav>
                            <a href="{% url query_name tree.id %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
                               rel="{% url query_name tree.id %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
                               id="var_print" style="float: right; font-weight: bold;"
                               class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
                        {% else %}
                            <a href="{% url query_name %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
                               rel="{% url query_name %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
                               target="_blank" id="var_print" style="float: right; font-weight: bold;"
                               class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        </form>
    {% endif %}

</div>
