{% load i18n thumbnail static mptt_tags %}
{% load url from future %}

<div class="page-header">

    {% include "project/common/page_title.html" %}

    <hr>

    <div class="dashboard-filters__period row-fluid">
        <form class="form-inline form-inline_top-label" action="" method="GET" accept-charset="utf-8">
            {{ filters_form.media }}
            {{ filters_form.as_p }}
                <span class="filters__submit-container">
                    <input type="submit" value="Показать"/>
                </span>
        </form>
    </div>


</div>
