{% load i18n thumbnail static mptt_tags %}
{% load url from future %}

<table class="table table-striped tablesorter">
    <thead>
        <tr>
            <th>{% trans "№ п.п." %}</th>
            <th width="250">{% trans "Подразделение" %}</th>
            <th width="170">{% trans "Сотрудник" %}</th>
            <th width="180">{% trans "Должность" %}</th>
            {% if query_name == "query_tasks_value" %}
                <th width="260">{% trans "Поручение" %}</th>
                <th>{% trans "Ценность поручения" %}</th>
            {% elif query_name == "query_load_distribution" %}
                <th>{% trans "Количество поручений" %}</th>
                <th>{% trans "Среднее количество поручений в подразделении" %}</th>
            {% elif query_name == "query_timeliness" %}
                <th>{% trans "Степень своевременности" %}</th>
                <!--<th><a href="?order_by=timeliness">{% trans "Степень своевременности" %}</a></th>-->
            {% endif %}
            {% if query_name != "query_timeliness" %}
                <th>{% trans "Вклад подразделения в общий объем поручений Агентства / сотрудника в подразделение" %}</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% if tree_detail %}
        {% for tree, structure in node|tree_info %}
            {% if forloop.counter == 1 %}
                <tr class="lev0 checkbox_dep null_{{ tree.task_count }}">
                    <td></td>
                    <td colspan="3">
                        <center><b>{{ tree.title }}</b></center>
                    </td>
                    {% if query_name == "query_tasks_value" %}
                        <td></td>
                        <td>{{ tree.value }}</td>
                    {% elif query_name == "query_load_distribution" %}
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.average|floatformat:"-1" }}</td>
                    {% elif query_name == "query_timeliness" %}
                        <td>{{ tree.timeliness|floatformat:"-1" }}</td>
                    {% endif %}
                    {% if query_name != "query_timeliness" %}
                        <td>{{ tree.contribution|floatformat:"-2" }}%</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if tree.is_leaf_node and node|length == 1 %}
                {% for user in tree.users %}
                    <tr class="users_tr null_{{ user.task_count }}">
                        <td>{% if is_dbg %}1 {% endif %}{{ tree.nums }}.{{ forloop.counter }}</td>
                        <td width="250">{{ user.tree|default:"--" }}</td>
                        <td width="170">
                            <a href="{% url 'user-history-view' user_id=user.user.id %}"><b>{{ user }}</b></a>
                        </td>
                        <td width="180">{{ user.job|default:"--" }}</td>
                        {% if query_name == "query_tasks_value" %}
                            <td colspan="2">
                                <table class="subtable table-striped tablesorter">
                                    {% for task in user.tasks %}
                                        <tr>
                                            <td width="250">{{ task.title }}</td>
                                            <td>{{ task.value }}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </td>
                        {% elif query_name == "query_load_distribution" %}
                            <td>{{ user.task_count }}</td>
                            <td></td>
                        {% elif query_name == "query_timeliness" %}
                            <td>{{ user.timeliness|floatformat:"-1" }}</td>
                        {% endif %}
                        {% if query_name != "query_timeliness" %}
                            <td>{{ user.contribution|floatformat:"-1" }}%</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% else %}
                {% if forloop.first %}
                    {% if tree.id != tree.get_root.id %}
                        <tr class="users_tr null_{{ tree.users.0.task_count }}">
                            <td>{% if is_dbg %}2 {% endif %}{{ tree.nums }}.{{ forloop.counter }}</td>
                            <td>{{ tree.users.0.tree|default:"--" }}</td>
                            <td>
                                <a href="{% url 'user-history-view' user_id=tree.users.0.user.id %}"><b>{{ tree.users.0 }}</b></a>
                            </td>
                            <td>{{ tree.users.0.job|default:"--" }}</td>
                            {% if query_name == "query_tasks_value" %}
                                <td colspan="2">
                                    <table class="subtable table-striped tablesorter">
                                        {% for task in tree.users.0.tasks %}
                                            <tr>
                                                <td width="250">{{ task.title }}</td>
                                                <td>{{ task.value }}</td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </td>
                            {% elif query_name == "query_load_distribution" %}
                                <td>{{ tree.users.0.task_count }}</td>
                                <td></td>
                            {% elif query_name == "query_timeliness" %}
                                <td>{{ tree.users.0.timeliness|floatformat:"-1" }}</td>
                            {% endif %}
                            {% if query_name != "query_timeliness" %}
                                <td>{{ tree.users.0.contribution|floatformat:"-1" }}%</td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% else %}
                    <tr class="lev0 checkbox_dep null_{{ tree.task_count }}">
                        <td>{% if is_dbg %}3 {% endif %}{{ tree.nums }}</td>
                        <td>
                            <a href='{% url query_name tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}'>{{ tree.users.0.tree }}</a>
                        </td>
                        <td>
                            <a href="{% url 'user-history-view' user_id=tree.users.0.user.id %}">{{ tree.users.0 }}</a>
                        </td>
                        <td>{{ tree.users.0.job }}</td>
                        {% if query_name == "query_tasks_value" %}
                            <td></td>
                            <td>{{ tree.value }}</td>
                        {% elif query_name == "query_load_distribution" %}
                            <td>{{ tree.task_count }}</td>
                            <td>{{ tree.average|floatformat:"-1" }}</td>
                        {% elif query_name == "query_timeliness" %} 
                            <td>{{ tree.timeliness|floatformat:"-1" }}</td>
                        {% endif %}
                        {% if query_name != "query_timeliness" %} 
                            <td>{{ tree.contribution|floatformat:"-1" }}%</td>
                        {% endif %}
                    </tr>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% for tree, structure in node|tree_info %}
            {% if tree.level == 0 %}
                <tr>
                    <td></td>
                    <td colspan="3">
                        <center><b>{{ tree.title }}</b></center>
                    </td>
                    {% if query_name == "query_tasks_value" %}
                        <td></td>
                        <td>{{ tree.value }}</td>
                    {% elif query_name == "query_load_distribution" %}
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.average|floatformat:"-1" }}</td>
                    {% elif query_name == "query_timeliness" %}    
                        <td>{{ tree.timeliness|floatformat:"-1" }}</td>
                    {% endif %}
                    {% if query_name != "query_timeliness" %} 
                        <td>{{ tree.contribution|floatformat:"-2" }}%</td>
                    {% endif %}
                </tr>
            {% endif %}
            {% if tree.level == 1 %}
                <tr class="lev0 checkbox_dep null_{{ tree.task_count }}">
                    <td>{% if is_dbg %}4 {% endif %}{{ tree.nums }}</td>
                    <td width="250">
                        <a href='{% url query_name tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}'>{{ tree.users.0.tree }}</a>
                    </td>
                    <td width="170">{{ tree.users.0 }}</td>
                    <td width="180">{{ tree.users.0.job }}</td>
                    {% if query_name == "query_tasks_value" %}
                        <td width="240"></td>
                        <td>{{ tree.value }}</td>
                    {% elif query_name == "query_load_distribution" %}
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.average|floatformat:"-1" }}</td>
                    {% elif query_name == "query_timeliness" %}
                        <td>{{ tree.timeliness|floatformat:"-1" }}</td>
                    {% endif %}
                    {% if query_name != "query_timeliness" %}
                        <td>{{ tree.contribution|floatformat:"-1" }}%</td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    {% endif %}
    </tbody>
</table>
