{% load i18n thumbnail static mptt_tags %}

<select id="type" name="type" style="float: left; margin-right: 5px; width: 100px;">
    {% for month_name in month_names %}
        <option value="{{ forloop.counter }}" {% if month == forloop.counter %}selected="selected"{% endif %}>{% trans month_name %}</option>
    {% endfor %}
</select>
