{% include "project/common/checkbox_script.html" %}

<div class="row-fluid">
    <div class="profile-period-filters filters">
      <div class="filters__item">
          <form class="form-inline" action="" method="GET" accept-charset="utf-8">
              {{ filters_form.media }}
              {{ filters_form.as_p }}
              <span class="filters__submit-container">
                  <input type="submit" value="Показать"/>
              </span>
          </form>
      </div>
    </div>
</div>


<div class="user_tasks" style="clear: both">

    <form style="padding-top:6px; margin-bottom: 10px; display: inline-block;">
        {%if can_view_tasks %}
            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="open" table="task_list" class="btn checkbox_button default" id="checkbox_open">
                Открытые ({{ open_tasks_count }})
            </div>

            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="completed" table="task_list" class="btn checkbox_button" id="checkbox_done">
                Выполненные ({{ complete_tasks_count }})
            </div>

            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="overdue" table="task_list" class="btn checkbox_button" id="checkbox_overdue">
                Просроченные ({{ overdue_tasks_count }})
            </div>

            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="deleted" table="task_list" class="btn checkbox_button" id="checkbox_deleted">
                Удаленные ({{ deleted_tasks_count }})
            </div>

            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="all" table="task_list" class="btn checkbox_button" id="checkbox_all">
                Все ({{ tasks_count }})
            </div>
        {% endif %}

        {% if can_view_tasks or from_request_user_tasks_count %}
            <div style="float: left; margin-right: 5px; font-weight: bold;" rel="user_tasks_selector" target="from_me" table="task_list" class="btn checkbox_button" id="checkbox_from_me">Назначенные ({{ from_request_user_tasks_count }})</div>
        {% endif %}
    </form>

    {% if can_view_tasks or from_request_user_tasks_count %}
        <div class="history_list" id="history_list">
            {% include "project/history-list-date-period.html" with tasks=tasks profile=profile tasks_count=tasks_count %}
        </div>

        <div id="task_detail">
            <center><h1>Выберите поручение из списка</h1></center>
        </div>
    {% endif %}
</div>
