{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block title %}{% trans "Список сотрудников" %}{% endblock %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}


    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans "Список сотрудников Агентства" %}</h1>

            <div class="button_panel" style="margin-top: 20px; text-align: right;">
                <a download="account_list.xls" class="btn btn-small btn-primary" onclick="return ExcellentExport.excel(this, 'account_list_table', 'Account List');">Экспортировать в XLS</a>

            </div>
        </div>
        <table class="table table-striped  tablesorter" id="account_list_table">
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Подразделение" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tree, structure in node|tree_info %}
                {% if tree.level == 0 %}
                    <tr>
                        <td></td>
                        <td colspan="3">
                            <center><b>{{ tree.title }}</b></center>
                        </td>
                    </tr>
                {% else %}
                    <tr class="lev{{ tree.level }}">
                        <td>{{ tree.nums }}</td>
                        <td colspan="3"><b>{{ tree.title }}</b></td>
                    </tr>
                    {% for user in tree.get_user_profiles %}
                        <tr>
                            <td>{{ tree.nums }}.{{ forloop.counter }}</td>
                            <td width="180">
                                {% if user.profile_picture %}
                                    {% thumbnail user.profile_picture "40x40" crop="center" as im %}
                                        <img src="{{ im.url }}" style="float: left; vertical-align: top; margin-right: 5px;">{% endthumbnail %}
                                {% else %}
                                    <img src="/static/project/img/default.png" width="40" height="40" style="float: left; vertical-align: top; margin-right: 5px;">
                                {% endif %}
                                <b><a href="{% url view_account user.user.username %}">{{ user }}</a></b
                            </td>
                            <td>{{ user.job|default:"--" }}</td>
                            <td>{{ user.tree|default:"--" }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

