{% extends "project/base.html" %}
{% load i18n %}
{% block title %}{% trans "Invaite" %}{% endblock %}

{% block ACC_MANAGER %}

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="tabbable">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#1" data-toggle="tab">{% trans "Добавить приглашение" %}</a></li>
            <li><a href="#2" data-toggle="tab">{% trans "Список приглашениев" %}</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="1">
                {% if form %}
                    {% trans "С помощью приглашения, можно добавить в систему нового пользователя, путем отправления ему кода приглашения для регистрации." %}
                    <br>
                    <br>
                    <form action="" method="post">
                        {{ form }}
                        {% csrf_token %}
                        <br>
                        <br>
                        <input type="submit" class="default btn" value={% trans "Отправить" %}>
                    </form>
                {% else %}
                    {% trans "Invaite sended" %}
                {% endif %}
            </div>
            <div class="tab-pane" id="2">
                <table class="table table-striped">
                    <tr>
                       <th>{% trans "Приглашения" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "Активен" %}</th>
                    </tr>
                    {% for l in list %}
                        <tr>
                          <td>{{ l.key }}</td>
                          <td>{{ l.email }}</td>
                          <td><img src="/static/accounts/images/{{ l.active }}.png"></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}