{% extends "project/base.html" %}
{% load i18n %}
{% block title %}{% trans "Управление подразделениями и отделам" %}{% endblock %}


{% block ACC_MANAGER %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">{% trans "Добавить отдел или подразделение" %}</a></li>
                <li><a href="#2" data-toggle="tab">{% trans "Список отделов и подразделений" %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    {% if form %}
                        {% trans "Укажите название подразделения и выберите руководителя" %}
                        <br>
                        <br>
                        <form action="" method="post">
                            {{ form }}
                            {% csrf_token %}
                            <br>
                            <br>
                            <input type="submit" class="default btn" value={% trans "Добавить" %}>
                        </form>
                    {% endif %}
                </div>
                <div class="tab-pane" id="2">
                    <table class="table table-striped">
                        <tr>
                            <th>{% trans "Название" %}</th>
                            <th>{% trans "Руководитель" %}</th>
                            <th>{% trans "Права доступа" %}</th>
                            <th>{% trans "Действия" %}</th>
                        </tr>
                        {% for l in list %}
                            <tr>
                                <td>{{ l.title }}</td>
                                <td>{{ l.dep }}</td>
                                <td>{% for a in  l.manager.all %}{{ a.get_profile.get_names }}{% if not forloop.last %}, {% endif %}{% endfor %}</td>
                                <td><a href="{% url admin:accounts_department_change l.id %}">[редактировать]</a> <a href="{% url admin:accounts_department_delete l.id %}">[удалить]</a></td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}