{% extends "project/base.html" %}
{% load i18n %}
{% block title %}{% trans "Управление сотрудниками" %}{% endblock %}


{% block ACC_MANAGER %}

{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="tabbable">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#1" data-toggle="tab">{% trans "Добавить сотрудника" %}</a></li>
                <li><a href="#2" data-toggle="tab">{% trans "Список сотрудников" %}</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="1">
                    {% if form %}
                        <form action="" method="post">
                            {{ form }}
                            {% csrf_token %}
                            <br>
                            <br>
                            <input type="submit" class="default btn" value={% trans "Сохранить" %}>
                        </form>
                    {% endif %}
                <br>
                    <h4>Пользователь будет окончательно добавлен после подтверждения администратором</h4>
                </div>
                <div class="tab-pane" id="2">
                            <div class="overview">
                                <table id="user_list" class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>{% trans "ID" %}</th>
                                        <th>{% trans "Логин" %}</th>
                                        <th>{% trans "Email" %}</th>
                                        <th>{% trans "Фамилия" %}</th>
                                        <th>{% trans "Имя" %}</th>
                                        <th>{% trans "Отчество" %}</th>
                                        <th>{% trans "Должность" %}</th>
                                        <th>{% trans "В группе" %}</th>
                                        <th>{% trans "Активен" %}</th>
                                        <th>{% trans "Доступ в менеджер" %}</th>
                                        <th>{% trans "Администратор" %}</th>
                                        <th>{% trans "Расширенное редактирование" %}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for p in users_list %}
                                        <tr rel="{{ p.id }}">
                                            <td>{{ p.id }}</td>
                                            <td>{{ p.username }}</td>
                                            <td>{{ p.email|default:"------" }}</td>
                                            <td>{{ p.last_name|default:"------" }}</td>
                                            <td>{{ p.first_name|default:"------" }}</td>
                                            <td>{{ p.get_profile.middle_name|default:"------" }}</td>
                                            <td>{{ p.get_profile.job|default:"------" }}</td>
                                            <td>{% for e in p.groups.all %}{{ e.name  }} {% if  not forloop.last %},{% endif %}{% endfor %}</td>
                                            <td><img src="/static/accounts/images/{{ p.is_active }}.png"></td>
                                            <td><img src="/static/accounts/images/{{ p.is_staff }}.png"></td>
                                            <td><img src="/static/accounts/images/{{ p.is_superuser }}.png"></td>
                                            <td width="280" style="font-size: 10px">
                                                <a href="{% url admin:auth_user_change p.id %}">[редактировать аккаунт]</a><br>
                                                {% if p.get_profile.pk %}<a href="{% url admin:accounts_userprofile_change p.get_profile.pk %}">[редактировать профиль]</a>{% endif %}<br>
                                                <a href="{% url admin:auth_user_delete p.id %}">[удалить]</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}