{% load i18n %}
<div style="margin-left:40%">
<form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-row">
        {{ form.username.errors }}
        <label for="id_username"><b>{% trans 'Логин:' %}</b></label> <input type="text" name="username" id="id_username" />
    </div>
    <div class="form-row">
        {{ form.password.errors }}
        <label for="id_password"><b>{% trans 'Пароль:' %}</b></label> <input type="password" name="password" id="id_password" />
        <input type="hidden" name="this_is_the_login_form" value="1" />
        <input type="hidden" name="post_data" value="{{ post_data }}" />
        <br>
        <span class="help"><a href="{% url registration_register %}">{% trans 'Зарегистрироваться' %}</a>  || </span>
        <span class="help"><a href="{% url django.contrib.auth.views.password_reset %}">{% trans 'Я забыл пароль' %}</a></span>
    </div>
    <div class="submit-row">
        <label>&nbsp;</label><input type="submit" class="btn btn-primary btn-large " value="{% trans 'Log in' %}" />
    </div>
    <script type="text/javascript">
    document.getElementById('id_username').focus()
    </script>
</form>
</div>