{% load i18n %}

<link href="{{ STATIC_URL }}accounts/css/profile_form.css" rel="stylesheet">
<script src="{{ STATIC_URL }}accounts/js/profile_form.js"></script>

<form method="post" enctype="multipart/form-data" class="profile-form">
    <div class="form-actions form-actions_top">
        <h1 class="page-title pull-left">Редактирование карточки</h1>
        
        <div class="pull-right">
            <a href="{% url view_account username=request.user.username %}" class="btn-cancel btn btn-default btn-large">Отменить</a>
            <input type="submit" class="btn-save btn btn-success btn-large" value="Сохранить">
        </div>
    </div>

    <div class="profile-form__fields row-fluid">
        <div class="span3 profilte-form__left-col">
            <div class="profile-form__profile-picture">
                {% if pform.instance.profile_picture.url %}
                    <img src="{{ pform.instance.profile_picture.url }}"/>
                {% endif %}
                {% include "helper/image_widget_type1.html" with field=pform.profile_picture label="Загрузить новую фотографию" %}
            </div>
        </div>

        <div class="span9 profilte-form__right-col">
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=uform.first_name %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.middle_name %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=uform.last_name %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.birthday %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.job %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.tree %}
            <hr/>
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=uform.email %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.private_email %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.work_phone %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.mobile_phone %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.skype %}
            <hr/>
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.competence %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.experience %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.feedback %}
            {% include "helper/form_field_type1.html" with base_form_class="profile-form" field=pform.send_email %}

            <hr/>

            <div class="profile-form__description form-description">
                <span class="required">*</span> - Поле необходимо для заполнения.
            </div>
        </div>
    </div>

    <div class="form-actions form-actions_bottom">
        <div class="pull-right">
            <a href="{% url view_account username=request.user.username %}" class="btn-cancel btn btn-default btn-large">Отменить</a>
            <input type="submit" class="btn-save btn btn-success btn-large" value="Сохранить">
        </div>
    </div>
</form>
