{% extends "project/base.html" %}
{% load i18n %}

{% block title %}{% trans "Управление аккаунтом" %}{% endblock %}

{% block css %}
    {{ block.super }}
    <link href="/static/accounts/css/view_account.css" rel="stylesheet">
{% endblock %}


{% block ACC_MANAGER %}

{% endblock %}

{% block content %}


    <div class="container-fluid profile-view">
        <div class="page-header">
            <h1 class="page-title pull-left">Моя карточка</h1>
            <div class="pull-right actions">
              {% if profile.user.id == request.user.id %}
                <a class="btn btn-warning btn-large" href="{% url edit_account %}">Редактировать</a>
              {% endif %}
            </div>
        </div>

        <div class="profile-view__profile row-fluid">
          <div class="span3 profilte-view__left-col">
            <div class="profile-view__field field-profile_picture">
                {% if profile.profile_picture.url %}
                    <img src="{{ profile.profile_picture.url }}"/>
                {% endif %}
            </div>
            {% include "helper/field_view_type1.html" with base_class="profile-view-contacts" field_name="email" value=profile.user.email %}
            {% include "helper/field_view_type1.html" with base_class="profile-view-contacts" field_name="private_email" value=profile.private_email %}
            {% include "helper/field_view_type1.html" with base_class="profile-view-contacts" field_name="mobile_phone" value=profile.mobile_phone %}
            {% include "helper/field_view_type1.html" with base_class="profile-view-contacts" field_name="work_phone" value=profile.work_phone %}
            {% include "helper/field_view_type1.html" with base_class="profile-view-contacts" field_name="skype" value=profile.skype %}
          </div> {# .profilte-view__left-col #}

          <div class="span9 profilte-view__right-col">
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="fio" label="ФИО" value=profile.get_names %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="job" label=profile.get_verbose_names.job value=profile.job %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="tree" label=profile.get_verbose_names.tree value=profile.tree %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="location" label=profile.get_verbose_names.location value=profile.location %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="birthday" label=profile.get_verbose_names.birthday value=profile.birthday %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="competence" label=profile.get_verbose_names.competence value=profile.competence %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="experience" label=profile.get_verbose_names.experience value=profile.experience %}
            {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="feedback" label=profile.get_verbose_names.feedback value=profile.feedback %}

            {% if can_view_review_fields %}
              {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="kadr" label=profile.get_verbose_names.kadr value=profile.kadr %}
              {% include "helper/field_view_type1.html" with base_class="profile-view" field_name="boss_review" label=profile.get_verbose_names.boss_review value=profile.boss_review %}
            {% endif %}
          </div> {# .profilte-view__right-col #}
        </div> {# .row-fluid #}

        <div class="row-fluid profile-view__projects">
          {% block profile_projects %}
          {% endblock %}
        </div> {# .profile-view__projects #}

        <div class="row-fluid profile-view__tasks">
          {% block profile_tasks %}
          {% endblock %}
        </div> {# .profile-view__tasks #}

        {#TASKS#}
        {% block account_task %}
        {% endblock %}



    </div>
{% endblock %}

