{% extends "project/base.html" %}
{% load i18n thumbnail static %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    
    {% include "project/graph/1_script.html" %}
    
    <div class="container-fluid">
        <hr>
        <h3 style="float: left; margin-right: 10px;">{% trans "Сотрудники:" %}</h3>
        <form style="margin-top: 10px;" id="zp">
            <select id="otd" name="otd">
                <option value="">-----</option>
                {% for o in otd %}
                    <option value="{{ o.user.id }}" {% if request.GET.otd == o.user.id|stringformat:"s" %}selected="selected"{% endif %}>{{ o.get_names }}</option>
                {% endfor %}
            </select>
            <a href="{% url graph_1 %}?print=1&otd={{ request.GET.otd|urlencode }}"
               rel="{% url graph_1 %}?print=1&otd={{ request.GET.otd|urlencode }}"
               target="_blank" id="var_print" style="float: right; font-weight: bold;"
               class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
        </form>
        <h4>{{ chart.title }} {% if uss %}{% trans "для" %} {{ uss }}{% endif %}</h4>
        <hr>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}