{% load i18n thumbnail static %}

<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <style type="text/css" media="print,screen">
        th {
            color: black;
            background-color: lightgrey;
        }
		
		.highcharts-legend-item{
			font-size: 18pt;
		}

        thead {
            display: table-header-group;
            position: relative;
        }

        tbody {
            display: table-row-group;
        }
    </style>
</head>

{% include "project/graph/1_script.html" %}

<body onload="delayPrint();">
    <div class="container-fluid">
        <hr>
        <h3 style="float: left; margin-right: 10px;">{% trans "Сотрудники:" %}</h3>
        <form style="margin-top: 10px;" id="zp">
        </form>
        <h4>{{ chart.title }} {% if uss %}{% trans "для" %} {{ uss }}{% endif %}</h4>
        <hr>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</body>
</html>