{% extends "project/base.html" %}
{% load i18n thumbnail  static %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if chart %}
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'line',
                    zoomType: 'x',
                    reflow: false,
                    borderWidth: 0,
                    backgroundColor: null,
                    marginRight: 20
                },
                title: {
                    text: '{{ chart.title }}'
                },
                subtitle: {
                    text: '{{ chart.desc }}'
                },
                xAxis: {
                    categories: [{% for d in chart.line %} '{{ d }}' {% if not forloop.last %}, {% endif %}{% endfor %}]
                },
                yAxis: {
                    title: {
                        text: 'Кривая'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
                {% if not chart.arr %}
                    series: [{
                        name: '{{ chart.title }}',
                        data: [{% for d in chart.db %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                    }
                    ],
                {% endif %}

            });
            {% endif %}
            $('#year').change(function() {
                $('#zp').submit();
            });

        });
    </script>
    <div class="container-fluid">
        <hr>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}