{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#year').change(function() {
                $('#zp').submit();
            });


{#    comment    #}
            {% if chart %}
                var chart1Options = {
                    chart: {
                        renderTo: 'container',
                        type: 'pie',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: "{{ chart.title }}"
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                        percentageDecimals: 1
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                color: '#000000',
                                connectorColor: '#000000',
                                formatter: function () {
                                    return '<b>' + this.point.name + '</b>: ' + Number(this.percentage).toFixed(2) + ' %';
                                }
                            }
                        }
                    },
                    series: [
                        {
                            name: 'Процент поручений от общего числа',
                            data: [
                                {% for month,year,count in all_tasks %}
                                    {% if count %}
                                    [String({{ year }}) +' '+ monthConverter({{ month }}),{{count}}],

                                    {% endif %}
                                {% endfor %}
                            ]
                        }
                    ]
                };
                var chart1 = new Highcharts.Chart(chart1Options);
            {% endif %}

            {% if chart %}
                var chart2Options = {
                    chart: {
                        renderTo: 'container2',
                        type: 'column',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        {#                    marginBottom: 300#}
                    },
                    title: {
                        text: "{{ chart2.title }}"
                    },
                    legend: {
                        layout: 'horizontal',
                        borderWidth: 0
                        {#                    align: 'left',#}
                        {#                    floating: true#}
                    },
                    xAxis: {
                        categories: ["Распределение по месяцам"]
                    },
                    yAxis: {
                        title: {
                            text: 'Количество поручений'
                        }
                    },
                    series: [
                        {% for month,year,count in all_tasks %}
                            {% if count %}
                                {
                                    name: String({{ year }})+' '+ monthConverter({{ month }}),
                                    data: [{{count}}]
                                },
                            {% endif %}
                        {% endfor %}
                    ]
                };
                chart2Options = jQuery.extend(true, {}, chart2Options);
                var chart2 = new Highcharts.Chart(chart2Options);
            {% endif %}
        });

        function monthConverter(index){
            var months = ['Январь','Февраль','Март','Апрель','Май','Июнь','Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'];
            var month = months[index-1];
            return month
        }

        ///////////////////

        Highcharts.theme = {
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#f2eb00', '#55c99e','#a25df4','#0007ff','#f60459'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 240, 255)']
                    ]
                },
                borderWidth: 2,
                plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                plotShadow: true,
                plotBorderWidth: 1
            },
            title: {
                style: {
                    color: '#000',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            subtitle: {
                style: {
                    color: '#666666',
                    font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            xAxis: {
                gridLineWidth: 1,
                lineColor: '#000',
                tickColor: '#000',
                labels: {
                    style: {
                        color: '#000',
                        font: '11px Trebuchet MS, Verdana, sans-serif'
                    }
                },
                title: {
                    style: {
                        color: '#333',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'

                    }
                }
            },
            yAxis: {
                minorTickInterval: 'auto',
                lineColor: '#000',
                lineWidth: 1,
                tickWidth: 1,
                tickColor: '#000',
                labels: {
                    style: {
                        color: '#000',
                        font: '11px Trebuchet MS, Verdana, sans-serif'
                    }
                },
                title: {
                    style: {
                        color: '#333',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    }
                }
            },
            legend: {
                itemStyle: {
                    font: '9pt Trebuchet MS, Verdana, sans-serif',
                    color: 'black'

                },
                itemHoverStyle: {
                    color: '#039'
                },
                itemHiddenStyle: {
                    color: 'gray'
                }
            },
            labels: {
                style: {
                    color: '#99b'
                }
            }
        };

        // Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

        //////////////////
    </script>
    <div class="container-fluid">
        <h2>{% trans "Динамика количества поручений в организации за последние 12 месяцев" %}</h2>
        <hr>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
        <div id="container2" style="min-width: 400px; height: 600px; margin: 15px auto 0;"></div>
    </div>
{% endblock %}