{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        ///////////////////

        Highcharts.theme = {
            colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#f2eb00', '#55c99e', '#a25df4', '#0007ff', '#f60459'],
            chart: {
                backgroundColor: {
                    linearGradient: [0, 0, 500, 500],
                    stops: [
                        [0, 'rgb(255, 255, 255)'],
                        [1, 'rgb(240, 240, 255)']
                    ]
                },
                borderWidth: 2,
                plotBackgroundColor: 'rgba(255, 255, 255, .9)',
                plotShadow: true,
                plotBorderWidth: 1
            },
            title: {
                style: {
                    color: '#000',
                    font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            subtitle: {
                style: {
                    color: '#666666',
                    font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
                }
            },
            xAxis: {
                gridLineWidth: 1,
                lineColor: '#000',
                tickColor: '#000',
                labels: {
                    style: {
                        color: '#000',
                        font: '11px Trebuchet MS, Verdana, sans-serif'
                    }
                },
                title: {
                    style: {
                        color: '#333',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'

                    }
                }
            },
            yAxis: {
                minorTickInterval: 'auto',
                lineColor: '#000',
                lineWidth: 1,
                tickWidth: 1,
                tickColor: '#000',
                labels: {
                    style: {
                        color: '#000',
                        font: '11px Trebuchet MS, Verdana, sans-serif'
                    }
                },
                title: {
                    style: {
                        color: '#333',
                        fontWeight: 'bold',
                        fontSize: '12px',
                        fontFamily: 'Trebuchet MS, Verdana, sans-serif'
                    }
                }
            },
            legend: {
                itemStyle: {
                    font: '9pt Trebuchet MS, Verdana, sans-serif',
                    color: 'black'

                },
                itemHoverStyle: {
                    color: '#039'
                },
                itemHiddenStyle: {
                    color: 'gray'
                }
            },
            labels: {
                style: {
                    color: '#99b'
                }
            }
        };

        // Apply the theme
        var highchartsOptions = Highcharts.setOptions(Highcharts.theme);
/////////////////////////////////////////////////////////////////////////////////////////////////////
        $('#year').change(function () {
            $('#zp').submit();
        });
        $('#type').change(function () {
            $('#zp').submit();
        });

        {% if chart %}
            var chart1Options = {
                chart: {
                    renderTo: 'container1',
                    type: 'pie',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: "{{ chart.title }}"
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                    percentageDecimals: 1
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function () {
                                return '<b>' + this.point.name + '</b>: ' + Number(this.percentage).toFixed(2) + ' %';
                            }
                        }
                    }
                },
                series: [
                    {
                        name: 'Процент поручений от общего числа',
                        data: [
                            {% for element,percent in pie_list %}
								{%if percent%} 
                                ["{{ element }}".replaceAll('&quot;', '') , replaceCommaToDot("{{ percent }}") ],
								{% endif %}
                            {% endfor %}
                        ]
                    }
                ]
            };
            var chart1 = new Highcharts.Chart(chart1Options);
        {% endif %}

        {% if chart2 %}
            var chart2Options = {
                chart: {
                    renderTo: 'container2',
                    type: 'column',
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    {#                    marginBottom: 300#}
                },
                title: {
                    text: "{{ chart2.title }}"
                },
                legend: {
                    layout: 'vertical',
                    borderWidth: 0
                    {#                    align: 'left',#}
                    {#                    floating: true#}
                },
                xAxis: {
                    categories: ['Название отделений/управлений']
                },
                yAxis: {
                    title: {
                        text: 'Количество поручений'
                    }
                },
                series: [
                    {% for title,value in chart2.data %}
                        {% if value %}
                            {
                                name: "{{ title }}",
                                data: [ {{value}} ]
                            },
                        {% elif not value%}
                            {
                                name: "{{ title }}",
                                data: [ null ]
                            },
                        {% endif %}
                    {% endfor %}
                ]
            };
            chart2Options = jQuery.extend(true, {}, chart2Options);
            var chart2 = new Highcharts.Chart(chart2Options);
        {% endif %}
    });
    function replaceCommaToDot(textReplace) {
        return parseFloat(Number(textReplace.replace(',', '.')).toFixed(2));
    }

    String.prototype.replaceAll = function (search, replace) {
        return this.split(search).join(replace);
    }

    //////////////////
    </script>
    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Распределение нагрузки сотрудников и подразделений" %}
                - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
            <hr>
            <h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Выбрать дату:" %}</h4>

            <form style="padding-top:6px;" id="zp">
                <select id="type" name="type" style="float: left; margin-right: 5px; margin-bottom: 0px; width: 100px;">
                    <option value="1" {% if month == 1 %}selected="selected"{% endif %}>{% trans "Январь" %}</option>
                    <option value="2" {% if month == 2 %}selected="selected"{% endif %}>{% trans "Февраль" %}</option>
                    <option value="3" {% if month == 3 %}selected="selected"{% endif %}>{% trans "Март" %}</option>
                    <option value="4" {% if month == 4 %}selected="selected"{% endif %}>{% trans "Апрель" %}</option>
                    <option value="5" {% if month == 5 %}selected="selected"{% endif %}>{% trans "Май" %}</option>
                    <option value="6" {% if month == 6 %}selected="selected"{% endif %}>{% trans "Июнь" %}</option>
                    <option value="7" {% if month == 7 %}selected="selected"{% endif %}>{% trans "Июль" %}</option>
                    <option value="8" {% if month == 8 %}selected="selected"{% endif %}>{% trans "Август" %}</option>
                    <option value="9" {% if month == 9 %}selected="selected"{% endif %}>{% trans "Сентябрь" %}</option>
                    <option value="10" {% if month == 10 %}selected="selected"{% endif %}>{% trans "Октябрь" %}</option>
                    <option value="11" {% if month == 11 %}selected="selected"{% endif %}>{% trans "Ноябрь" %}</option>
                    <option value="12" {% if month == 12 %}selected="selected"{% endif %}>{% trans "Декабрь" %}</option>
                </select>

                <select id="year" name="year" style="float: left; margin-right: 5px; width: 100px;">
                    <option value="2012" {% if year == 2012 %}selected="selected"{% endif %}>2012</option>
                    <option value="2013" {% if year == 2013 %}selected="selected"{% endif %}>2013</option>
                    <option value="2014" {% if year == 2014 %}selected="selected"{% endif %}>2014</option>
                    <option value="2015" {% if year == 2015 %}selected="selected"{% endif %}>2015</option>
                </select>
            </form>
            <br/>

            <div id="container1" style="min-width: 400px; height: 400px; margin: 5px auto 0;"></div>
            <div id="container2" style="min-width: 400px; height: 600px; margin: 15px auto 0;"></div>


        </div>
    </div>
{% endblock %}