{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <style type="text/css" media="print,screen">
        th {
            color: black;
            background-color: lightgrey;
        }

		.highcharts-legend-item{
			font-size: 18pt;
		}

        thead {
            display: table-header-group;
            position: relative;
        }

        tbody {
            display: table-row-group;
        }

        @media print{@page {size: 1}}
    </style>
</head>

{% include "project/graph/load_distribution_script.html" %}

<body onload="showPeriod();" style="padding: 10px;">
<div>
    <div class="page-header_print">
        {% include "project/common/page_title.html" %}
        <form style="padding-top:6px;" id="zp">
        </form>
    </div>
    <div id="container1" style="min-width: 400px; min-height: 600px; margin: /*15px auto */0; {% if chart_type != "pie" %} display:none; {% endif %}"></div>
    <div id="container2" style="min-width: 400px; min-height: 600px; margin: /*15px auto */0; {% if chart_type != "bar" %} display:none; {% endif %}"></div>


</div>
{% if query_name == "query_load_distribution" %}
    {% for tree, structure in node|tree_info  %}
        {% if tree.task_count %}
            {% if tree.level == 1 and not tree_detail or tree.is_leaf_node and node|length == 1 or tree_detail %}
                <div class="color-box-with-text">
                {% if tree.id == 2 %}
                    <div class="color-box" style="background-color: #A52A2A;  -webkit-print-color-adjust: exact;" ></div>
                {% else %}
                    <div class="color-box" style="background-color: {{ tree.color }};  -webkit-print-color-adjust: exact;"></div>
                {% endif %}
                    <b>{{ tree }}</b>
                </div>
                {% if forloop.counter0|divisibleby:2 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
 {% if query_name == "query_tasks_value" %}
        {% for tree, structure in node|tree_info  %}
            {% if tree.task_count %}
                {% if tree.level == 1 and not tree_detail or tree.is_leaf_node and node|length == 1 or tree_detail %}
                    <div class="color-box-with-text">
                    {% if tree.id == 2 %}
                        <div class="color-box" style="background-color: #A52A2A;  -webkit-print-color-adjust: exact;"></div>
                    {% else %}
                        <div class="color-box" style="background-color: {{ tree.color }};  -webkit-print-color-adjust: exact;"></div>
                    {% endif %}
                        <b>{{ tree.users.0 }}</b>
                    </div>
                    {% if forloop.counter0|divisibleby:2 %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}
</body>
