{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    
    {% include "project/graph/load_distribution_script.html" %}
    
    <div class="container-fluid">
        
        {% include "project/common/page_heading.html" %}
        
        <div id="container1" style="min-width: 400px; margin: 15px auto 0; {% if chart_type != "pie" %} display:none; {% endif %}"></div>
        <div id="container2" style="min-width: 400px; margin: 15px auto 0; {% if chart_type != "bar" %} display:none; {% endif %}"></div>
    </div>
    <br/>
{% if query_name == "query_load_distribution" %}
    {% for tree, structure in node|tree_info  %}
        {% if tree.task_count %}
            {% if tree.level == 1 and not tree_detail or tree.is_leaf_node and node|length == 1 or tree_detail %}
                <div class="color-box-with-text">
                {% if tree.id == 2 %}
                    <div class="color-box" style="background-color: #A52A2A"></div>
                {% else %}
                    <div class="color-box" style="background-color: {{ tree.color }};"></div>
                {% endif %}
                    <b>{{ tree }}</b>
                </div>
                {% if forloop.counter0|divisibleby:2 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}
{% if query_name == "query_tasks_value" %}
    {% for tree, structure in node|tree_info  %}
        {% if tree.task_count %}
            {% if tree.level == 1 and not tree_detail or tree.is_leaf_node and node|length == 1 or tree_detail %}
                <div class="color-box-with-text">
                {% if tree.id == 2 %}
                    <div class="color-box" style="background-color: #A52A2A"></div>
                {% else %}
                    <div class="color-box" style="background-color: {{ tree.color }};"></div>
                {% endif %}
                    <b>{{ tree.users.0 }}</b>
                </div>
                {% if forloop.counter0|divisibleby:2 %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
