{% load i18n thumbnail static mptt_tags project__extras %}

<script type="text/javascript">
$(document).ready(function() {

    {% include "project/common/highcharts_theme.html" %}
/////////////////////////////////////////////////////////////////////////////////////////////////////
    $('#type').change(function() {
        $('#zp').submit();
    });
    $('#period').change(function() {
        $('#zp').submit();
    });

    {% if chart_type == "pie" %}
        var pieChartOptions = {
            chart: {
                renderTo: 'container1',
                type: 'pie',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: "{{ chart.title }}"
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
	    legend: {
		layout: 'vertical',
		align: 'left',
		borderWidth: 0,
		labelFormatter: function() { return this.name.split('<br>')[0] }

	    },
        plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        {% if is_print %}
                            style: {
                                //fontSize: "12px",
                                width: '380px'
                                //lineHeight: 25
                            },
                        {% else %}
                            style: {
                                width: '380px'
                            },
                        {% endif %}
                        color: '#000000',
                        crop: false,
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>' + this.point.name + '</b>: ' + Number(this.percentage).toFixed(2) + ' %';
                        }
                    },
                    showInLegend: false
                }
            },
        series: [
                {
                    {% if query_name == "query_tasks_value" %}
                        name: 'Процент ценности поручений от общего числа',
                    {% else %}
                        name: 'Процент поручений от общего числа',
                    {% endif %}
                    data: [
                        {% for tree, structure in node|tree_info  %}
                            {% if tree.level == 1 and not tree_detail %}
                                {% if query_name == "query_tasks_value" %}
                                    {% if tree.value %}
                                        ["{% if is_dbg %}4 {% endif %}{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''), replaceCommaToDot("{{ tree.value }}") ],
                                    {% endif %}
                                {% else %}
                                    {% if tree.subtrees %}
                                        {% for subtree in tree.subtrees %}

                                            {% if subtree.task_count %}
                                                {
                                                    {% if subtree.is_user %}
                                                        name: "{{ subtree }}<br>({{ subtree.tree }})".replaceAll('&quot;', '') + " " + "(Всего: "+replaceCommaToDot("{{ tree.contribution }}") + " %)",
                                                    {% else %}
                                                        name: "{{ subtree.users.0 }}<br>({{ subtree.users.0.tree }})".replaceAll('&quot;', ''),
                                                    {% endif %}
                                                    y: replaceCommaToDot("{{ subtree.task_count }}"),
                                                {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                                },

                                            {% endif %}
                                        {% endfor %}
                                    {% elif tree.task_count %}
                                        {
                                            name: "{% if is_dbg %}4 {% endif %}{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''),
                                            y: replaceCommaToDot("{{ tree.task_count }}"),
                                            {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                        },
                                    {% endif %}
                                {% endif %}
                            {% elif tree.is_leaf_node and node|length == 1 %}
                                {% for user in tree.users %}
                                    {% if query_name == "query_tasks_value" %}
                                        {% for task in user.tasks %}
                                            ["{% if is_dbg %}1 {% endif %}{{ user }}{{ task.title }}".replaceAll('&quot;', '') , replaceCommaToDot("{{ task.value }}") ],
                                        {% endfor %}
                                    {% else %}
                                        {
                                            name: "{% if is_dbg %}1 {% endif %}{{ user }}".replaceAll('&quot;', ''),
                                            y: replaceCommaToDot("{{ user.task_count }}"),
                                            {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                        },
                                    {% endif %}
                                {% endfor %}
                            {% elif tree_detail %}
                                {% if forloop.counter == 1 %}
                                    {% if query_name == "query_tasks_value" %}
                                        {% for task in tree.users.0.tasks %}
                                            ["{% if is_dbg %}2 {% endif %}{{ tree.users.0 }}{{ task.title }}".replaceAll('&quot;', ''), replaceCommaToDot("{{ tree.users.0.value }}") ],
                                        {% endfor %}
                                    {% elif tree.users.0.task_count %}
                                        {
                                            name: "{% if is_dbg %}2 {% endif %}{{ tree.users.0 }}".replaceAll('&quot;', ''),
                                            y: replaceCommaToDot("{{ tree.users.0.task_count }}"),
                                            {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                        },
                                    {% endif %}
                                {% else %}
                                    {% if query_name == "query_tasks_value" %}
                                        {% if tree.value %}
                                            ["{% if is_dbg %}3 {% endif %}{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', '') , replaceCommaToDot("{{ tree.value }}") ],
                                        {% endif %}
                                    {% else %}
                                        {% if tree.subtrees %}
                                            {% for subtree in tree.subtrees %}
                                                {% if subtree.task_count %}
                                                    {
                                                        {% if subtree.is_user %}
                                                            name: "{{ subtree }}<br>({{ subtree.tree }})".replaceAll('&quot;', '')+ " " + "(Всего: "+replaceCommaToDot("{{ tree.contribution }}") + " %)",
                                                        {% else %}
                                                            name: "{{ subtree.users.0 }}<br>({{ subtree.users.0.tree }})".replaceAll('&quot;', ''),
                                                        {% endif %}
                                                        y: replaceCommaToDot("{{ subtree.task_count }}"),
                                                        {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                                    },
                                                {% endif %}
                                            {% endfor %}
                                        {% elif tree.task_count %}
                                            {
                                                name: "{% if is_dbg %}3 {% endif %}{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''),
                                                y: replaceCommaToDot("{{ tree.task_count }}"),
                                                {% if tree.id == 2 %}
                                                    color: "#A52A2A"
                                                {% else %}
                                                    color: "{{ tree.color }}"
                                                {% endif %}
                                            },
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    ]
                }
        ]




        };
        var pieChart = new Highcharts.Chart(pieChartOptions);
    {% endif %}

    {% if chart_type == "bar" %}
        var barChartOptions = {
                    chart: {
                        renderTo: 'container2',
                        type: 'column',
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        {#                    marginBottom: 300#}
                    },
                    title: {
                        text: "{{ barChart.title }}"
                    },
                    legend: {
                        layout: 'vertical',
                        borderWidth: 0
                        {#                    align: 'left',#}
                        {#                    floating: true#}
                    },
                    xAxis: {
                        categories: ['Название отделений/управлений']
                    },
                    yAxis: {
                        title: {
                            {% if query_name == "query_tasks_value" %}
                                text: 'Ценность поручений'
                            {% else %}
                                text: 'Количество поручений'
                            {% endif %}
                        }
                    },
                    plotOptions: {
                        series: {
                            groupPadding: 0.05,
                            pointPadding: 0
                        }
                    },
                    series: [
                        {% for tree, structure in node|tree_info  %}
                            {% if tree.level == 1 and not tree_detail %}
                                {% if query_name == "query_tasks_value" %}
                                    {% if tree.value %}
                                        {
                                            name: "{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''),
                                            data: [ {{ tree.value }} ],
                                            pointWidth: {{ tree.user_list|length }} * 9
                                        },
                                    {% endif %}
                                {% else %}
                                    {% if tree.task_count %}
                                        {
                                            name: "{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''),
                                            data: [ {{tree.task_count}} ],
                                            pointWidth: {{ tree.user_list|length }} * 9
                                        },
                                    {% endif %}
                                {% endif %}
                            {% elif tree.is_leaf_node and node|length == 1 %}
                                {% for user in tree.users %}
                                    {
                                        name: "{{ user }}".replaceAll('&quot;', ''),
                                        {% if query_name == "query_tasks_value" %}
                                            data: [ {{ user.value }} ],
                                        {% else %}
                                            data: [ {{ user.task_count }} ],
                                        {% endif %}
                                        pointWidth: 9
                                    },
                                {% endfor %}
                            {% elif tree_detail %}
                                {% if forloop.counter == 1 %}
                                    {
                                        name: "{{ tree.users.0 }}".replaceAll('&quot;', ''),
                                        {% if query_name == "query_tasks_value" %}
                                            data: [ {{ tree.users.0.value }} ],
                                        {% else %}
                                            data: [ {{ tree.users.0.task_count }} ],
                                        {% endif %}
                                        pointWidth: 9
                                    },
                                {% else %}
                                    {% if query_name == "query_tasks_value" %}
                                        {% if tree.value %}
                                            {
                                                name: "{{ tree.users.0 }}<br>({{ tree.users.0.tree }})".replaceAll('&quot;', ''),
                                                data: [ {{ tree.value }} ],
                                                pointWidth: {{ tree.user_list|length }} * 9
                                            },
                                        {% endif %}
                                    {% else %}
                                        {% if tree.task_count %}
                                            {
                                                name: "{{ tree.users.0 }}<br>(wordwrap('{{ tree.users.0.tree }}') ".
                                                        replaceAll('&quot;', ''),
                                                data: [ {{ tree.task_count }} ],
                                                pointWidth: {{ tree.user_list|length }} * 9
                                            },
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
        ]};
        barChartOptions = jQuery.extend(true, {}, barChartOptions);
        var barChart = new Highcharts.Chart(barChartOptions);
    {% endif %}

    {% if is_print %}

    {%  else  %}
        showPeriod();
    {% endif %}
})
;

{% if is_print %}
    function showPeriod() {
        {% if request.GET.period|urlencode %}
            var e = "{{request.GET.period|urlencode}}";
        {% else %}
            var e = "current_month";
        {% endif %}

        switch (e) {
            case "current_month":
                period = "Текущий месяц";
                break;
            case "week":
                period = "Последняя неделя";
                break;
            case "month":
                period = "Последний месяц";
                break;
            case "quarter":
                period = "Последний квартал";
                break;
            case "year":
                period = "Последний год";
                break;
        }

        var ae = document.getElementById("categoryName");
        ae.innerHTML = period;
        setTimeout(function() {
            window.print();
        }, 2000);

    }
{% else %}
    function showPeriod() {
        var e = document.getElementById("period");
        var period = e[e.selectedIndex].text;
        var ae = document.getElementById("categoryName");
        ae.innerHTML = period;
    }
{% endif %}

function replaceCommaToDot(textReplace) {
    return parseFloat(Number(textReplace.replace(',', '.')).toFixed(2));
}

String.prototype.replaceAll = function (search, replace) {
    return this.split(search).join(replace);
}

</script>
