{% load i18n thumbnail static mptt_tags project__extras %}

<script type="text/javascript">
$(document).ready(function () {

    Highcharts.setOptions({
        colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#FFF263', '#6AF9C4']
    });

    var colors = Highcharts.getOptions().colors


    {#    $('#container_pie').highcharts({#}

    var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'container_pie',
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: 'Процент проконтролированных поручений руководителем управления/отдела — {{ period_display }}'
        },
        tooltip: {
            pointFormat: '{point.user_name}<br/> <b>{point.custom_percentage}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                center: ['50%', '50%'],
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f}% (<b>{point.look_percent}%</b>)',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black',
                        width: '400px',
                        crop: true,
                        lineHeight: '8px',
                        fontSize: '10px'
                    }
                },
                showInLegend: true
            }
        },
        legend: {
            {#                itemWidth: 250#}
            itemMarginBottom: 30,
            {#                width: '250px'#}
        },
        exporting: {
            {#                width: 200#}
        },
        series: [
            {
                type: 'pie',
                name: 'Процент поручений',
                size: '80%',
                useHTML: true,
                data: [
                    {% for user in users %}
                        {% if user.all_tasks_percent %}
                            {
                                name: '{{ user.get_profile.get_names }}<br/>{{ user.get_profile.job|default:"------" }} <br/> <small><b>{{ user.get_profile.tree }}</b></small>',
                                y: {{ user.all_tasks_percent|floatformat }},
{#                                color: colors[{{ forloop.counter0 }}],#}
                                look_percent: '{{ user.tasks_look_percent }}',
                                custom_percentage: '{{ user.all_tasks_percent }}'

                            },
                        {% endif %}
                    {% endfor %}
                ]
            },
            {
                type: 'pie',
                name: '',
                size: '78%',
                innerSize: '0%',
                data: [
                    {% for user in users %}
                        {% if user.all_tasks_percent %}
                            {
                                name: 'Проконтролировано',
                                y: {{ user.all_tasks_look_percent|floatformat }},
                                color: Highcharts.Color(colors[{{ forloop.counter0 }}]).brighten(0.1).get(),
                                dataLabels: false,
                                user_name: '{{ user.get_profile.get_names }}',
                                custom_percentage: '{{ user.tasks_look_percent }}'
                            },
                            {
                                name: 'Непроконтролировано',
                                y: {{ user.all_tasks_unlook_percent|floatformat }},
                                color: colors[{{ forloop.counter0 }}],
                                dataLabels: false,
                                user_name: '{{ user.get_profile.get_names }}',
                                custom_percentage: '{{ user.tasks_unlook_percent }}'
                            },
                        {% endif %}
                    {% endfor %}
                ]
            }
        ]
    });



    {#        var colors = Highcharts.getOptions().colors,#}
    {#                categories = [{% for user in users %}#}
    {#                    {% if user.all_tasks_percent %}#}
    {#                        '',#}
    {#                    {% endif %}#}
    {#                {% endfor %}],#}
    {#                name = 'Browser brands',#}
    {#                data = [#}
    {#                    {% for user in users %}#}
    {#                        {% if user.all_tasks_percent %}#}
    {#                            {#}
    {#                                y: {{ user.all_tasks_percent|floatformat }},#}
    {#                                color: colors[0],#}
    {#                                drilldown: {#}
    {#                                    name: 'MSIE versions',#}
    {#                                    categories: ['MSIE 6.0', 'MSIE 7.0', 'MSIE 8.0', 'MSIE 9.0'],#}
    {#                                    data: [50],#}
    {#                                    color: colors[0]#}
    {#                                }#}
    {#                            },#}
    {#                        {% endif %}#}
    {#                    {% endfor %}#}
    {##}
    {##}
    {#                ];#}
    {##}
    {##}
    {#        // Build the data arrays#}
    {#        var browserData = [];#}
    {#        var versionsData = [];#}
    {#        for (var i = 0; i < data.length; i++) {#}
    {##}
    {#            // add browser data#}
    {#            browserData.push({#}
    {#                name: categories[i],#}
    {#                y: data[i].y,#}
    {#                color: data[i].color#}
    {#            });#}
    {##}
    {#            // add version data#}
    {#            for (var j = 0; j < data[i].drilldown.data.length; j++) {#}
    {#                var brightness = 0.2 - (j / data[i].drilldown.data.length) / 5;#}
    {#                versionsData.push({#}
    {#                    name: data[i].drilldown.categories[j],#}
    {#                    y: data[i].drilldown.data[j],#}
    {#                    color: Highcharts.Color(data[i].color).brighten(brightness).get()#}
    {#                });#}
    {#            }#}
    {#        }#}
    {##}
    {#        // Create the chart#}
    {#        $('#container_pie').highcharts({#}
    {#            chart: {#}
    {#                type: 'pie'#}
    {#            },#}
    {#            title: {#}
    {#                text: 'Browser market share, April, 2011'#}
    {#            },#}
    {#            yAxis: {#}
    {#                title: {#}
    {#                    text: 'Total percent market share'#}
    {#                }#}
    {#            },#}
    {#            plotOptions: {#}
    {#                pie: {#}
    {#                    shadow: false,#}
    {#                    center: ['50%', '50%']#}
    {#                }#}
    {#            },#}
    {#            tooltip: {#}
    {#                valueSuffix: '%'#}
    {#            },#}
    {#            series: [#}
    {#                {#}
    {#                    name: '',#}
    {#                    data: browserData,#}
    {#                    size: '60%',#}
    {#                    dataLabels: {#}
    {#                        formatter: function () {#}
    {#                            return this.y > 5 ? this.point.name : null;#}
    {#                        },#}
    {#                        color: 'white',#}
    {#                        distance: -30#}
    {#                    }#}
    {#                },#}
    {#                {#}
    {#                    name: 'Проконтролированные поручения',#}
    {#                    data: versionsData,#}
    {#                    size: '80%',#}
    {#                    innerSize: '60%',#}
    {#                    dataLabels: {#}
    {#                        formatter: function () {#}
    {#                            // display only if larger than 1#}
    {#                            return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%' : null;#}
    {#                        }#}
    {#                    }#}
    {#                }#}
    {#            ]#}
    {#        });#}
});


</script>
