{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}


{% block inhead %}
    <style type="text/css" media="print">
        h2, header, .page-header {
            display: none;
        }

        body {
            width: 100%;
        }
    </style>
{% endblock %}


{% block content %}
    <script src="{{ STATIC_URL }}project/Highcharts-4/js/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/Highcharts-4/js/modules/exporting.js"></script>

    {% include "project/graph/manager_tasks_control_percent_script.html" %}

    <div class="container-fluid">

        {% include "project/common/page_heading.html" with categoryName=period_display %}

        <div id="container_pie" style="min-width: 400px; margin: 15px auto 0; height: 800px;"></div>

    </div>
    <br/>


{% endblock %}
