{% extends "project/base.html" %}
{% load i18n thumbnail static %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function() {

            {% include "project/common/highcharts_theme.html" %}

            {% if chart %}
                chart = new Highcharts.Chart({
                    chart: {
                        renderTo: 'container',
                        type: 'spline',
                        zoomType: 'x',
                        reflow: false,                  
                        marginRight: 20
                    },
                    legend: {
                        layout: 'vertical'
                    },
                    title: {
                        text: '{{ chart.title }}'
                    },
                    subtitle: {
                        text: ''
                    },               
                    xAxis: [{
                        categories: [{% for x in chart.line %}'{{ x }}', {% endfor %}]
                    }],
                    yAxis: [{
                        title: {
                            text: 'Количество поручений'
                        }
                    }],
                    plotOptions: {
                        spline: {
                            lineWidth: 4,
                            states: {
                                hover: {
                                    lineWidth: 5
                                }
                            },
                            marker: {
                                enabled: false,
                                states: {
                                    hover: {
                                        enabled: true,
                                        symbol: 'circle',
                                        radius: 5,
                                        lineWidth: 1
                                    }
                                }
                            },                       
                        }
                    },
                    {% if not chart.arr %}
                        series: [{% for author_id, dict in ys_dict.items %} {
                            name: '{{ dict.author }}',
                            color: '{{ dict.color }}',
                            data: [{% for y in dict.ys %} {{ y }}, {% endfor %}]
                        }, {% endfor %}],
                    {% endif %}
                });
            {% endif %}
            $('#profiles').change(function() {
                $('#zp').submit();
            });
            $('#period').change(function() {
                $('#zp').submit();
            });
        });
        
        function delayPrint() {
            setTimeout(function() {
                window.print();
            }, 1000);
        }
    </script>
    
    <div class="container-fluid">
        <hr>
        <form style="margin-top: 10px;" id="zp">
            <h4 style="float: left; margin-right: 10px;">{% trans "Сотрудники:" %}</h4>
            <select id="profiles" name="profiles" style="float: left; margin-right: 5px;">
                <option value="">-----</option>
                {% for profile in profiles %}
                    <option value="{{ profile.id }}" {% if request.GET.profiles == profile.id|stringformat:"s" %}selected="selected"{% endif %}>{{ profile.get_names }}</option>
                {% endfor %}
            </select>
            <h4 style="float: left; margin-right: 10px;">{% trans "Период:" %}</h4>
            <select id="period" name="period" style="float: left; margin-right: 5px; width: 200px;">
                <option value="current_month" {% if period == "current_month" %}selected{% endif %}>{% trans "Текущий месяц" %}</option>
                <option value="week" {% if period == "week" %}selected{% endif %}>{% trans "Последняя неделя" %}</option>
                <option value="month" {% if period == "month" %}selected{% endif %}>{% trans "Последний месяц" %}</option>
                <option value="quarter" {% if period == "quarter" %}selected{% endif %}>{% trans "Последний квартал" %}</option>
                <option value="year" {% if period == "year" %}selected{% endif %}>{% trans "Последний год" %}</option>
            </select>
        </form>
        <br>
        <br>
        <br>
        <h4>{{ chart.title }} {% if profile %}{% trans "для" %} {{ profile }}{% endif %}</h4>
        <hr>
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}