{% extends "admin/change_form.html" %}
{% load i18n %}

{% block after_field_sets %}
<p>{% trans "First, enter a username and an email address. Then, you'll be able to edit more user options." %}</p>

<fieldset class="module aligned">

<div class="form-row">
  {{ form.username.errors }}
  <label for="id_username" class="required">{{ form.username.label }}</label> {{ form.username }}
  <p class="help">{{ form.username.help_text }}</p>
</div>

<div class="form-row">
  {{ form.email.errors }}
  <label for="id_email" class="required">{{ form.email.label }}</label> {{ form.email }}
  <p class="help">{{ form.email.help_text }}</p>
</div>

<div class="form-row">
  {{ form.password.errors }}
  <label for="id_password">{{ form.password.label }}</label> {{ form.password }}
  <p class="help">{{ form.password.help_text }}</p>
</div>

<div class="form-row">
    {{ form.email_user }}
    <label for="id_skip_emailing_user">{{ form.email_user.label }}</label>
    <p class="help">{{ form.email_user.help_text }}</p>
</div>

<script type="text/javascript">document.getElementById("id_username").focus();</script>

</fieldset>
{% endblock %}
