{# Шаблон отображения значения поля (например, модели) #}

<div class="{{ base_class }}__field field-{{ field_name }} field-view">
    {% if label %}
        <label class="{{ base_class }}-field__label field-view__label">
            {{ label }}
        </label>
    {% endif %}

    <div class="{{ base_class }}-field__value field-view__value">
        {{ value|default:"" }}
    </div>
</div>
