{# Шаблон отображения поля формы #}

<div class="{{ base_form_class }}__field field-{{ field.name }} form-field {% if field.field.required %}field-required{% endif %}">
    <label class="{{ base_form_class }}-field__label form-field__label">
        {% if custom_label %}
            {{ custom_label }}
        {% else %}
            {{ field.label }}
        {% endif %}

        {% if field.field.required %}
            <span class="required">*</span>
        {% endif %}
    </label>

    <div class="{{ base_form_class }}-field__value form-field__value">
        {{ field }}
        {% for error in field.errors %}
            <p> {{ error }} </p>
        {% endfor %}
        {% if field.errors %}
            <div class="form-field__error">
                {{ field.errors }}
            </div>
        {% endif %}
    </div>
</div>
