{# Виджет добавления/измения фотографии в виде одной кнопки. Сама картинка не отображается, ее надо вывести отдельно #}

<div class="profile-form-picture__widget image-field-widget">
    <label class="btn btn-file btn-large">{{ label }}
    <div class="image-field-widget__standart">
        {{ field }}
    </div></label>
</div>
