{% extends 'project/query/change_task_completion_terms/base.html' %}
{% load i18n %}
{% load static %}
{% block query_results %}
    <script type="text/javascript" src="{% static 'project/Highcharts-4/js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var container_height = {{ users.count }} * 60 + 80;
            $('#container1').css({height: container_height + 'px'});
            $('#container1').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{% trans 'Изменение сроков исполнения поручения' %}'
                },
                xAxis: {
                    categories: [
                        {% for user in users %}
                            '{{ user.get_profile.get_names }}'{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{% trans 'Поручения назначенные сотрудником' %}'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    bar: {
                        grouping: false
                    }
                },
                series: [
                    {
                        name: '{% trans 'Поручения назначенные сотрудником' %}',
                        data: [
                            {% for user in users %}
                                {{ user.tasks_total }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    },
                    {
                        name: '{% trans 'Поручения, срок выполнения которых изменялся' %}',
                        data: [
                            {% for user in users %}
                                {{ user.changed_tasks_count }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }
                ]
            });
        });
    </script>
    <div id="container1" style="min-height: 200px;"></div>
{% endblock %}