{% extends "project/base.html" %}
{% load i18n %}
{% block content %}
    {% include "project/common/tablesorter.html" %}
    <div class="container-fluid">
        <div class="page-header">
            <h2>
                {% blocktrans with date_to=date_to|date:'d E Y' date_from=date_from|date:'d E Y' %}
                    Изменение сроков исполнения поручения за период с {{ date_from }} по {{ date_to }}
                {% endblocktrans %}
            </h2>
            <hr/>
            {% if filter_form %}
                <div class="filters__item users-stat-filters__period">
                    <form action="" method="get">
                        {{ filter_form.media }}
                        {{ filter_form.as_p }}
                        <p>
                            <input type="submit" value="Показать" class="btn btn-success" />
                        </p>
                    </form>
                </div>
            {% endif %}
        </div>
        {% block query_results %}
        {% endblock %}
    </div>
{% endblock %}