{% extends "project/query/change_task_completion_terms/base.html" %}
{% load i18n %}
{% load static %}
{% block query_results %}
    <script type="text/javascript" src="{% static 'project/Highcharts-4/js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function () {

            $(document).ready(function () {

                // Build the chart
                $('#container1').highcharts({
                    chart: {
                        plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false
                    },
                    title: {
                        text: '{% trans 'Изменение сроков исполнения поручения' %}'
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                    },
                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: false,
                                format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                            },
                            showInLegend: true
                        }
                    },
                    series: [{
                        type: 'pie',
                        name: '{% trans 'Изменение сроков исполнения поручения' %}',
                        data: [
                            {% for key, value in query_data.items %}
                                ['{{ key }}',   {{ value }}]{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }]
                });
            });

        });
    </script>
    <p>
        Всего задач с измененным сроком в выбранной группе пользователей: {{ changed_tasks_total }}
    </p>
<div id="container1"></div>
{% endblock %}