{% extends "project/query/change_task_completion_terms/base.html" %}
{% load i18n %}
{% load thumbnail %}
{% block query_results %}
    {% include "project/common/tablesorter.html" %}
    <script type="text/javascript">
    $(function() {
        $('tr.department').click(function() {
            $('tr[data-parent=' + $(this).attr('data-node-id') + ']').toggle();
        });
    })
    </script>
    <table class="table table-striped tablesorter" id="stat_table">
        <thead>
        <tr>
            <th>№</th>
            <th>Название поручения</th>
            <th>Дата начала</th>
            <th>Срок окончания</th>
            <th>Причина корректировки сроков</th>
            <th>Исполнитель</th>
            <th>Поручающий</th>
        </tr>
        </thead>
        <tbody>
        {% for node in department_tree %}
            {% if node.tasks_count %}
                <tr class="department lev{{ node.level }}" style="cursor: pointer" data-node-id="{{ node.pk }}">
                    <td>
                        {% if node.nums != '0' %}
                            {{ node.nums }}
                        {% endif %}
                    </td>
                    <td colspan="6">{{ node.title }}</td>
                </tr>
                {% if node.users %}
                    {% for user in node.users %}
                        {% if user.tasks_count %}
                            <tr data-parent="{{ node.pk }}">
                                <td>{{ node.nums }}.{{ forloop.counter }}</td>
                                <td colspan="6">
                                    <a href="{% url view_account_with_tasks user.username %}">
                                        {% if user.get_profile.profile_picture %}
                                            {% thumbnail user.get_profile.profile_picture "40x40" crop="center" as im %}
                                                <img src="{{ im.url }}"
                                                     style="float: left; vertical-align: top; margin-right: 5px;">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img src="/static/project/img/default.png" width="40" height="40"
                                                 style="float: left; vertical-align: top; margin-right: 5px;">
                                        {% endif %}
                                    </a>
                                    <b><a href="{% url view_account_with_tasks user.username %}">{{ user }}</a></b><br/>
                                    {{ user.get_profile.job|default:"--" }}
                                </td>
                            </tr>
                            {% for task in user.changed_tasks %}
                                <tr data-parent="{{ node.pk }}">
                                    <td></td>
                                    <td>{{ task.title }}</td>
                                    <td>
                                        {% for date in task.date_add_values %}
                                            {% if date %}
                                                {% if date != task.date_add %}
                                                    <s>{{ date }}</s>
                                                {% else %}
                                                    {{ date }}
                                                {% endif %}
                                            {% else %}
                                                --------
                                            {% endif %}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for date in task.date_end_values %}
                                            {% if date %}
                                                {% if date != task.date_end %}
                                                    <s>{{ date }}</s>
                                                {% else %}
                                                    {{ date }}
                                                {% endif %}
                                            {% else %}
                                                --------
                                            {% endif %}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        {% for initiator in task.date_change_initiators %}
                                            {% if initiator == 'manager' %}
                                                {% trans 'По инициативе поручающего' %}
                                            {% elif initiator == 'performer' %}
                                                {% trans 'По инициативе исполнителя' %}
                                            {% else %}
                                                --------
                                            {% endif %}<br/>
                                        {% endfor %}
                                    </td>
                                    <td>{{ task.author_task.get_profile.get_names }}</td>
                                    <td>{{ task.author.get_profile.get_names }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endblock %}