
.task-history {
    font-size: 13px;
    background-color: white;
    height: 100%;
    padding: 20px;
}

.task-history__title {
    font-size: 18px;
    font-weight: bold;
}

.task-history__items.scrollbar-container {
    border: none;
}

.task-history__items .viewport {
    height: 1070px;
}

.task-history__item {
    padding: 16px 5px 16px 0;
    border-bottom: 1px solid #ebebeb;
}

.task-history-item__header {
    box-sizing: border-box;
    padding: 7px;
    background-color: #ebebeb;
}

.task-history-item__author {
    font-size: 14px;
    font-weight: bold;
}

.task-history-item__date {
    color: #888888;
}

.task-history-item__id {
    font-weight: bold;
}

.task-history-item__body {
    margin-top: 12px;
}

.task-history__changed-fields {
    margin-top: 8px;
}

.task-history__changed-fields th,
.task-history__changed-fields td {
    text-align: left;
    padding: 4px;
    border: 1px solid #ebebeb;
}

.task-history__changed-fields th {
    background-color: #FAFAFA;
}

.task-history__filters {
    overflow: hidden;
    padding: 14px;
    border: 1px solid #ebebeb;
    margin-top: 18px;
    margin-bottom: 18px;
}

.task-history__filter-container {
    float: left;
    margin-right: 10px;
}

.task-history__filter-container label {
    font-size: 13px;
}
