input[type="text"],
select {
  box-sizing: border-box;
  height: 28px;
  line-height: 28px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
}

input,
button,
select,
textarea,
label {
  font-size: 14px;
}

.form-description {
  font-size: 11px;
}


/* *** форма с полями, расположенными в одну линию */
.form-inline_top-label label {
    display: block;
}
.form-inline .filters__submit-container,
.form-inline input[type="submit"] {
    display: inline-block;
}
.form-inline > p {
    display: inline-block;
    margin-bottom: 10px;
}
/* *** END *** форма с полями, расположенными в одну линию */

.btn-file,
.btn-file:hover {
    background-color: #5a5859;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c5c5c), color-stop(#5c5c5c), to(#444444));
    background-image: -webkit-linear-gradient(#5c5c5c, #5c5c5c, #444444);
    background-image: -moz-linear-gradient(top, #5c5c5c, #5c5c5c, #444444);
    background-image: -ms-linear-gradient(#5c5c5c, #5c5c5c, #444444);
    background-image: -o-linear-gradient(#5c5c5c, #5c5c5c, #444444);
    background-image: linear-gradient(#5c5c5c, #5c5c5c, #444444);
    background-repeat: no-repeat;
    border: none;
    color: white;
    font-weight: bold;
    text-shadow: none;
    font-size: 13px;
}

/* *** Виджет подгрузки фото */
.image-field-widget {
    position: relative;
}

.image-field-widget > label {
    position: relative;
}
.image-field-widget__standart {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-field-widget__standart > * {
    display: none;
}
.image-field-widget__standart input[type="file"] {
    display: block;
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
}
/* *** END *** Виджет подгрузки фото */

