{% extends "project/query/task_complexity_distribution/base.html" %}
{% load i18n %}
{% load static %}
{% block query_results %}
    <script type="text/javascript" src="{% static 'project/Highcharts-4/js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            $('#container1').highcharts({
                chart: {
                    type: 'column'
                },
                title: {
                    text: '{% trans 'Распределение трудоемкости поручений' %}'
                },
                xAxis: {
                    categories: [
                        '{% trans 'Руководители управлений' %}',
                        '{% trans 'Руководители отделов' %}',
                        '{% trans 'Специалисты' %}'
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '{% trans 'Количество' %}'
                    }
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '{% trans 'Кол-во поручений' %}',
                    data: [{{ total.division_managers.tasks_total }}, {{ total.managers.tasks_total }}, {{ total.specialists.tasks_total }}]

                }, {
                    name: '{% trans 'Кол-во простых поручений (процедур)*' %}',
                    data: [{{ total.division_managers.simple_tasks_count }}, {{ total.managers.simple_tasks_count }}, {{ total.specialists.simple_tasks_count }}]

                }, {
                    name: '{% trans 'Кол-во трудоёмких поручений' %}',
                    data: [{{ total.division_managers.complex_tasks_count }}, {{ total.managers.complex_tasks_count }}, {{ total.specialists.complex_tasks_count }}]

                }, {
                    name: '{% trans 'Общее кол-во итераций' %}',
                    data: [{{ total.division_managers.task_iterations_total }}, {{ total.managers.task_iterations_total }}, {{ total.specialists.task_iterations_total }}]

                }]
            });
        });
    </script>
    <div id="container1"></div>
{% endblock %}