{% extends "project/base.html" %}
{% block css %}
        <link href="/static/project/css/bootstrap.css" rel="stylesheet">
        <link href="/static/project/css/project.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/project/css/calendar_st.css" rel="stylesheet">
        <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
        <link href="/static/checkbox/customInput.css" rel="stylesheet">
{% endblock %}


{% load i18n %}
{% load bootstrap_calendar %}


{% block content %}
  <div class="container">
<h3 class="calendar_h3">Календарь</h3>
      <hr class="calendar_hr">

<div class="row-fluid">
    <div class="span12">
        {% bootstrap_controls 'from-inline pull-right' %}
    </div>
</div>
<div class="clear-fix">
</div>
<div class="row">

        {% bootstrap_calendar '' %}


</div>

 {% bootstrap_calendar_js language='ru-RU' %}
      {% bootstrap_calendar_init language='ru-RU' %}
</div>
{% endblock %}
