body {
    background-color: #FFFFFF;
    min-height: 830px;
    padding-bottom: 40px;
    padding-top: 60px;
    position: relative;
}

table td.digits {
    text-align: center;
}

.termid td {
    background: none repeat scroll 0% 0% #B0E0FF ! important;
}

.helptext {
    font-size: 11px;
    padding-bottom: 5px;
}

select {
    background-color: #FFFFFF;
    width: 320px;
}

.editind td {
    background: none repeat scroll 0% 0% #ADFF2F ! important;
}

.title.file {
    background-image: url("../img/attach_files_24.png") ! important;
    background-position: right center ! important;
    background-repeat: no-repeat ! important;
}

.nav-collapse select {
    width: 140px;
}

.scrollbar-container {
    border: 3px solid #EEEEEE;
    clear: both;
    margin: 0px 0px 10px;
}

.scrollbar-container .viewport {
    height: 320px;
    overflow: hidden;
    position: relative;
}

/* Если использовать этот стиль в файле task_history.css, который подгружается аяксом, то tinyscrollbar берет стандартную высоту */
.task-history__items .viewport {
    height: 870px;
}

.scrollbar-container .overview {
    left: 0px;
    list-style: none outside none;
    position: absolute;
    top: 0px;
    width: 100%;
}

.scrollbar-container .thumb .end, .scrollbar-container .thumb {
    background-color: #BD362F;
}

.scrollbar-container .scrollbar {
    float: right;
    position: relative;
    width: 15px;
}

.scrollbar-container .track {
    background-color: #E6E6E6;
    height: 100%;
    padding: 0px 1px;
    position: relative;
    width: 13px;
}

.scrollbar-container .thumb {
    cursor: pointer;
    height: 20px;
    overflow: hidden;
    position: absolute;
    top: 0px;
    width: 13px;
}

.scrollbar-container .thumb .end {
    height: 5px;
    overflow: hidden;
    width: 13px;
}

.scrollbar-container .disable {
    display: none;
}

.scrollbar-container tr {
    cursor: pointer;
}

#task_list thead {

}

.scrollbar-container tr:hover td {
    background: none repeat scroll 0% 0% #CFDBEC;
}

.scrollbar-container tr.deleted td {
    background: none repeat scroll 0% 0% #EB9264 ! important;
}
.scrollbar-container tr.overdue td {
    background: none repeat scroll 0% 0% red ! important;
    color: white;
}

.scrollbar-container tr.completed td {
    background: none repeat scroll 0% 0% #b2eb85 ! important;
}

#task_detail {
    padding-top: 10px;
}

#task_box {

}

#task_form from {
    padding: 0px 60px 60px;
}

#task_form textarea {
    height: 120px;
    width: 300px;
}

#task_form.edit textarea {
    height: 120px;
    width: 600px;
}

.modal {
    left: 35%;
    max-height: 760px;
    position: absolute;
    top: 10%;
    width: 940px;
    z-index: 2000;
}

.modal.fade.in {
    top: 40%;
}

.popover-inner {
    width: 500px;
}

.popover {
    font-size: 10px ! important;
}

thead th, tfoot td {
    background: -moz-linear-gradient(center top, #E0E0E0, #EEEEEE) repeat scroll 0% 0% transparent;
    border-bottom: 1px solid #CCCCCC;
    color: #AAAAAA;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    vertical-align: middle;
}

thead th.tablesorter-headerAsc {
    background: url(../img/asc.gif) no-repeat right center;
    background-color: #3399FF;
}

thead th.tablesorter-headerDesc {
    background: url(../img/desc.gif) no-repeat right center;
    background-color: #3399FF;
}

.grey {
    background: none repeat scroll 0% 0% #C2C5CC ! important;
    text-align: center;
}

.datepicker {
    margin-right: 10px;
}

.history_list {

}

.termind td {
    background: none repeat scroll 0% 0% #C8DBFF ! important;
}

.editing td {
    background: none repeat scroll 0% 0% #9DFFB4 ! important;
}

label.error {
    color: red;
    font-size: 10px;
}

#task_form tr {
    border-bottom: 1px dashed #E3E3E3;
}

#task_form tr td {
    padding-top: 12px;
}

.files_item2 {
    background: none repeat scroll 0% 0% #F7F7F7;
    margin-bottom: 8px;
    padding: 2px;
    width: 100%;
}

.files_item2 th {
    width: 120px;
}

.files_item2 .delete-row {
    padding-left: 10px;
}

#AddTask #task_form textarea {
    height: 90px;
    width: 670px;
}

#AddTask td {
    padding-left: 5px;
}

#AddTask .label {
    background-color: #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    color: #07071A;
    margin-right: 10px;
}

.show_task {

}

.show_task input.btn {
    margin-bottom: 3px;
    margin-right: 5px;
}

.show_task .edit tr {
    border-bottom: 1px dashed #E3E3E3;
}

.show_task .edit tr td {
    padding-top: 12px;
}

.show_task .edit .label {
    background-color: #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    color: #07071A;
    margin-right: 10px;
}

.ui-datepicker-trigger {
    margin-left: 5px;
}

.files_item {
    margin-bottom: 8px;
    padding: 2px;
    width: 100%;
}

.files_item td {
    background: none repeat scroll 0% 0% #FFC398;
    margin-bottom: 5px;
}

.files_item th {
    background: none repeat scroll 0% 0% #F7F7F7;
    width: 100px;
}

.files_item td {
    padding-left: 15px;
}

.files_item .delete-row {
    padding-left: 10px;
}

.files_item label {
    float: right;
}

.files_item .delete-row {
    display: table;
}

#task_detail .edit tr {
    border-bottom: 1px dashed #E3E3E3;
}

#task_detail .edit tr td {
    padding-top: 12px;
}

#task_detail .edit .label {
    background-color: #F2F2F2;
    border-radius: 0px 0px 0px 0px;
    color: #07071A;
    margin-right: 10px;
}

.multi-file-upload {
    display: table;
    width: 100%;
}

.uploadifyQueueItem {
    background-color: #F5F5F5;
    border: 2px solid #E5E5E5;
    float: left;
    font: 11px Verdana, Geneva, sans-serif;
    margin: 4px;
    padding: 10px;
    width: 250px;
}

.uploadifyError {
    background-color: #FDE5DD ! important;
    border: 2px solid #FBCBBC ! important;
}

.uploadifyQueueItem .cancel {
    float: right;
}

.uploadifyQueue .completed {
    background-color: #E5E5E5;
}

.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

.lost td {
    background: none repeat scroll 0% 0% red ! important;
    color: #FFF2F2;
}

.today td {
    background-color: #E5C73C ! important;
}

.hovers td {
    background-color: #C2C5CC ! important;
    color: #000000;
}

table.tablesorter {
    background-color: #F7F7F7;
    text-align: left;
    width: 100%;
}

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
    background-color: #E6EEEE;
    border: 1px solid #FFFFFF;
    color: #424242;
}

table.tablesorter thead tr .header {
    background-image: url("../img/bg.gif");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

table.tablesorter thead tr .headerSortUp {
    background-image: url("../img/asc.gif");
}

table.tablesorter thead tr .headerSortDown {
    background-image: url("../img/desc.gif");
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
    background-color: #8DBDD8;
}

.lev1 td {
    background: none repeat scroll 0% 0% #D1D1D1 ! important;
}

.lev2 td {
    background: none repeat scroll 0% 0% #E5E5E5 ! important;
}

.lev3 td {
    background: none repeat scroll 0% 0% #E5E5E5 ! important;
}

.proc_task {
    background-color: #FFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    font-size: 11px;
    display: none;
    padding: 3px 7px;
    margin-top: 50px;
    position: absolute;
    width: 350px;
}

.proc_task_close {
    text-align: right;
}

.proc_task_close li {
    padding-bottom: 5px;
}

table._scrolling {
    width: 100% !important;
    background-color: #e6eeee !important;
}

table._scrolling thead tr:last-child th {
    border-right: none !important;
}

table._scrolling thead tr th {
    border-bottom: none !important;
}

.filters {
    padding: 0;
}

.users-stat hr {
    margin: 10px 0;
}

.users-stat .page-header {
    padding-bottom: 0px;
}
.users-stat__filters {
    overflow: hidden;
}
.users-stat__filters .filters__item {
    float: left;
    margin-right: 15px;
}

.users-stat__filters label {
    font-size: 15px;
    font-weight: bold;
}

.users-stat__filters .btn {
    font-weight: bold;
}

.users-stat__filters .pull-right {
    padding-top: 18px;
}

.users-stat-filters-period__submit-container {
    display: inline-block;
}

.users-stat-filters__period form > p {
    display: inline-block;
    margin-bottom: 10px;
}

.form-filters__period {
    width: 200px;
}

.form-filters__start-date,
.form-filters__end-date {
    width: 70px;
}

small {
    font-size: .8em;
}

.inline-block {
    display: inline-block;
}

#tasks-tabs-buttons {
    display: inline-block;
    border: none;
    overflow: hidden;
    margin: 0 25px;
    padding-top: 5px;
    padding-bottom: 1px;
}

#tasks-tabs-buttons li,
#tasks-tabs-buttons li:hover {
    background: transparent;
    border: none;
}

#tasks-tabs-buttons a {
  background-image: none;
  outline: 0;
  display: inline-block;
  padding: 4px 10px 4px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}

#tasks-tabs-buttons .active a,
#tasks-tabs-buttons .active a:hover,
#tasks-tabs-buttons a:hover {
    background-color: #51a351;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-image: none;
    color: #ffffff;
}

.required {
    color: red;
}

.task-detail {
    background-color: #ebebeb;
    padding: 17px;
}

.task-detail__header {
    font-size: 32px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}


.hidden {
    display: none !important;
}
.row-visible-important,
.row-visible-important tr {
    display: table-row !important;
    visibility: visible !important;
}

.users_tr:hover td {
    background-color: gray;
    cursor: pointer;
}
