
.task-form {
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    padding: 11px;
}

.task-form__field {
    box-sizing: border-box;
    padding: 9px;
}

.task-form-field__label,
.task-form-field__value {
    display: inline-block;
    font-size: 14px;
}

.task-form-field__label {
    font-weight: bold;
}

.task-form__field.field-title_editor .task-form-field__label,
.task-form__field.field-text_editor .task-form-field__label,
.task-form__field.field-date_end_editor .task-form-field__label {
    font-size: 13px;
    font-weight: normal;
    line-height: 14px;
}

.task-form-field__value input,
.task-form-field__value select {
    box-sizing: border-box;
    /* width: 413px; */
    width: 100%;
    height: 30px;
    margin-bottom: 0;
}

.task-form-field__value textarea {
    /* width: 413px; */
    width: 100%;
    height: 128px;
}

.task-form-field__value #id_edit-date_add,
.task-form-field__value #id_edit-date_end,
.task-form-field__value #id_date_add,
.task-form-field__value #id_date_end {
    /* width: 386px; */
    width: 91%;
}

.task-form__field.field-priority select,
.task-form__field.field-progress select,
.task-form__field.field-evaluation select,
.task-form__field.field-time_consumed_plus input {
    width: 206px;
}

.task-form-field__value .multi-file-upload .field-help-text {
    color: red;
    font-size: 11px;
}

.task-form__actions_top {
    margin-bottom: 10px;
}

.task-form__field.field-required .task-form-field__label {
    font-weight: bold;
}

.task-form_edit .task-form__field.field-title,
.task-form_edit .task-form__field.field-title_editor,
.task-form_edit .task-form__field.field-date_end,
.task-form_edit .task-form__field.field-date_end_editor,
.task-form_edit .task-form__field.field-text,
.task-form_edit .task-form__field.field-text_editor {
    background-color: #fdf4e5;
}
