<form action="{% url add-task %}" method="post">
<div class="modal-header">
    <a data-dismiss="modal" class="close">×</a>
    <h3>Добавить поручение</h3>
</div>

<div class="modal-body">
        {{ formset.management_form }}
        <table width="100%" id="task_form">
            <tr valign="middle">
                <td align="right"><b>Номер связи:</b></td>
                <td>{{ formset.nomer }}</td>
                <td width="50"></td>
                <td  align="right"><b>Кем дано:</b></td>
                <td>{{ formset.author }}</td>
                <td width="50"></td>
                <td rowspan="2" align="right"><b>Комментарий:</b></td>
                <td rowspan="2">{{ formset.comment }}</td>
            </tr>
            <tr valign="middle">
                <td align="right"><b>Название:</b></td>
                <td>{{ formset.title }}</td>
                <td width="50"></td>
                <td  align="right"><b>Кому поручено:</b></td>
                <td>{{ formset.performer}}</td>
            </tr>
            <tr valign="middle">
                <td align="right"><b>Приоритет:</b></td>
                <td>{{ formset.priority }}</td>
                <td width="50"></td>
                <td  align="right"><b>Дата поручения:</b></td>
                <td>{{ formset.date_add }}</td>
                <td width="50"></td>
                <td rowspan="2" align="right"><b>Подробное описание поручения:</b></td>
                <td rowspan="2">{{ formset.text }}</td>
            </tr>
            <tr valign="middle">
                <td align="right"><b>Процент выполнения:</b></td>
                <td>{{ formset.progress }}</td>
                <td width="50"></td>
                <td align="right"><b>Срок исполнения:</b></td><td>{{ formset.date_end }}</td>
            </tr>
            <tr valign="middle">
                <td align="right"><b>Оценка:</b>
                </td><td  colspan="3">{{ formset.evaluation }}</td>
            </tr>
            <tr>
                <td align="right" class="label"><b>Прекращено:</b>
                </td><td colspan="4">{{ formset.terminated }}</td>
            </tr>
        </table>
        <br>
</div>
<div class="modal-footer">
   <input type="submit" class="btn  btn-large btn-success" value="Сохранить">
    <a data-dismiss="modal" class="btn" href="#">Отменить</a>
</div>
</form>
