{% load project__extras adminmedia i18n guardian_tags %}
{% load staticfiles i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">

    {% block css %}
        <link href="{{ STATIC_URL }}project/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/styles.css" rel="stylesheet">
        <link href="/static/checkbox/customInput.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}helper/css/form_field_type1.css" rel="stylesheet">
        <link href="{{ STATIC_URL }}helper/css/field_view_type1.css" rel="stylesheet">
        <link href="/static/project/css/project.css" rel="stylesheet">
        <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
        <link href="/static/project/css/calendar_st.css" rel="stylesheet">


        <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    {% endblock %}

    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/project/jui/jquery-ui-1.8.17.custom.min.js"></script>
    <script src="/static/project/js/jquery.tinyscrollbar.min.js"></script>
    <script src="/static/project/js/bootstrap.min.js"></script>
    <script src="/static/bootstrap/js/tab.js"></script>
    <script src="/static/project/js/jquery.validate.js"></script>
    <script src="/static/project/js/jquery.formset.js"></script>
    <script src="/static/project/js/jquery.tablesorter.js" type="text/javascript"></script>
    <script src="/static/project/js/jquery.chromatable.js" type="text/javascript"></script>
    <script src="/static/js/date_utils.js"></script>
    <script src="/static/project/js/excellentexport.js" type="text/javascript"></script>
    <script src="/static/project/js/project.js"></script>
    <script src="/static/checkbox/customInput.jquery.js"></script>




    {% block inhead %}{% endblock %}
    <!--Calendar-->

    <!--end Calendar-->

</head>
<body>
<header>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <div class="nav-collapse">
                    {% if request.user.username %}
                        <nav>
                            <ul class="nav">
                                <li class="{% active request '^/$' %}"><a href="{% url my-dashboard-view %}">{% trans "Поручения" %}</a></li>
                                <li class="{% active request 'history' %}"><a href="{% url my-history-view %}">{% trans "Истории" %}</a></li>
                                <!-- {% if is_test %} -->
                                    <!--     <li><a href="{% url graph_2 %}" > <i class="icon-signal"></i> {% trans "График 1" %}</a></li> -->
                                    <!--     <li><a href="{% url graph_3 %}" > <i class="icon-signal"></i> {% trans "График 2" %}</a></li> -->
                                    <!-- {% endif %} -->
                                {% if ACC_MANAGER or request.user.is_superuser == 1 %}
                                    <li class="{% active request '^/reports/stat/$' %}"><a href="{% url report_stat %}">{% trans "Отчет по сотрудникам" %}</a>
                                    </li>
                                {% endif %}

                                {% if request.user.is_superuser or request.user.get_profile.tree == 22 or request.user.get_all_permissions|length > 0 %}
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Запросы" %} <b class="caret"></b></a>
                                        <ul class="dropdown-menu" style="max-width: 400px;">
                                            {% if 'accounts.view_graph_1' in request.user.get_all_permissions %}
                                                <li><a href="{% url graph_1 %}"> <i class="icon-signal"></i> {% trans "Средний график выполнения поручения сотрудником" %}</a></li>
                                            {% endif %}
                                            {% if is_test %}
                                                {% if 'accounts.view_query_9' in request.user.get_all_permissions %}
                                                    <li><a href="{% url graph_4 %}"><i class="icon-signal"></i> {% trans "Распределение нагрузки сотрудников и подразделений" %}</a>
                                                    </li>
                                                {% endif %}
                                            {% else %}
                                                {% if 'accounts.view_graph_2' in request.user.get_all_permissions or 'accounts.view_graph_1' in request.user.get_all_permissions %}
                                                    <li class="divider"></li>
                                                {% endif %}
                                            {% endif %}
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_subordinate_tasks_distribution %}"><i
                                                        class="icon-th-large"></i> {% trans "График распределения поручений у подчиненного" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_9' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_task_count_dynamics %}"><i
                                                        class="icon-signal"></i> {% trans "Динамика количества поручений в организации" %}
                                                </a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_3' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_start_date_changes %}"><i
                                                        class="icon-th-large"></i> {% trans "Изменения сроков начала исполнения поручений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_4' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_completion_date_changes %}"><i
                                                        class="icon-th-large"></i> {% trans "Изменения сроков завершения исполнения поручений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_maximal_chain %}"><i class="icon-th-large"></i> {% trans "Максимальные цепочки делегирования поручений" %}
                                                </a>
                                                </li>
                                            {% endif %}
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_most_least_variable_task %}"><i
                                                        class="icon-th-large"></i> {% trans "Наиболее/наименее вариабельное поручение" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_5' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_tasks_status_review %}"><i class="icon-th-large"></i> {% trans "Обзор состояния поручений сотрудников" %}
                                                </a>
                                                </li>
                                            {% endif %}
                                            {% if 'accounts.view_query_8' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_planning_errors %}"><i class="icon-th-large"></i> {% trans "Ошибки планирования" %}</a></li>
                                            {% endif %}

                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_attention_distribution %}"><i class="icon-th-large"></i> {% trans "Распределение внимания руководителя" %}
                                                </a>
                                                </li>
                                            {% endif %}

                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_attention_distribution_time %}"><i
                                                        class="icon-th-large"></i> {% trans "Распределение внимания руководителя (новый расчет)" %}</a></li>
                                            {% endif %}


                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_load_distribution %}"><i
                                                        class="icon-th-large"></i> {% trans "Распределение нагрузки сотрудников и подразделений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_timeliness %}"><i class="icon-th-large"></i> {% trans "Степень своевременности выполнения поручений" %}
                                                </a>
                                                </li>
                                            {% endif %}
                                            {% if 'accounts.view_query_1' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_canceled_tasks %}"><i class="icon-th-large"></i> {% trans "Учет отмененных поручений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_8' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_overdue_tasks %}"><i class="icon-th-large"></i> {% trans "Учет просроченных поручений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_2' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_deleted_tasks %}"><i class="icon-th-large"></i> {% trans "Учет удаленных поручений" %}</a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_7' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_closing_tasks %}"><i
                                                        class="icon-calendar"></i> {% trans "Учет закрывающихся поручений на конкретную дату" %}
                                                </a></li>
                                            {% endif %}
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_tasks_value %}"><i class="icon-th-large"></i> {% trans "Ценности поручений" %}</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{% trans "Новые запросы" %} <b class="caret"></b></a>
                                        <ul class="dropdown-menu" style="max-width: 400px;">
                                            {% if 'accounts.view_query_0' in request.user.get_all_permissions %}
                                                <li><a href="{% url query_manager_tasks_control_percent %}"><i
                                                        class="icon-th-large"></i> {% trans "Процент проконтролированных поручений руководителем" %}</a></li>
                                                <li><a href="{% url query_average_control_term %}"><i
                                                        class="icon-th-large"></i> {% trans "Средний срок контроля поручений руководителем" %}</a></li>
                                                <li><a href="{% url query_task_complexity_distribution %}"><i
                                                        class="icon-th-large"></i> {% trans "Распределение трудоёмкости поручений по сотрудникам" %}</a></li>
                                                <li><a href="{% url query_change_task_completion_terms %}"><i
                                                        class="icon-th-large"></i> {% trans "Изменение сроков исполнения поручения" %}</a></li>
                                                <li><a href="{% url query_tasks_changed_statement %}"><i
                                                        class="icon-th-large"></i> {% trans " Поручения, по которым вносились изменения<br/> в формулировку" %}</a></li>
                                                <li><a href="{% url title_or_text_changed_tasks %}"><i class="icon-th-large"></i>Процент поручений, по которым вносились изменения в <br/>
                                                    формулировку, после их просмотра Поручающим.</a></li>
                                                <li><a href="{% url query_task_fulfillment_report %}"><i
                                                        class="icon-th-large"></i> {% trans "Динамика заполнения СКАИП сотрудниками" %}</a></li>
                                                <li><a href="{% url query_low_active_employees %}"><i
                                                        class="icon-th-large"></i> {% trans "Список малоактивных сотрудников" %}</a></li>
                                            {% endif %}
                                        </ul>
                                    </li>
                                {% endif %}
                            </ul>
                            {% if request.path != '/reports/stat/' %}
                                <form class="navbar-search pull-left" action="{% url project_search %}">
                                    <input type="text" class="search-query" placeholder="{% trans "Поиск по названию" %}" name="search-query">
                                    {% if request.path  == '/history/' or TYPE_search == 'history' %}
                                        <input type="hidden" name="query_type" value="history">
                                    {% endif %}
                                    {% if request.path == '/' or TYPE_search == 'project' %}
                                        <input type="hidden" name="query_type" value="project">
                                    {% endif %}
                                </form>
                            {% endif %}
                            <ul class="nav pull-right">
                                <li><a href="{% url view_account request.user.username %}">{% trans "Моя карточка" %}</a></li>
                                <li class="divider-vertical"></li>

                                <li class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">{{ request.user.username }} <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url accounts_list %}">{% trans "Список сотрудников" %}</a></li>
                                        <li class="divider"></li>

                                        {% if request.user.is_superuser %}
                                            <li><a href="{% url accounts.views.edit_employers %}">{% trans "Управление сотрудниками" %}</a></li>
                                            <li><a href="/admin/">{% trans "Панель управления" %}</a></li>
                                        {% endif %}
                                        <li><a href="{% url accounts.views.edit_account %}">{% trans "Настройки профиля" %}</a></li>
                                        <li><a href="{% url django.contrib.auth.views.logout %}">{% trans "Выход" %}</a></li>
                                    </ul>
                                </li>
                            </ul>
                            {% if ACC_MANAGER %}
                                {% block ACC_MANAGER %}
                                    <ul class="nav pull-right">
                                        <li>
                                            <form action="" method="get" class="navbar-search" id="select_employer">
                                                <select name="get_user">
                                                    <option value="">-------</option>
                                                    {% for users in ACC_EMPLOYERS %}
                                                    <option value="{{ users.user.id }}" data-url="/{{ request.base_url_without_user_id }}/{{ users.user.id }}" {% if request.viewed_user.pk|add:"0" == users.user.id|add:"0" %}
                                                                selected="selected"{% endif %} >{{ users.get_names }}</option>
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </li>
                                    </ul>
                                {% endblock %}
                            {% endif %}
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container-fluid">

        {% if messages %}
            {% for message in messages %}
                <div class="alert {% if 'error' in message.tags %}alert-error{% elif 'success' in message.tags %}alert-success{% else %}alert-warning{% endif %} {% if message.tags %}{{ message.tags }}{% endif %}">
                    <a class="close" data-dismiss="alert">×</a>
                    <h4 class="alert-heading">{% trans "Внимание" %} !</h4>
                    {{ message|safe }}
                </div>
            {% endfor %}
        {% endif %}
    </div>
</section>
<section>
    <div class="container-fluid">
        {% block user_stat %}<h3 style="color:#ce0000;float: left;">{{ request.user.get_profile.get_names }}</h3>
            {% if STAT_ALL %}
                <div style="float: right;display: table;">
                    <h4 style="float: left; margin-right: 10px;">{% trans "Всего" %}: {{ STAT_ALL|default:0 }}</h4>
                    <h4 style="float: left; margin-right: 10px;">{% trans "На сегодня" %}: {{ STAT_TO_DAY|default:0 }}</h4>
                    <h4 style="float: left; margin-right: 10px;">{% trans "Просрочено" %}: {{ STAT_LAST|default:0 }}</h4>
                </div>
            {% endif %}{% endblock %}
    </div>
</section>
{% block content %}{% endblock %}
{% block modal %}{% endblock modal %}
</body>
</html>
