{% load i18n %}

<div class="scrollbar-container">
  <div class="scrollbar">
      <div class="track">
          <div class="thumb">
              <div class="end"></div>
          </div>
      </div>
  </div>

  <div class="viewport">
      <div class="overview">
          <table class="table tablesorter task_list">
              <thead>
                  <tr>
                      {% if not is_print %}
                          <td><input type="checkbox" name="alls" value="all" class="bulk-checkbox"></td>
                      {% endif %}
                      <th>{% trans "Номер связи" %}</th>
                      <th>{% trans "№" %}</th>
                      <th>{% trans "Дата поручения" %}</th>
                      <th>{% trans "Название поручения" %}</th>
                      <th>{% trans "Приоритет" %}</th>
                      <th>{% trans "% выполнения" %}</th>
                      <th>{% trans "Срок исполнения" %}</th>
                      {% if type == "for-me-tasks" %}
                          <th>{% trans "Кем дано" %}</th>
                      {% endif %}
                      {% if type == "my-tasks" %}
                          <th>{% trans "Исполнитель" %}</th>
                      {% endif %}
                      <th>{% trans "Оценка" %}</th>
                      <th>{% trans "Комментарии" %}</th>

                  </tr>
              </thead>
              <tbody>
                  {% for task in tasks %}
                      <tr rel="{{ task.id }}" var="{{ USER_TASKS.user.id }}" class="{% if task.get_lefts < 0 %}lost{% endif %}{% if task.get_lefts == 0 %}today{% endif %} {% if task.terminated == 1 %}termid{% endif %}">
                          {% if not is_print %}
                              <td><input type="checkbox" class="bulk-checkbox" name="checkbox_{{ task.id }}" value="{{ task.id }}"></td>
                          {% endif %}
                          <td class="number" pole="nomer" type="input">{{ task.nomer }}</td>
                          <td class="grey number">{{ task.number|default:"0" }}</td>
                          <td class="number">{{ task.date_add|date:"d.m.Y" }}</td>
                          <td class="number title edit t {% if task.files.all %}file{% endif %}">{{ task.title|truncatewords_html:7 }}</td>
                          <td class="number">{{ task.get_priority_display|default:"0" }}</td>
                          <td class="number">{{ task.get_progress_display|default:"0%"  }}</td>
                          <td class="number">{{ task.date_end|date:"d.m.Y" }}</td>
                          {% if type == "for-me-tasks" %}
                              <td class="number">{{ task.author.get_profile.get_names }}</td>
                          {% endif %}
                          {% if type == "my-tasks" %}
                              <td class="number">{{ task.author_task.get_profile.get_names }}</td>
                          {% endif %}
                          <td class="number">{{ task.evaluation|default:"0" }}</td>
                          <td class="number title edit" width="120">{{ task.comment|truncatewords:6 }}</td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
      </div>
    </div> <!-- /.viewport -->
</div>
