{% extends "project/base.html" %}
{% load uploadify_tags i18n project__extras dk_url %}


{% block content %}


    <script>
        var isActive = true;
        var totalSecondsForPage = 0;

        window.onfocus = function () {
            isActive = true;
            totalSecondsForPage = 0;
        };
        window.onblur = function () {
            isActive = false;
        };


        $(document).ready(function () {

            $('.edit_comment_length').each(function(i, elem){
                var text = $('form').has(this).find("#id_comment").val();
                var text_length = 0;
                if (text) {
                    text_length = text.length;
                }
                $(elem).text(text_length);
            });
            $('.edit_comment_maxlength').text($('#id_comment').attr('maxlength'));

            $('#id_comment').live('change keyup paste', function () {
                var text_length = $(this).val().length;
                $(this).parents('form').find('.edit_comment_length').text(text_length);
            });

            //    Mouse position
            $(document).mousemove(function (e) {
                window.mouse_pos = [e.pageX, e.pageY];
            });
        });

        setInterval(function () {
                    console.log(window.isActive ? 'active' : 'inactive');


                    if (window.isActive && window.old_mouse_pos != window.mouse_pos) {
                        {%if is_need_count_time %}
                            $.ajax({
                                type: 'POST',
                                url: '/save_attention_time/',
                                data: {
                                    'time': 10
                                },
                                success: function (msg) {
                                    console.log("ok");
                                }
                            });
                        {%endif %}
                    }
                    window.old_mouse_pos = window.mouse_pos;
                }
                ,
                10000
        )
        ;
    </script>
    <div class="modal hide fade" id="AddTask">
        <form action="" method="post" enctype="multipart/form-data" id="AddTaskForm">
            <div class="modal-header">
                <a data-dismiss="modal" class="close">×</a>

                <h3>{% trans "Добавить поручение" %}</h3>
            </div>
            <div class="modal-body">
                {% include "project/task_form.html" with form=formset %}
            </div>
        </form>
    </div>

    <div class="container-fluid">
        <div class="page-header">
            <div style="float: right; vertical-align:text-top;"><a class="btn btn-large btn-warning" href="#AddTask" id="Add">{% trans "Добавить поручение" %}</a></div>
            <h1 class="inline-block">{% trans "Поручения" %} {% if USER_TASKS %}
                <small>{% trans "Cотрудника" %}: {{ USER_TASKS.get_names }}</small>{% endif %}
                <small>{% trans "на" %} {{ date }}</small>
            </h1>

            <ul id="tasks-tabs-buttons" class="nav nav-tabs pull-right" role="tablist">
                <li class="active"><a href="#for-me-tasks" role="tab" data-toggle="tab">Мои поручения ({{ for_me_tasks.count }})</a></li>
                <li><a href="#my-tasks" role="tab" data-toggle="tab">Назначенные мною ({{ my_tasks.count }})</a></li>
            </ul>
        </div>


        <div class="dashboard-filters__period row-fluid">
            <form class="form-inline form-inline_top-label" action="" method="GET" accept-charset="utf-8">
                {{ filters_form.media }}
                {{ filters_form.as_p }}
                <span class="filters__submit-container">
                    <input type="submit" value="Показать"/>
                </span>
            </form>
        </div>

        <form action="{% url action_task %}" method="POST" multiple>
            <div id="tasks-tabs-content" class="tab-content">
                <div id="for-me-tasks" class="tab-pane active">
                    {# <div class="overview"> #}
                        {% include "project/dashboard_table.html" with tasks=for_me_tasks type="for-me-tasks" %}
                    {# </div> #}
                </div>

                <div id="my-tasks" class="tab-pane">
                    {# <div class="overview"> #}
                        {% include "project/dashboard_table.html" with tasks=my_tasks type="my-tasks" %}
                    {# </div> #}
                </div>
            </div>

            <div class="">
                <div style="vertical-align:text-top;">
                    <input name="delete" class="btn btn-danger" value="{% trans "Удалить" %}" type="submit" style="margin-top: 7px"/>
                    <input name="exportxls" value="{% trans "Экспортировать в XLS" %}" class="btn btn-primary" type="submit" style="margin-top: 7px"/>
                    <!-- <input name="print" value="{% trans "Отправить в печать" %}" class="btn" type="submit" /> -->
                    <a href="{% url_params print=1 %}"
                       rel="{% url_params print=1 %}"
                       target="_blank" id="var_print"
                       class="btn btn-warning">{% trans "Распечатать список" %}</a>
                </div>
            </div>
        </form>

        <div class="row-fluid">
            <div class="bulk-actions">{% tasks_bulk_form request %}</div>
        </div>

        {% if tasks|length > 0 %}
            <hr>
            <div id="task_detail">
                <center><h1>{% trans "Выберите поручение из списка" %}</h1></center>
            </div>
            <hr>
        {% endif %}
    </div>
{% endblock %}
