{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Print</title>
    <style type="text/css">
        table td{
            border-bottom: 1px solid #000;
            font-size: 18px;
        }
    </style>
</head>
<body onload="window.print(); window.close(); return false">
    <h1>{% trans "Поручения" %} {% if USER_TASKS %}<small>{% trans "Cотрудника" %}: {{ USER_TASKS.get_names }}</small>{% endif %} <small>{% trans "на" %} {{ date }}</small></h1>

    <div class="container-fluid">
        <form action="{% url action_task %}" method="POST" multiple>
            <div id="task_box">
                <div class="scrollbar-container">
                    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
                    <div class="viewport">
                        <div class="overview">
                            
                            {% include "project/dashboard_table.html" %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</body>
</html>
