{% load i18n %}

<table id="task_list" class="table">
    <thead>
        <tr>
            <th>{% trans "Номер связи" %}</th>
            <th>{% trans "№" %}</th>
            <th>{% trans "Дата поручения" %}</th>
            <th>{% trans "Название поручения" %}</th>
            <th>{% trans "Приоритет" %}</th>
            <th>{% trans "% выполнения" %}</th>
            <th>{% trans "Срок исполнения" %}</th>
            <th>{% trans "Кем дано" %}</th>
            <th>{% trans "Оценка" %}</th>
            <th>{% trans "Комментарии" %}</th>

        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
            <tr rel="{{ task.id }}" var="{{ USER_TASKS.user.id }}" class="{% if task.get_lefts < 0 %}lost{% endif %}{% if task.get_lefts == 0 %}today{% endif %} {% if task.terminated == 1 %}termid{% endif %}">
                <td class="number" pole="nomer" type="input">{{ task.nomer }}</td>
                <td class="grey number">{{ task.number|default:"0" }}</td>
                <td class="number">{{ task.date_add|date:"d.m.Y" }}</td>
                <td class="number title edit t {% if task.files.all %}file{% endif %}">{{ task.title|truncatewords_html:7 }}</td>
                <td class="number">{{ task.get_priority_display|default:"0" }}</td>
                <td class="number">{{ task.get_progress_display|default:"0%"  }}</td>
                <td class="number">{{ task.date_end|date:"d.m.Y" }}</td>
                <td class="number">{{ task.author.get_profile.get_names|default:task.author_task.get_profile.get_names }}</td>
                <td class="number">{{ task.evaluation|default:"0" }}</td>
                <td class="number title edit" width="120">{{ task.comment|truncatewords:6 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
