{% extends "project/base.html" %}
{% load i18n %}

{% block content %}
<div class="container-fluid">
    <div class="page-header"><h1>{% trans "Удаление поручений" %}</h1></div>
    <b>{%  trans "Вы действительно хотите удалить эти поручения ?" %}</b>
    <ul>
        {% for t in task %}
            <li>{{ t.title }}</li>
        {% endfor %}
    </ul>
<form action="{% url delete_task %}" method="POST" >
    {{ formset.management_form }}
    {% for t in task %}
        <input value="{{ t.id }}" type="hidden" name="task">
    {% endfor %}
<input type="submit" value="{% trans "Да" %}" class="btn btn-large btn-info">
<a href="javascript:history.go(-1)" class="btn btn-warning">{% trans "Отмена" %}</a>
</form>
</div>
{% endblock %}