{% extends "project/base.html" %}
{% load i18n thumbnail  chartit static %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    type: 'line'
                },
                title: {
                    text: '{{ chart.title }}'
                },
                subtitle: {
                    text: '{{ chart.desc }}'
                },
                xAxis: {
                    categories: ['Янв', 'Фев', 'Март', 'Апр', 'Май', 'Июнь', 'Июль', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек']
                },
                yAxis: {
                    title: {
                        text: 'Кривая'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: true
                        },
                        enableMouseTracking: false
                    }
                },
               {% if not chart.arr %}
                series: [{
                    name: '{{ chart.title }}',
                    data: [{% for d in chart.db %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                 },
                 {% if chart.ob and get.type != 0|stringformat:"s" %}{
                        name: 'Общее число задач сотрудника',
                        data: [{% for d in chart.ob.db %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                    },
                 {% endif %}
                 ],
                {% endif %}
                {% if chart.arr %}
                   series: [{
                           name: 'При проценте выполнения меньшем 30%',
                           data: [{% for d in chart.arr.a1 %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                       },
                       {
                           name: 'При проценте выполнения одновременно меньшем 60% и большем 30%',
                           data: [{% for d in chart.arr.a2 %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                       },{
                           name: 'При проценте выполнения одновременно меньшем 100% и большем 60%',
                           data: [{% for d in chart.arr.a3 %} {{ d }} {% if not forloop.last %}, {% endif %}{% endfor %}]
                       }]
                {% endif %}
            });

        $('#otd').change(function() {
                $('#zp').submit();
        });
        $('#type').change(function() {
                $('#zp').submit();
        });
        $('#year').change(function() {
                $('#zp').submit();
        });
        });
    </script>
    <div class="container-fluid">
        <div class="page-header">
            <h1 style="float: left; margin-right: 10px;">{% trans "Запросы:" %}</h1>
            <form style="margin-top: 10px;" id="zp">
                <select id="type" name="type">
                    <option value="0" {% if request.GET.type == '0' %}selected="selected"{% endif %}>{% trans "Общее число поручений сотрудника" %}</option>
                    <option value="1" {% if request.GET.type == '1' %}selected="selected"{% endif %}>{% trans "Средний график выполнения поручения сотрудником" %}</option>
                    <option value="3" {% if request.GET.type == '3' %}selected="selected"{% endif %}>{% trans "Несвоевременное закрытие поручений руководителем" %}</option>
                    <option value="4" {% if request.GET.type == '4' %}selected="selected"{% endif %}>{% trans "Число выполненных поручений из общего числа задач" %}</option>
                    <option value="5" {% if request.GET.type == '5' %}selected="selected"{% endif %}>{% trans "Число невыполненных поручений из общего числа задач" %}</option>
                    <option value="6" {% if request.GET.type == '6' %}selected="selected"{% endif %}>{% trans "Число отмененных поручений из общего числа поручений" %}</option>
                    <option value="7" {% if request.GET.type == '7' %}selected="selected"{% endif %}>{% trans "Число отмененных поручений при определенном проценте их исполнения" %}</option>
                </select>
                <select id="otd" name="otd">
                    {% for o in otd %}
                        <option value="{{ o.user.id }}" {% if request.GET.otd == o.user.id|stringformat:"s" %}selected="selected"{% endif %}>{{ o.get_names }}</option>
                    {% endfor %}
                </select>
                <select id="year" name="year" style="float: left; margin-right: 5px; width: 100px;">
                    <option value="2010" {% if year == 2010 %}selected="selected"{% endif %}>2010</option>
                    <option value="2011" {% if year == 2011 %}selected="selected"{% endif %}>2011</option>
                    <option value="2012" {% if year == 2012 %}selected="selected"{% endif %}>2012</option>
                    <option value="2013" {% if year == 2013 %}selected="selected"{% endif %}>2013</option>
                    <option value="2014" {% if year == 2014 %}selected="selected"{% endif %}>2014</option>
                    <option value="2015" {% if year == 2015 %}selected="selected"{% endif %}>2015</option>
                    <option value="2016" {% if year == 2016 %}selected="selected"{% endif %}>2016</option>
                    <option value="2017" {% if year == 2017 %}selected="selected"{% endif %}>2017</option>
                    <option value="2018" {% if year == 2018 %}selected="selected"{% endif %}>2018</option>
                    <option value="2019" {% if year == 2019 %}selected="selected"{% endif %}>2019</option>
                </select>
            </form>
        </div>
        <h4>{{ chart.title }} {% trans "для" %} {{ uss }}  {{ chart.count }}</h4>
        <hr>

        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}