{% if task %}
    <div class="page-header">
        <h1>Поручение №{{ task.number }} <small>от {{ task.date_add|date:"d.m.Y" }} "{{ task.title }}" по состоянию на {{ task.layer|date:"d.m.Y" }}</small></h1>
    </div>
        <table width="100%" id="task_form" class="edit" cellpadding="5" cellspacing="2">
            <tr valign="middle">
                <td align="right" width="160" class="label"><b>Номер связи:</b></td>
                <td  width="260">{{ task.nomer }}</td>

            </tr>
            <tr valign="middle">
                <td align="right" class="label"><b>Название:</b></td>
                <td>{{ task.title }}</td>
                <td  align="right" width="160"  class="label"><b>Кем дано:</b></td>
                <td>{{ task.author.get_profile.get_names|default:task.author_task.get_profile.get_names }}</td>
            </tr>
            <tr valign="middle">
                <td align="right" class="label"><b>Приоритет:</b></td>
                <td>{{ task.get_priority_display|default:'-------' }}</td>
                <td  align="right" class="label"><b>Дата поручения:</b></td>
                <td>{{ task.date_add }}</td>
            </tr>
            <tr valign="middle">
                <td align="right" class="label"><b>Процент выполнения:</b></td>
                <td>{{ task.get_progress_display|default:"0%"  }}</td>
                <td align="right" class="label"><b>Срок исполнения:</b></td>
                <td>{{ task.date_end }}</td>
            </tr>
            <tr>
                <td align="right" class="label"><b>Комментарий:</b></td>
                <td colspan="3">{{ task.comment }}</td>
            </tr>
        <tr>
            <td align="right" class="label"><b>Подробное описание поручения:</b></td>
            <td colspan="3">{{ task.text }}</td>
        </tr>
            <tr valign="middle">
                <td align="right" class="label"><b>Оценка:</b></td>
                <td colspan="3">{{ task.evaluation }}</td>
            </tr>
            {% if task.terminated %}
            <tr>
                <td align="right" class="label"><b>Прекращено:</b>
                </td><td colspan="4" class="terminated">1</td>
            </tr>
            <tr id="terminated_text">
                <td align="right" class="label"><b>Причина:</b></td>
                <td colspan="4">{{ task.terminated_text }}</td>
            </tr>
            {% endif %}
        </table>
    <div class="page-header" style="display: table; width: 100%">
    <h3>Прикрепленные файлы</h3>
    <div style="display: table">
        {% for t in task.files.all %}
            <div class="uploadifyQueueItem completed" id="fileEdit{{ t.id }}">
                <div class="cancel"><a href="javascript:jQuery('#fileEdit').uploadifyCancel('{{ t.id }}')"><img border="0" src="/media/js/uploadify/cancel.png"></a></div>
                <span class="fileName"><a href="/media/{{ t.file.name }}" target="_blank">{{ t.get_name }} ({{ t.file.size|filesizeformat }} )</a></span>
                <input type="hidden" name="files" value="{{ t.id }}">
            </div>
        {% endfor %}
    </div>
    </div>
{% endif %}

