{% extends "project/base.html" %}

{% block content %}
    <script>
        var isActive = true;

        window.onfocus = function () {
            isActive = true;
        };
        window.onblur = function () {
            isActive = false;
        };

        $(document).ready(function () {
            //    Mouse position
            $(document).mousemove(function (e) {
                window.mouse_pos = [e.pageX, e.pageY];
            });
        });


        setInterval(function () {
                    console.log(window.isActive ? 'active' : 'inactive');
                    if (window.isActive && window.old_mouse_pos != window.mouse_pos) {
                        {% if is_need_count_time %}
                            $.ajax({
                                type: 'POST',
                                url: '/save_attention_time/',
                                data: {
                                    'time': 10
                                },
                                success: function (msg) {
                                    console.log("ok");
                                }
                            });
                        {% endif %}
                    }
                    window.old_mouse_pos = window.mouse_pos;
                }
                ,
                10000
        )
        ;
    </script>

    <div class="container-fluid">
        <div class="page-header">
            <h1>Истории поручений {% if USER_TASKS %}
                <small>Cотрудника: {{ USER_TASKS.get_names }}</small>{% endif %}</h1>
        </div>

        <div class="row-fluid">
            <div class="filters__item history-filters__period">
                <form class="form-inline form-inline_top-label" action="" method="GET" accept-charset="utf-8">
                    {{ filters_form.media }}
                    {{ filters_form.as_p }}
                    <span class="filters__submit-container">
                        <input type="submit" value="Показать"/>
                    </span>
                </form>
            </div>
        </div>

        <form action="{% url action_task %}?{{ get_params_string }}" method="post" multiple>
            <table width="100%">
                <tr valign="top">
                    <td width="300">
                        <div class="datepicker" id="datepicker" {% if user_id %}var="{{ user_id }}"{% endif %}></div>
                        <div>
                            <br>
                            <input name="exportxls" value="Экспортировать в XLS" class="btn btn-small btn-primary" type="submit"/>
                            <br>
                            <br>
                            <input name="exportxlsfinished" value="Завершенные поручения" class="btn btn-small btn-primary" type="submit"/>
                            <br>
                            <br>
                            <b style="color:#EB9264;">Оранжевый цвет</b> – удаленные поручения.
                            <div class="loader" style="display: none;"><h1>Загрузка...</h1></div>

                        </div>
                    </td>
                    <td>
                        <div class="history_list" id="history_list">{% include "project/history-list.html" %}</div>
                    </td>
                </tr>
            </table>
        </form>
        {% if is_standalone %}
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#task_detail').html("<center><h1>'Загрузка...'</h1></center>");
                    $.get("/history/history_task_view/", {
                        obj_id: {{ obj_id }},
                        get_user: {{ get_user }}
                    }, function (data) {
                        $('#task_detail').html(data);
                    });
                });
            </script>
        {% endif %}
        <div id="task_detail">
            <center><h1>Выберите поручение из списка</h1></center>
        </div>
    </div>
{% endblock %}
