{% extends "project/base.html" %}

{% block content %}
    <div class="container-fluid">
    <a href="/"><i class="icon-arrow-left"></i>Назад к главной странице</a>
        <div class="page-header">
            <h1>История изменений поручения №{{ project.0.id }} <small>{{ project.0.title }} на {{ p.layer|date:"d.m.Y" }}</small></h1>
        </div>
        <div class="scrollbar-container">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                <div class="overview">
                    <table id="task_list" class="table table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Номер связи</th>
                            <th>№</th>
                            <th width="300">Название поручения</th>
                            <th>% выполнения</th>
                            <th>Дата поручения</th>
                            <th>Срок исполнения</th>
                            <th>Кем дано</th>
                            <th>Длительность</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for p in project %}
                            <tr rel="{{ p.id }}" title="{{ p.title|truncatewords_html:10 }}" content="{{ p.text }}" role="history">
                                <td>{{ p.layer }}</td>
                                <td class="number">{{ p.nomer }}<input type="hidden" name="checkbox_{{ p.id }}" value="{{ p.id }}"></td>
                                <td class="grey number">{{ p.number|default:"0" }}</td>
                                <td class="title number" width="300">{{ p.title|truncatewords_html:7 }}</td>
                                <td class="number">{{ p.get_progress_display|default:"0%"  }}</td>
                                <td class="number">{{ p.date_add|date:"d.m.Y" }}</td>
                                <td class="number">{{ p.date_end|date:"d.m.Y" }}</td>
                                <td class="number">{{ p.author.get_profile.get_names|default:p.author_task.get_profile.get_names }}</td>
                                <td class="grey">{{ p.get_days }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
   </div>
<div id="task_detail">
    {% if project|length > 0 %} <center><h1>Выберите поручение из списка</h1></center> {% endif %}
</div>
</div>

{% endblock %}
