{% load project__extras %}
{% load i18n %}
<div class="scrollbar-container">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
            <table id="task_list" class="table table-striped task_list">
                <thead>
                <tr>
                    <th><input type="checkbox" name="alls" value="all" class="bulk-checkbox"></th>
                    <th>Номер связи</th>
                    <th>№</th>
                    <th width="300">Название поручения</th>
                    <th>{% trans "Приоритет" %}</th>
                    <th>% выполнения</th>
                    <th>Дата поручения</th>
                    <th>Срок исполнения</th>
                    <th>Кем дано</th>
                </tr>
                </thead>
                <tbody>
                    {% for t in open_tasks %}
                        {% include "project/history-list-date-period__row.html" with t=t profile=profile row_classes="open" %}
                    {% endfor %}

                    {% for t in complete_tasks %}
                        {% include "project/history-list-date-period__row.html" with t=t profile=profile row_classes="completed" %}
                    {% endfor %}

                    {% for t in deleted_tasks %}
                        {% include "project/history-list-date-period__row.html" with t=t profile=profile row_classes="deleted" %}
                    {% endfor %}

                    {% for t in overdue_tasks %}
                        {% include "project/history-list-date-period__row.html" with t=t profile=profile row_classes="overdue" %}
                    {% endfor %}

                    {% for t in from_request_user_tasks %}
                        {% include "project/history-list-date-period__row.html" with t=t profile=profile row_classes="from_me" %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{# <div class="bulk-actions">{% tasks_bulk_form request %}</div> #}
<div id="his_all"><h4>Всего:{{ tasks_count }}</h4></div>
