{% load project__extras %}
{% load i18n %}
<div class="scrollbar-container">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
            <table class="table table-striped task_list">
                <thead>
                <tr>
                    {% if not is_print %}
                        <th><input type="checkbox" class="bulk-checkbox_all" name="alls" value="all"></th>
                    {% endif %}
                    <th>Номер связи</th>
                    <th>№</th>
                    <th width="300">Название поручения</th>
                    <th>{% trans "Приоритет" %}</th>
                    <th>% выполнения</th>
                    <th>Дата поручения</th>
                    <th>Срок исполнения</th>
                    <th>Кем дано</th>
                </tr>
                </thead>
                <tbody>
                {% for p in project %}
                <tr rel="{{ p.id }}" role="history" class="{% if p.deleted == 1 %} deleted {% endif %}{% if p.date_end < today%} overdue {% endif %}{% if p.progress < 100 and  p.deleted != 1 and p.layer == today %} open {% endif %}{% if p.progress == 100 %} completed {% endif %}{% if p.terminated == 1 %} termind {% endif %}{% if p.editing_task %} editing {% endif %} {% if p.author_task.id == USER_TASKS.user.id and p.author.id == request_user.user.id %} from_me {% endif %}"  var="{{ USER_TASKS.user.id }}">
                    <td><input class="bulk-checkbox" data-object-id="{{ p.id }}" value="{{ p.id }}" type="checkbox" /></td>
                        <td class="number">{{ p.nomer }}<input type="hidden" name="checkbox_{{ p.id }}" value="{{ p.id }}"></td>
                        <td class="grey number">{{ p.number|default:"0" }}</td>
                        <td class="number title edit t {% if p.files.all %}file{% endif %}">{{ p.title|truncatewords_html:7 }}</td>
                        <td class="number">{{ p.get_priority_display|default:"0"  }}</td>
                        <td class="number">{{ p.get_progress_display|default:"0%" }}</td>
                        <td class="number">{{ p.date_add|date:"d.m.Y" }}</td>
                        <td class="number">{{ p.date_end|date:"d.m.Y" }}</td>
                        <td class="number">{{ p.author.get_profile.get_names|default:p.author_task.get_profile.get_names }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{# <div class="bulk-actions">{% tasks_bulk_form request %}</div> #}
<div id="his_all"><h4>Всего: {{ project|length }}</h4></div>
