{% load project__extras %}
{% load i18n %}

<tr rel="{{ t.id }}" role="history" class="{{ row_classes }}{% if t.terminated == 1 %} termind{% endif %}{% if t.editing_task %} editind{% endif %}"  var="{{ profile.user.id }}">
    <td><input class="bulk-checkbox" data-object-id="{{ t.id }}" type="checkbox" /></td>
    <td class="number">{{ t.nomer }}<input type="hidden" name="checkbox_{{ t.id }}" value="{{ t.id }}"></td>
    <td class="grey number">{{ t.number|default:"0" }}</td>
    <td class="number title edit t {% if t.files.all %}file{% endif %}">{{ t.title|truncatewords_html:7 }}</td>
    <td class="number">{{ t.get_priority_display|default:"0"  }}</td>
    <td class="number">{{ t.get_progress_display|default:"0%" }}</td>
    <td class="number">{{ t.date_add|date:"d.m.Y" }}</td>
    <td class="number">{{ t.date_end|date:"d.m.Y" }}</td>
    <td class="number">{{ t.author.get_profile.get_names|default:t.author_task.get_profile.get_names }}</td>
</tr>
