{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<script type="text/javascript">
    window.print() ;
</script>
<body>
  <table border="1">
      <tr>
          <td>{% trans "ID" %}</td>
          <td>{% trans "Сотрудник" %}</td>
          <td>{% trans "Должность" %}</td>
          <td>{% trans "Кем дано" %}</td>
          <td>{% trans "Название поручения" %}</td>
          <td>{% trans "Дата поручения" %}</td>
          <td>{% trans "Срок исполнения" %}</td>
          <td>{% trans "Процент выполнения" %}</td>
      </tr>
      {% for obj in query %}
          <tr>
              <td>{{ forloop.counter }}</td>
              <td>{{ obj.author_task.get_profile.get_names }}</td>
              <td>{{ obj.author_task.get_profile.job|default:'Отсутствует'}}</td>
              <td>{{ obj.author.get_profile.get_names|default:'Отсутствует'}}</td>
              <td>{{ obj.title|default:'Отсутствует'}}</td>
              <td>{{ obj.date_add|default:'Отсутствует'}}</td>
              <td>{{ obj.date_end|default:'Отсутствует'}}</td>
              <td>{{ obj.get_progress|default:'Отсутствует'}}</td>
          </tr>
      {% endfor %}
  </table>
</body>
</html>