<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Print</title>
    <style type="text/css">
        table td{
            border-bottom: 1px solid #000;
            font-size: 18px;
        }
    </style>
</head>
<body onload="window.print(); window.close(); return false">
<h3>Поручение № </td> <td>{{ p.number }} от {{ p.date_add|date:"d.m.Y" }}</h3>
<table cellpadding="5" cellspacing="0">
    <tr>
        <td>Номер связи</td> <td>{{ p.nomer }}</td>
    </tr>
    <tr>
        <td>Дата поручения</td>  <td>{{ p.date_add|date:"d.m.Y" }}</td>
    </tr>
    <tr>
        <td>Название поручения</td> <td>{{ p.title}}</td>
    </tr>
    <tr>
        <td>Подробное описание поручения</td> <td>{{ p.text }}</td>
    </tr>
    <tr>
        <td>Приоритет</td> <td>{{ p.get_priority_display|default:"0" }}</td>
    </tr>
    <tr>
        <td>% выполнения</td>  <td>{{ p.get_progress_display|default:"0%"  }}</td>
    </tr>
    <tr>
        <td>Срок исполнения</td> <td>{{ p.date_end|date:"d.m.Y" }}</td>
    </tr>
    <tr>
        <td>Кем дано</td>  <td>{{ p.author.get_profile.get_names|default:p.author_task.get_profile.get_names  }}</td>
    </tr>

    <tr>
        <td>Оценка</td> <td>{{ p.evaluation|default:"0" }}</td>
    </tr>
    <tr>
        <td>Комментарий</td> <td>{{ p.comment }}</td>
    </tr>

</table>
</body>
</html>
