{% extends "project/base.html" %}
{% load i18n %}
{% block content %}
    <div class="container-fluid">
    <a href="/"><i class="icon-arrow-left"></i>Назад к списку поручений</a>
        <div class="page-header">
            <h1>Поручения, содержащие в название: <small>{{ query }}</small></h1>
        </div>
        <div class="scrollbar-container">
            <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
            <div class="viewport">
                <div class="overview">
                    <table id="task_list" class="table tablesorter task_list">
                        <thead>
                        <tr>
                            <th>{% trans "Номер связи" %}</th>
                            <th>{% trans "№" %}</th>
                            <th>{% trans "Дата поручения" %}</th>
                            <th>{% trans "Название поручения" %}</th>
                            <th>{% trans "Приоритет" %}</th>
                            <th>{% trans "% выполнения" %}</th>
                            <th>{% trans "Срок исполнения" %}</th>
                            <th>{% trans "Кем дано" %}</th>
                            <th>{% trans "Кому поручено" %}</th>
                            <th>{% trans "Оценка" %}</th>
                            <th>{% trans "Комментарии" %}</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for p in project %}
                            <tr rel="{{ p.id }}" var="{{ USER_TASKS.user.id }}"  role="history">
                                <td class="number">{{ p.nomer }}<input type="hidden" name="checkbox_{{ p.id }}" value="{{ p.id }}"></td>
                                <td class="grey number">{{ p.number|default:"0" }}</td>
                                <td class="number">{{ p.date_add|date:"d.m.Y" }}</td>
                                <td class="title number" width="300">{{ p.title|truncatewords_html:7 }}</td>
                                <td class="number">{{ p.get_priority_display|default:"0" }}</td>
                                <td class="number">{{ p.get_progress_display|default:"0%" }}</td>
                                <td class="number">{{ p.date_end|date:"d.m.Y" }}</td>
                                <td class="number">{{ p.author.get_profile.get_names|default:""  }}</td>
                                <td class="number">{{ p.author_tas.get_profile.get_names|default:p.author_task.get_profile.get_names  }}</td>
                                <td class="number">{{ p.evaluation|default:"0" }}</td>
                                <td class="number title edit" width="120">{{ p.comment|truncatewords:6 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
   </div>
<div id="task_detail">
     <center><h1>Выберите поручение из списка</h1></center>
</div>
</div>

{% endblock %}
