{% load uploadify_tags %}
{% load task_history %}

<script>

$(document).ajaxComplete(function () {
//    Comments counts
        $('.edit_comment_length').each(function(i, elem){
            var text = $('form').has(this).find("#id_edit-comment").val();
            var text_length = 0;
            if (text) {
                text_length = text.length;
            }
            $(elem).text(text_length);
        });
    $('.edit_comment_maxlength').text($('#id_edit-comment').attr('maxlength'));

    $('#id_edit-comment').live('change keyup paste', function () {
        var text_length = $(this).val().length;
        $(this).parents('form').find('.edit_comment_length').text(text_length);
    });
});
</script>

{% if task %}
    <div class="task-detail container-fluid">
        <h2 class="task-detail__header">Поручение <small>№{{ task.number }} {{ task.title }}</small></h2>

        <div class="task-detail__body row-fluid">
            <div class="span6">
                {% include "project/task_form.html" with form=task_form action_url="/show_task/" %}
            </div>

            <div class="span6">
                {% task_history_block request task %}
            </div>
        </div>
    </div>
{% endif %}
