{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}


{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    {% include "project/common/checkbox_script.html" %}

    <div class="users-stat container-fluid">
    <div class="page-header">
        <div class="row-fluid">
            <h1 class="pull-left">{% trans "Общий отчет по сотрудникам" %}</h1>

            <div class="pull-right">
                <div class="row">
                    <a href="{% url report-employees %}" style="display: inline-block;" class="btn btn-small btn-primary"><i
                            class="icon-chevron-up"></i> {% trans "Отчет по сотрудникам" %}</a>
                    <a href="{% url report-open-tasks %}" style="display: inline-block;"
                       class="btn btn-small btn-primary"><i class="icon-chevron-up"></i> {% trans "Открытые поручения" %}</a>
                    <a href="{% url report-print-open-tasks %}" style="display: inline-block;"
                       class="btn btn-small"><i class="icon-chevron-up"></i> {% trans "Печатать открытые поручения" %}</a>
                </div>
            </div>
        </div>
        <hr/>
        <div class="filters users-stat__filters" id="zp">
            <div class="filters__item users-stat-filters__user-search">
                <label for="search">{% trans "Поиск по таблице" %}: </label>
                <input type="text" id="search_table"/>
            </div>

            <div class="filters__item users-stat-filters__period">
                <form class="form-inline form-inline_top-label" action="" method="GET" accept-charset="utf-8">
                    {{ filters_form.media }}
                    {{ filters_form.as_p }}
                    <span class="users-stat-filters-period__submit-container filters__submit-container">
                        <input type="submit" value="Показать"/>
                    </span>
                </form>
            </div>

            <div class="pull-right">
                <div class="filters__item">
                    <span id="checkbox_departament" class="btn checkbox_button default" rel="filter_selector" target="all" table="stat_table">По подразделениям </span>
                </div>
                <div class="filters__item">
                    <span id="checkbox_users" class="btn checkbox_button" rel="filter_selector" target="users_tr" table="stat_table">По сотрудникам</span>
                </div>
            </div>

            <script>
                $(document).ready(function () {

                    $.tablesorter.addParser({
                        // set a unique id
                        id: 'pp',
                        is: function (s) {
                            // return false so this parser is not auto detected
                            return false;
                        },
                        format: function (s) {
                            // format your data for normalization
                            str = s.replace(/\.([1-9]+)/gmi, ".00000000$1");
                            return str;
                        },
                        // set type, either numeric or text
                        type: 'text'
                    });

                    $("#stat_table").tablesorter({
                        headers: {
                            2: {
                                sorter: false
                            },
                            0: {
                                sorter: 'pp'
                            },
                            2: {
                                sorter: false
                            },
                            3: {
                                sorter: false
                            },
                            4: {
                                sorter: false
                            },
                            5: {
                                sorter: false
                            },
                            6: {
                                sorter: false
                            },
                            7: {
                                sorter: false
                            },
                            8: {
                                sorter: false
                            },
                            9: {
                                sorter: false
                            },
                            10: {
                                sorter: false
                            },
                            11: {
                                sorter: false
                            },
                            12: {
                                sorter: false
                            }
                        }

                    });


                    $("#checkbox_departament").click(function () {
                        var sorting = [
                            [0, 0]
                        ];
                        $("#stat_table").trigger("sorton", [sorting]);
                    });

                    $("#checkbox_users").click(function () {
                        var sorting = [
                            [1, 0]
                        ];
                        $("#stat_table").trigger("sorton", [sorting]);
                    });

                });
            </script>


            {#                <div style="float: right; margin-right: 5px; font-weight: bold; " class="btn"#}
            {#                     id="checkbox_dep">{% trans "По сотрудникам" %}</div>#}
            {#                <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn btn-success"#}
            {#                     id="checkbox_user">{% trans "По подразделениям" %}</div>#}
        </div>
    </div>


    <table class="table table-striped  tablesorter" id="stat_table">
        <thead>
        <tr>
            <th style="width: 60px;">{% trans "№ п.п." %}</th>
            <th style="width: 180px;">{% trans "Сотрудник" %}</th>
            <th style="width: 180px;">{% trans "Должность" %}</th>
            <th style="width: 390px;">{% trans "Подразделение" %}</th>
            <th>{% trans "История поручений" %}</th>
            <th>{% trans "Кол-во поручений (общее)" %}</th>
            <th>{% trans "Кол-во открытых поручений" %}</th>
            <th>{% trans "Кол-во закрытых поручений" %}</th>
            <th>{% trans "Кол-во удаленных поручений" %}</th>
            <th>{% trans "Средний % выполнения" %}</th>
            <th>{% trans "В онлайне всего (минут)" %}</th>
            <th>{% trans "В онлайне за выбранный период (минут)" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tree, structure in node|tree_info %}
            {% if tree.level == 0 %}
                <tr class="dep">
                    <td></td>
                    <td colspan="3">
                        <center><b>{{ tree.title }}</b></center>
                    </td>
                    <td></td>
                    <td class="digits"><strong>{{ tree.task_count }}</strong></td>
                    <td class="digits">{{ tree.task_opened }}</td>
                    <td class="digits">{{ tree.task_closed }}</td>
                    <td class="digits">{{ tree.task_deleted }}</td>
                    <td class="digits"></td>
                    <td class="digits">{{ tree.online }}</td>
                    <td></td>
                </tr>
            {% else %}
                <tr class="lev{{ tree.level }} checkbox_dep dep null_{{ tree.task_count }}" style="cursor: pointer"
                    data-tree="{{ tree.id }}">
                    <td>{{ tree.nums }}</td>
                    <td colspan="3"><b>{{ tree.title }}</b></td>
                    <td></td>
                    <td class="digits"><strong>{{ tree.task_count }}</strong></td>
                    <td class="digits">{{ tree.task_opened }}</td>
                    <td class="digits">{{ tree.task_closed }}</td>
                    <td class="digits">{{ tree.task_deleted }}</td>
                    <td></td>
                    <td class="digits">{{ tree.online }}</td>
                    <td></td>
                </tr>
                {% if tree.can_show_users %}
                    {% for user in tree.users %}
                        <tr class="users_tr null_{{ user.task_count }} tree_{{ tree.id }}">
                            <td>{{ tree.nums }}.{{ forloop.counter }}</td>
                            <td width="180">
                                <a href="{% url view_account user.user.username %}{{ get_params }}from=stat">
                                    {% if user.profile_picture %}
                                        {% thumbnail user.profile_picture "40x40" crop="center" as im %}
                                            <img src="{{ im.url }}"
                                                 style="float: left; vertical-align: top; margin-right: 5px;">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="/static/project/img/default.png" width="40" height="40"
                                             style="float: left; vertical-align: top; margin-right: 5px;">
                                    {% endif %}
                                </a>
                                <b><a href="{% url view_account user.user.username %}{{ get_params }}from=stat">{{ user }}</a></b
                            </td>
                            <td>{{ user.job|default:"--" }}</td>
                            <td>{{ user.tree|default:"--" }}</td>
                            <td>
                                {% if user.can_show_detail %}
                                    <a href="{% url user-history-view user_id=user.user.id %}{{ get_params }}">перейти</a>
                                {% endif %}
                            </td>
                            <td class="digits">{{ user.task_count }}</td>
                            <td class="digits">
                                {% if user.can_show_detail %}
                                    <a href="{% url user-dashboard-view user_id=user.user.id %}{{ get_params }}">{{ user.task_opened }}</a>
                                {% else %}
                                    {{ user.task_opened }}
                                {% endif %}
                            </td>
                            <td class="digits">{{ user.task_closed }}</td>
                            <td class="digits">{{ user.task_deleted }}</td>
                            <td class="digits">{{ user.procent }}</td>
                            <td class="digits">{{ user.online }}</td>
                            <td class="digits">{{ user.today_online }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endif %}
        {% endfor %}

        <tr>
            <td><h3>{% trans "ИТОГО" %}</h3></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>

            <td class="sum_num">
                <center><b>{{ all_task_count }}</b></center>
            </td>
            <td>
                <center><b>{{ all_task_opened }}</b></center>
            </td>
            <td>
                <center><b>{{ all_task_closed }}</b></center>
            </td>
            <td>
                <center><b>{{ all_task_deleted }}</b></center>
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <hr>
    </div>
{% endblock %}
