{% extends "project/base.html" %}
{% load i18n thumbnail %}

{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans "Общий отчет по сотрудникам" %}</h1>
        </div>
        <div style="display: table;float: right;margin-top: -67px;position: relative;">
            <a href="{% url report-employees %}" style="float: right;" class="btn btn-small btn-primary"><i
                    class="icon-chevron-up"></i> {% trans "Отчет по сотрудникам" %}</a>
            <a href="{% url report-open-tasks %}" style="float: right; margin-right: 20px;"
               class="btn btn-small btn-primary"><i class="icon-chevron-up"></i> {% trans "Открытые поручения" %}</a>
            <a href="{% url report-print-open-tasks %}" style="float: left; margin-right: 20px;"
               class="btn btn-small"><i class="icon-chevron-up"></i> {% trans "Печатать открытые поручения" %}</a>
        </div>
        <p>
            <label for="search">
                <h4>{% trans "Поиск по таблице" %}:</h4>
                <input type="text" id="search_table"/>
            </label>
        </p>

        <form style="padding-top:6px;" id="zp">
            <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn"
                 id="checkbox_dep">{% trans "По сотрудникам" %}</div>
            <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn btn-success"
                 id="checkbox_user">{% trans "По подразделениям" %}</div>
        </form>
        <table class="table table-striped  tablesorter" id="itogi">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Фото" %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "История поручений" %}</th>
                <th>{% trans "Кол-во поручений (общее)" %}</th>
                <th>{% trans "Кол-во открытых поручений" %}</th>
                <th>{% trans "Кол-во закрытых поручений" %}</th>
                <th>{% trans "Кол-во удаленных поручений" %}</th>
                <th>{% trans "Средний % выполнения" %}</th>
                <th>{% trans "Время в онлайне (минут) " %}</th>
                <th>{% trans "Сегодня в онлайне" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for e in queryset %}
                <tr>
                    <td><b>{{ forloop.counter }}</b></td>
                    <td>{% if e.get_profile.profile_picture %}
                        {% thumbnail e.get_profile.profile_picture "41x41" crop="center" as im %}
                            <img src="{{ im.url }}">
                        {% endthumbnail %}
                    {% else %}
                        <img src="/static/project/img/default.png" width="40" height="40">
                    {% endif %}
                    </td>
                    <td><b><a href="{% url view_account e.username %}" target="_blank">{{ e.get_profile.get_names }}</a></b>
                    </td>
                    <td>{{ e.get_profile.job|default:"------" }}</td>
                    <td><a href="{% url user-history-view user_id=e.id %}">перейти</a></td>
                    <td class="num">
                        <center><b>{{ e.task_count }}</b></center>
                    </td>
                    <td><a href="/?get_user={{ e.id }}">
                        <center>{{ e.task_opened }}</center>
                    </a></td>
                    <td>
                        <center>{{ e.task_closed }}</center>
                    </td>
                    <td>
                        <center>{{ e.task_deleted }}</center>
                    </td>
                    <td>
                        <center>{{ e.procent }}%</center>
                    </td>
                    <td>
                        <center>{{ e.online }}</center>
                    </td>
                    <td>
                        <center><b>{{ e.today_online }}</b></center>
                    </td>

                </tr>
            {% endfor %}
            <tr>
                <td><h3>{% trans "ИТОГО" %}</h3></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>

                <td class="sum_num">
                    <center><b>{{ all_task_count }}</b></center>
                </td>
                <td>
                    <center><b>{{ all_task_opened }}</b></center>
                </td>
                <td>
                    <center><b>{{ all_task_closed }}</b></center>
                </td>
                <td>
                    <center><b>{{ all_task_deleted }}</b></center>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
        <hr>
    </div>
{% endblock %}
