<div class="tasks-bulk-form">
    {# использовать переменную static не получалось(она почему-то пустая), поэтому пути абсолютные #}
    <script src="/static/project/js/tasks_bulk_form.js"  type="text/javascript"></script>
    <link href="/static/project/css/tasks_bulk_form.css" rel="stylesheet">
    {{ form.as_p }}
    <span class="btn btn-default bulk-form__submit">Выполнить</span>
</div>
