{# Форма создания/редактирования поручения #}

{% load uploadify_tags %}

<form id="task-form-{{ form.instance.id }}" action="{{ action_url }}" method="post" enctype="multipart/form-data" class="task-form show_task task-form_{% if form.instance.id %}edit{% else %}add{% endif %}">
    {{ form.media }}

    <div class="task-form__actions task-form__actions_top row-fluid">
         <input type="submit" class="btn  btn-large btn-success" value="Сохранить">       
    </div>

    {% for f in form.hidden_fields %}
      {{ f }}
    {% endfor %}

    {% for f in form.visible_fields %}
        <div class="task-form__field field-{{ f.name }} {% if f.field.required %}field-required{% endif %} row-fluid">
            <label class="task-form-field__label span3">
              {{ f.label }}
              {% if f.field.required %}
                  <span class="required">*</span>
              {% endif %}
            </label>

            {% if f.name == 'files' %}
                <div class="task-form-field__value span9">
                    {% with form.instance.id|stringformat:"s" as task_id %}
                        {% with "field-files-container"|add:task_id as files_container_css_id %}
                            {% with "field-files-"|add:task_id as files_css_id %}
                                {% multi_file_upload '/task/upload/' files_container_css_id files_css_id %}
                            {% endwith %}
                        {% endwith %}
                    {% endwith %}

                    {% if form.instance.id %}
                    {% for t in form.instance.files.all %}
                        <div class="uploadifyQueueItem completed" id="fileEdit{{ t.id }}">
                            <div class="cancel"><a href="javascript:jQuery('#fileEdit').uploadifyCancel('{{ t.id }}')"><img border="0" src="/media/js/uploadify/cancel.png"></a></div>
                            <span class="fileName"><a href="/media/{{ t.file.name }}" target="_blank">{{ t.get_name }} ({{ t.file.size|filesizeformat }} )</a></span>
                            <input type="hidden" name="files" value="{{ t.id }}">
                        </div>
                    {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <div class="task-form-field__value span9">
                  {% if f.name == 'comment' %}
                    {# TODO перенести в отдельное приложение вместе с js, который сделать в виде плагина #}
                    <div class="counter">
                      <span class="edit_comment_length">0</span> из <span class="edit_comment_maxlength"></span>
                    </div>
                  {% endif %}
                  {{ f }}
                  <span class="task-form-field__help-text">{{ f.help_text }}</span>
                </div>
            {% endif %}
        </div>

        {% if f.name == 'date_end_editor' %}
            <div class="task-form__field field-until_date_end {% if f.field.required %}field-required{% endif %} row-fluid">
                <label class="task-form-field__label span3">Оставшееся время</label>
                <div class="task-form-field__value span9">{{ form.until_date_end_days }} дней</div>
            </div>
        {% endif %}
    {% endfor %}


    <div class="task-form__actions task-form__actions_bottom row-fluid">
      <input type="submit" class="btn  btn-large btn-success" value="Сохранить">       
    </div>
</form>
