{% extends 'project/query/query_task_fulfillment_report/base.html' %}
{% load static %}
{% load i18n %}
{% block query_results %}
    <script type="text/javascript" src="{% static 'project/Highcharts-4/js/highcharts.js' %}"></script>
    <script type="text/javascript">
        $(function () {
            var container_height = {{ employees.count }} * 30;
            $('#container1').css({height: container_height + 'px'});
            $('#container1').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{% blocktrans with date_to=date_to|date:'d E Y' date_from=date_from|date:'d E Y' %}Динамика заполнения СКАИП сотрудниками за период с {{ date_from }} по {{ date_to }}{% endblocktrans %}'
                },
                xAxis: {
                    categories: [
                        {% for employee in employees %}
                            '{{ employee.get_profile.get_names }}'{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Поручения сотрудника, срок исполения которых более 1го дня'
                    }
                },
                legend: {
                    reversed: true
                },
                plotOptions: {
                    bar: {
                        grouping: false
                    }
                },
                series: [
                    {
                        name: 'Поручения сотрудника, срок исполения которых более 1го дня',
                        data: [
                            {% for employee in employees %}
                                {{ employee.tasks_more_than_day_count }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    },
                    {
                        name: 'Поручения сотрудника, срок исполения которых более 1го дня, процент выполнения которых сразу изменился на 100%',
                        data: [
                            {% for employee in employees %}
                                {{ employee.instantly_completed_count }}{% if not forloop.last %},{% endif %}
                            {% endfor %}
                        ]
                    }
                ]
            });
        });
    </script>
    <div id="container1"></div>
{% endblock %}