{% extends "project/base.html" %}
{% load i18n %}
{% block content %}
    {% include "project/common/tablesorter.html" %}
    <div class="container-fluid">
        <div class="page-header">
            <h2>
                {% blocktrans with date_to=date_to|date:'d E Y' date_from=date_from|date:'d E Y' %}
                    Динамика заполнения СКАИП сотрудниками за период с {{ date_from }} по {{ date_to }}
                {% endblocktrans %}
            </h2>
            <hr/>
            <div class="filters__item users-stat-filters__period">
                <form action="" method="get">
                    {{ filter_form.media }}
                    {{ filter_form.as_p }}
                </form>
                <script type="text/javascript">
                    $(function() {
                        $('#id_period, #id_display_type, #id_start, #id_end').change(function() {
                            var period = $('#id_period').val();
                            if(period == 'custom') {
                                if($('#id_start').val() && $('#id_end').val()) {
                                    $(this).parents('form:first').submit();
                                }
                            }
                            else {
                                $(this).parents('form:first').submit();
                            }
                        });
                    });
                </script>
            </div>
        </div>
        {% block query_results %}
        {% endblock %}
    </div>
{% endblock %}