{% extends "project/query/query_task_fulfillment_report/base.html" %}
{% load i18n%}
{% load url from future %}
{% block query_results %}
    {% include "project/common/tablesorter.html" %}
    <table class="table table-striped tablesorter" id="main-table">
        <thead>
        <tr>
            <th>{% trans 'ФИО' %}</th>
            <th>{% trans 'Должность' %}</th>
            <th>{% trans 'Кол-во поручений, процент выполнения которых сразу сменился на 100%(срок исполнения более 1го дня)' %}</th>
            <th>{% trans 'Процент поручений сотрудника от общего числа поручений, срок исполения которых более 1го дня' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td>
                    <a href="{% url 'view_account' employee.username %}">{{ employee.get_profile.get_names }}</a>
                </td>
                <td>
                    {{ employee.get_profile.job|default:"------" }} <br/>
                    <small><b>{{ employee.get_profile.tree }}</b></small>
                </td>
                <td>{{ employee.instantly_completed_percent }}%</td>
                <td>{{ employee.tasks_more_than_day_percent }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}