{% extends "project/query/tasks_changed_statement/base.html" %}
{% load i18n %}
{% block query_results %}
    <table class="table table-striped tablesorter" id="main-table">
        <thead>
        <tr>
            <th>{% trans 'Наименование подразделения' %}</th>
            <th>{% trans 'Поручения, в которых менялась формулировка по инициативе исполнителя' %} (%)</th>
            <th>{% trans 'Поручения, в которых менялась формулировка по инициативе поручающего' %} (%)</th>
            <th>{% trans 'Общее кол-во поручений (шт) в управлении' %}</th>
        </tr>
        </thead>
        <tbody>
        {% for department in departments %}
            <tr>
                <td>{{ department.title }}</td>
                <td>{{ department.changed_by_performer_percent }}%</td>
                <td>{{ department.changed_by_manager_percent }}%</td>
                <td>{{ department.tasks_total }} {% trans 'шт.' %}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th>{% trans 'Всего' %}</th>
            <th>{{ total.changed_by_performer_percent }}%</th>
            <th>{{ total.changed_by_manager_percent }}%</th>
            <th>{{ total.tasks_count }} {% trans 'шт.' %}</th>
        </tr>
        </tfoot>
    </table>
{% endblock %}