{% extends "project/query/tasks_changed_statement/base.html" %}
{% load i18n %}
{% block query_results %}
    <table class="table table-striped tablesorter" id="main-table">
        <thead>
        <tr>
            {% if change_initiator == 'manager' %}
                <th>{% trans 'ФИО исполнителя' %}</th>
                <th>{% trans 'Должность исполнителя' %}</th>
            {% else %}
                <th>{% trans 'ФИО поручающего' %}</th>
                <th>{% trans 'Должность поручающего' %}</th>
            {% endif %}
            <th colspan="2">{% trans 'Наименование поручения' %}</th>

        </tr>
        </thead>
        <tbody>
        {% for row in changed_tasks %}
            <tr>
                {% if change_initiator == 'manager' %}
                    <td>{{ row.author_task.get_profile.get_names }}</td>
                    <td>{{ row.author_task.get_profile.job|default:"------" }} <br/>
                        <small><b>{{ row.author_task.get_profile.tree }}</b></small></td>
                {% else %}
                    <td>{{ row.author.get_profile.get_names }}</td>
                    <td>{{ row.author.get_profile.job|default:"------" }} <br/>
                        <small><b>{{ row.author.get_profile.tree }}</b></small></td>
                {% endif %}
                <td colspan="2">{{ row.title }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <th>{% trans 'Поручения, в которых менялась формулировка' %}</th>
        <th>{{ changed_statement_tasks_percent }}%</th>
        <th>{% trans 'Общее кол-во поручений (шт)' %}</th>
        <th>{{ tasks_total }}</th>
        </tfoot>
    </table>
{% endblock %}