{% extends "project/base.html" %}
{% load i18n %}

{% block bodyclass %}login{% endblock %}

{% block content %}
    <div class="container-fluid">
    <div class="page-header"> 
        <div id="content-main center">{% include "accounts/login_form.html" %}</div>
    </div></div>
{% endblock %}
