{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block title %}{% trans "Список сотрудников" %}{% endblock %}
{% block ACC_MANAGER %}{% endblock %}

{%  block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans "Доступ запрещен" %}</h1>
        </div>
        {% trans "Обратитесь к системному администратору за получением прав доступа к этой странице!" %}
    </div>
{% endblock %}

