{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block title %}{% trans "Список сотрудников" %}{% endblock %}
{% block ACC_MANAGER %}{% endblock %}

{%  block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>{% trans "Ошибка адреса" %}</h1>
        </div>
        {% trans "Страницы с указанным веб-адресом не существует!" %}
    </div>
{% endblock %}

