{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            var PRINT_HREF = $('#var_print');

            $('#type').change(function () {
                $('#zp').submit();
            });
            $('#period').change(function () {
                $('#zp').submit();
            });

            $("#checkbox_user").on('click',function () {
                $("#checkbox_user").toggleClass("btn-success");
            }).toggle(
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('href') + "&hide=1");
                    },
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('rel'));
                    }
            ).toggle(
                    function () {
                        $('.users_tr').hide();
                        $('.users_tr').attr('rel', '1');
                    },
                    function () {
                        $('.users_tr').show();
                        $('.users_tr').attr('rel', '0');
                    }
            );

            $("#checkbox_dep").on('click',function () {
                $("#checkbox_dep").toggleClass("btn-success");
            }).toggle(
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('href') + "&hide=2");
                    },
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('rel'));
                    }
            ).toggle(
                    function () {
                        $('.checkbox_dep').hide();
                        $('.checkbox_dep').attr('rel', '2');
                    },
                    function () {
                        $('.checkbox_dep').show();
                        $('.checkbox_dep').attr('rel', '0');
                    }
            );


            $("#checkbox_null").on('click',function () {
                $("#checkbox_null").toggleClass("btn-success");
            }).toggle(
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('href') + "&hide=3");
                    },
                    function () {
                        PRINT_HREF.attr('href', PRINT_HREF.attr('rel'));
                    }
            ).toggle(
                    function () {
                        $('.null_0').hide();
                    },
                    function () {
                        if ($('#checkbox_user').hasClass('btn-success')) {
                            $('.null_0[rel!="1"]').show();
                        }
                        if ($('#checkbox_dep').hasClass('btn-success')) {
                            $('.null_0[rel!="2"]').show();
                        }
                        if (!$('#checkbox_dep').hasClass('btn-success') && !$('#checkbox_user').hasClass('btn-success')) {
                            $('.null_0').show();
                        }
                    }
            );
            showPeriod();
        });
        function showPeriod() {
            var e = document.getElementById("period");
            var period = e[e.selectedIndex].text;
            var ae = document.getElementById("categoryName");
            ae.innerHTML = period;
        }

    </script>

    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Распределение нагрузки сотрудников и подразделений" %}</h2>

            <h2>{% trans "ОКУ &laquo;АИР&raquo;" %} - <span id="categoryName"></span></h2>
            <hr>
            <h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Период:" %}</h4>

            <form style="padding-top:6px;" id="zp">
                <select id="period" name="period" style="float: left; margin-right: 5px; width: 200px;">
                    <option value="1" {% if period == 1 %}selected{% endif %}>{% trans "Текущий месяц" %}</option>
                    <option value="2" {% if period == 2 %}selected{% endif %}>{% trans "Последний месяц" %}</option>
                    <option value="3"
                            {% if period == 3 %}selected{% endif %}>{% trans "За последний квартал" %}</option>
                    <option value="4" {% if period == 4 %}selected{% endif %}>{% trans "За последний год" %}</option>
                </select>

                <h4 style="float: left; margin-right: 10px; margin-top: 4px; margin-left: 30px">{% trans "Вид:" %}</h4>
                <select id="type" name="type" style="width: 100px;">
                    <option value="1" {% if type == 1 %}selected{% endif %}>{% trans "Таблица" %} </option>
                    <option value="2" {% if type == 2 %}selected{% endif %}> {% trans "Столбцы" %} </option>
                    <option value="3" {% if type == 3 %}selected{% endif %}> {% trans "Круги" %} </option>
                </select>
                {% for tree, structure in node|tree_info %}
                    {% if forloop.first %}
                        {% if tree.id != tree.get_root.id %}
                            <nav>
                                <a href='{% url query_tab_0  tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}&back=1'>{% trans "Назад" %}</a>
                            </nav>
							<a href="{% url query_tab_0 tree.id %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
							   rel="{% url query_tab_0 tree.id %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
							   target="_blank" id="var_print" style="float: right; font-weight: bold;"
							   class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
						{% else %}
						
						<a href="{% url query_tab_0 %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
							   rel="{% url query_tab_0 %}?print=1&period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}"
							   target="_blank" id="var_print" style="float: right; font-weight: bold;"
							   class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
                        {% endif %}
                    {% endif %}

                {% endfor %}
				
				
                
            </form>
        </div>
        <table class="table table-striped  tablesorter">
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Подразделение" %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Количество поручений" %}</th>
                <th>{% trans "Среднее количество поручений в подразделении" %}</th>
                <th>{% trans "Вклад подразделения в общий объем поручений Агентства / сотрудника в подразделение" %}</th>
            </tr>
            </thead>
            <tbody>
            {% if tree_detail %}
                {% for tree, structure in node|tree_info %}
                    {% if forloop.counter == 1 %}
                        <tr class="lev0 checkbox_dep null_{{ tree.count_task }}">
                            <td></td>
                            <td colspan="3">
                                <center><b>{{ tree.title }}</b></center>
                            </td>
                            <td>{{ tree.count_task }}</td>
                            <td>{{ tree.average|floatformat:"-1" }}</td>
                            <td>{{ tree.pro_task|floatformat:"-2" }}%</td>
                        </tr>
                    {% endif %}
                    {% if tree.is_leaf_node and node|length == 1 %}
                        {% for user in tree.users %}
                            <tr class="users_tr null_{{ user.task_count }}">
                                <td>{{ tree.nums }}.{{ forloop.counter }}</td>
                                <td width="200">{{ user.tree|default:"--" }}</td>
                                <td width="280">
                                    <a href="{% url user-history-view user_id=user.user.id %}"><b>{{ user }}</b></a>
                                </td>
                                <td width="200">{{ user.job|default:"--" }}</td>

                                <td>{{ user.task_count }}</td>
                                <td></td>
                                <td>{{ user.avg_task|floatformat:"-1" }}%</td>
                            </tr>
                        {% endfor %}
                    {% else %}
                        {% if forloop.first %}
                            {% if tree.id != tree.get_root.id %}
                            <tr class="users_tr null_{{ tree.users.0.task_count }}">
                                <td>{{ tree.nums }}.{{ forloop.counter }}</td>
                                <td width="200">{{ tree.users.0.tree|default:"--" }}</td>
                                <td width="280">
                                    <a href="{% url user-history-view user_id=tree.users.0.user.id %}"><b>{{ tree.users.0 }}</b></a>
                                </td>
                                <td width="200">{{ tree.users.0.job|default:"--" }}</td>

                                <td>{{ tree.users.0.task_count }}</td>
                                <td></td>
                                <td>{{ tree.users.0.avg_task|floatformat:"-1" }}%</td>
                            </tr>
                                {% endif %}
                        {% else %}
                            <tr class="lev0 checkbox_dep null_{{ tree.count_task }}">
                                <td>{{ tree.nums }}</td>
                                <td>
                                    <a href='{% url query_tab_0  tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}'>{{ tree.users.0.tree }}</a>
                                </td>
                                <td>
                                    <a href="{% url user-history-view user_id=tree.users.0.user.id %}">{{ tree.users.0 }}</a>
                                </td>
                                <td>{{ tree.users.0.job }}</td>

                                <td>{{ tree.count_task }}</td>
                                <td>{{ tree.average|floatformat:"-1" }}</td>
                                <td>{{ tree.pro_task|floatformat:"-1" }}%</td>
                            </tr>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% else %}
                {% for tree, structure in node|tree_info %}
                    {% if tree.level == 0 %}
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <center><b>{{ tree.title }}</b></center>
                            </td>
                            <td>{{ tree.count_task }}</td>
                            <td>{{ tree.average|floatformat:"-1" }}</td>
                            <td>{{ tree.pro_task|floatformat:"-2" }}%</td>
                        </tr>
                    {% endif %}
                    {% if tree.level == 1 %}
                        <tr class="lev0 checkbox_dep null_{{ tree.count_task }}">
                            <td>{{ tree.nums }}</td>
                            <td>
                                <a href='{% url query_tab_0  tree.id %}?period={{ request.GET.period|urlencode }}&type={{ request.GET.type|urlencode }}'>{{ tree.users.0.tree }}</a>
                            </td>
                            <td>{{ tree.users.0 }}</td>
                            <td>{{ tree.users.0.job }}</td>
                            <td>{{ tree.count_task }}</td>
                            <td>{{ tree.average|floatformat:"-1" }}</td>
                            <td>{{ tree.pro_task|floatformat:"-1" }}%</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
{% endblock %}
