{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '3' in hides %}
                $('.null_0').hide();
            {% endif %}
        });
    </script>
</head>
<body onload="window.print() ;">

    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Распределение нагрузки сотрудников и подразделений" %}  - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
        <table class="table table-striped  tablesorter" id="itogi" >
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Подразделение" %}</th>
                <th>{% trans "Количество поручений" %}</th>
                <th>{% trans "Среднее количество поручений в подразделении" %}</th>
                <th>{% trans "Минимальное количество поручений в подразделении" %}</th>
                <th>{% trans "Максимальное количество поручений в подразделении" %}</th>
                <th>{% trans "Вклад подразделения в общий объем поручений Агентства / сотрудника в подразделение" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tree, structure in node|tree_info  %}
                {% if tree.level == 0 %}
                    <tr>
                        <td></td>
                        <td colspan="3"><center><b>{{ tree.title }}</b></center></td>
                        <td>{{ tree.count_task }}</td>
                        <td>{{ tree.average|floatformat:"-1" }}</td>
                        <td>{{ tree.min_tree_task|floatformat:"-1" }}</td>
                        <td>{{ tree.max_tree_task|floatformat:"-1"  }}</td>
                        <td>{{ tree.pro_task|floatformat:"-2" }}%</td>
                    </tr>
                {% else %}
                {% if not '2' in hides %}
                    <tr class="lev{{ tree.level }} checkbox_dep null_{{ tree.count_task }}">
                        <td>{{ tree.nums }}</td>
                        <td colspan="3"><b>{{ tree.title }}</b></td>
                        <td>{{ tree.count_task }}</td>
                        <td>{{ tree.average|floatformat:"-1" }}</td>
                        <td>{{ tree.min_tree_task|floatformat:"-1" }}</td>
                        <td>{{ tree.max_tree_task|floatformat:"-1"  }}</td>
                        <td>{{ tree.pro_task|floatformat:"-1" }}%</td>
                    </tr>
                {% endif %}

                {% if not '1' in hides %}

                    {% for user in tree.users %}
                        <tr class="users_tr null_{{ user.task_count  }}">
                            <td>{{  tree.nums  }}.{{ forloop.counter }}</td>
                            <td width="180"><b>{{ user }}</b></td>
                            <td>{{ user.job|default:"--"  }}</td>
                            <td>{{ user.tree|default:"--"  }}</td>
                            <td>{{ user.task_count  }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>{{ user.avg_task|floatformat:"-1" }}%</td>
                        </tr>
                    {% endfor %}

                {% endif %}

                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>