{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">       	
    $(document).ready(function() {
		$('#year').change(function() {
					$('#zp').submit();
				});
		{% if chart %}
        chart = new Highcharts.Chart({
            chart: {
				type: 'column',
                renderTo: 'container'
            },
            title: {
                text: '{{ chart.title }}'
            },
            xAxis: {
                categories: [{% for l in line %} '{{l}}', {% endfor %}]
            },
            yAxis: {
                title: {
                        text: 'Количество поручений'
                    }
            },            
            labels: {
                items: [{                    
                    style: {
                        left: '40px',
                        top: '8px',
                        color: 'black'
                    }
                }]
            },
            series: [	
				{% for key,data in all_tasks.items %}
					{
						name: '{{ key }}',
						data: [{{ data.0 }}]
					},					
				{% endfor %}
            ]
        });
		{% endif %}
    });

///////////////////

Highcharts.theme = {
   colors: ['#058DC7', '#50B432', '#ED561B', '#DDDF00', '#24CBE5', '#64E572', '#FF9655', '#f2eb00', '#55c99e','#a25df4','#0007ff','#f60459'],
   chart: {
      backgroundColor: {
         linearGradient: [0, 0, 500, 500],
         stops: [
            [0, 'rgb(255, 255, 255)'],
            [1, 'rgb(240, 240, 255)']
         ]
      },
      borderWidth: 2,
      plotBackgroundColor: 'rgba(255, 255, 255, .9)',
      plotShadow: true,
      plotBorderWidth: 1
   },
   title: {
      style: {
         color: '#000',
         font: 'bold 16px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   subtitle: {
      style: {
         color: '#666666',
         font: 'bold 12px "Trebuchet MS", Verdana, sans-serif'
      }
   },
   xAxis: {
      gridLineWidth: 1,
      lineColor: '#000',
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'

         }
      }
   },
   yAxis: {
      minorTickInterval: 'auto',
      lineColor: '#000',
      lineWidth: 1,
      tickWidth: 1,
      tickColor: '#000',
      labels: {
         style: {
            color: '#000',
            font: '11px Trebuchet MS, Verdana, sans-serif'
         }
      },
      title: {
         style: {
            color: '#333',
            fontWeight: 'bold',
            fontSize: '12px',
            fontFamily: 'Trebuchet MS, Verdana, sans-serif'
         }
      }
   },
   legend: {
      itemStyle: {
         font: '9pt Trebuchet MS, Verdana, sans-serif',
         color: 'black'

      },
      itemHoverStyle: {
         color: '#039'
      },
      itemHiddenStyle: {
         color: 'gray'
      }
   },
   labels: {
      style: {
         color: '#99b'
      }
   }
};

// Apply the theme
var highchartsOptions = Highcharts.setOptions(Highcharts.theme);

//////////////////
    </script>
    <div class="container-fluid">		
		<h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Выбрать год:" %}</h4>
		<form style="padding-top:6px;" id="zp">	
			<select id="year" name="year" style="float: left; margin-right: 5px; margin-bottom: 0px; width: 100px;">
				<option value="" selected="selected">---------</option>				
				<option value="2012" {% if year == 2012 %}selected="selected"{% endif %}>2012</option>
        <option value="2013" {% if year == 2013 %}selected="selected"{% endif %}>2013</option>
        <option value="2014" {% if year == 2014 %}selected="selected"{% endif %}>2014</option>
				<option value="2015" {% if year == 2015 %}selected="selected"{% endif %}>2015</option>
			</select>			
		</form>
		<br />
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}