{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}
{% load url from future %}

{% block content %}

    {% include "project/common/checkbox2_script.html" %}

    {% include "project/common/tablesorter.html" %}

    <div class="container-fluid">

        {% include "project/common/page_heading.html" %}

        <table class="table table-striped tablesorter" id="main-table">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                {% if query_name == "query_attention_distribution" %}
                    <th>{% trans "Время просмотра поручений подчиненных (минут)" %}</th>
                {% elif query_name == "query_manager_tasks_distribution" %}
                    <th>{% trans "Количество поручений, поступивших от руководителей" %}</th>
                {% elif query_name == "query_subordinate_tasks_distribution" %}
                    <th>{% trans "График распределения поручений у подчиненного" %}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><b>{{ forloop.counter }}</b></td>
                    <td><b><a href="{% url "view_account" user.username %}" target="_blank">{{ user.get_profile.get_names }}</a></b></td>
                    <td>{{ user.get_profile.job|default:"------" }} <br/> <small><b>{{ user.get_profile.tree }}</b></small></td>
                    {% if query_name == "query_attention_distribution" %}
                        <td>
                            <center>{{ user.time_in_history }}</center>
                        </td>
                    {% elif query_name == "query_manager_tasks_distribution" %}
                        <td>
                            <center>{{ user.task_count }}</center>
                        </td>
                    {% elif query_name == "query_subordinate_tasks_distribution" %}
                        <td>
                            <center><a href='{% url "graph_subordinate_tasks_distribution" %}?profiles={{ user.get_profile.id }}&period={{ period }}'>{{ user.task_count }}</a>
                            </center>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td><h3>{% trans "ИТОГО" %}</h3></td>
                <td></td>
                <td></td>
                <td>
                    <center>{{ total }}</center>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
{% endblock %}
