{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}
{% load url from future %}

{% block content %}


    {% include "project/common/tablesorter.html" %}

    <div class="container-fluid">

        {% include "project/common/page_head.html" %}

        <table class="table table-striped tablesorter" id="main-table">
            <thead>
            <tr>
                <th>{% trans "ID" %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Общее количество поручений на контроле" %}</th>
                <th>{% trans "Средний срок контроля поручений (рабочие часы)" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td><b>{{ forloop.counter }}</b></td>
                    <td><b><a href="{% url "view_account" user.username %}" target="_blank">{{ user.get_profile.get_names }}</a></b></td>
                    <td>{{ user.get_profile.job|default:"------" }} <br/>
                        <small><b>{{ user.get_profile.tree }}</b></small>
                    </td>
                    <td>
                        <center>{{ user.task_count }}</center>
                    </td>
                    <td>
                        <center>{{ user.average_control_term }} р.ч.</center>
                    </td>

                </tr>
            {% endfor %}
            <tfoot>
            <tr>
                <td><h3>{% trans "ИТОГО" %}</h3></td>
                <td></td>
                <td></td>
                <td>
                    <center>{{ total }}</center>
                </td>
                <td>
                    <center>{{ total_average_control_term }}</center>
                </td>
            </tr>
            </tfoot>
            </tbody>
        </table>
    </div>
{% endblock %}
