{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    
    {% include "project/common/checkbox_script.html" %}
    
    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Учет отмененных поручений" %}  - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
            <hr>
            <h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Выбрать дату:" %}</h4>
            <form style="padding-top:6px;" id="zp">
                
                {% include "project/common/select_month.html" %}
                
                <select id="year" name="year" style="float: left; margin-right: 5px; width: 100px;">
                    <option value="2010" {% if year == 2010 %}selected="selected"{% endif %}>2010</option>
                    <option value="2011" {% if year == 2011 %}selected="selected"{% endif %}>2011</option>
                    <option value="2012" {% if year == 2012 %}selected="selected"{% endif %}>2012</option>
                    <option value="2013" {% if year == 2013 %}selected="selected"{% endif %}>2013</option>
                    <option value="2014" {% if year == 2014 %}selected="selected"{% endif %}>2014</option>
                    <option value="2015" {% if year == 2015 %}selected="selected"{% endif %}>2015</option>
                    <option value="2016" {% if year == 2016 %}selected="selected"{% endif %}>2016</option>
                    <option value="2017" {% if year == 2017 %}selected="selected"{% endif %}>2017</option>
                    <option value="2018" {% if year == 2018 %}selected="selected"{% endif %}>2018</option>
                    <option value="2019" {% if year == 2019 %}selected="selected"{% endif %}>2019</option>
                </select>
                <a href="{% url query_canceled_tasks%}?print=1&{% if request.GET.type %}type={{ month }}{% endif %}{% if request.GET.year %}&year={{ year }}{% endif %}"  rel="{% url query_canceled_tasks%}?print=1&{% if request.GET.type %}type={{ month }}{% endif %}{% if request.GET.year %}&year={{ year }}{% endif %}" target="_blank" id="var_print" style="float: right; font-weight: bold;" class="btn btn-warning">{% trans "Распечатать запрос"%}</a>
                <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn" id="checkbox_dep">{% trans "По сотрудникам"%}</div>
                <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn btn-success" id="checkbox_user">{% trans "По подразделениям"%}</div>
                <div style="float: right; margin-right: 5px; font-weight: bold;" class="btn btn-inverse" id="checkbox_null">{% trans "Скрыть нули"%}</div>
            </form>
        </div>
        <table class="table table-striped  tablesorter">
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Подразделение" %}</th>
                <th>{% trans "Количество поручений" %}</th>
                <th colspan="2">{% trans "Отмененных поручений" %}</th>
                <th colspan="3"><center>{% trans "Из них" %}</center></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{% trans "Всего" %}</th>
                <th>{% trans "От общего числа" %}</th>
                <th>{% trans "При проценте выполнения меньше 30%" %}</th>
                <th>{% trans "При проценте выполнения в диапазоне 30-60%" %}</th>
                <th>{% trans "При проценте выполнения в диапазоне 60-100%" %}</th>
            </tr>
            </thead>
            <tbody>
            <tbody>
            {% for tree, structure in node|tree_info  %}
                {% if tree.level == 0 %}
                    <tr>
                        <td></td>
                        <td colspan="3"><center><b>{{ tree.title }}</b></center></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.deleted_task }}</td>
                        <td>{{ tree.deleted_task_prc|floatformat:"-1" }}%</td>
                        <td>{{ tree.deleted_30_task }}</td>
                        <td>{{ tree.deleted_60_task }}</td>
                        <td>{{ tree.deleted_100_task }}</td>
                    </tr>
                {% else %}
                    <tr class="lev{{ tree.level }} checkbox_dep null_{{ tree.task_count }}" style="cursor: pointer"  data-tree="{{ tree.id }}">
                        <td>{{  tree.nums  }}</td>
                        <td colspan="3"><b>{{ tree.title }}</b></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.deleted_task }}</td>
                        <td>{{ tree.deleted_task_prc|floatformat:"-1" }}%</td>
                        <td>{{ tree.deleted_30_task }}</td>
                        <td>{{ tree.deleted_60_task }}</td>
                        <td>{{ tree.deleted_100_task }}</td>
                    </tr>
                    {% for user in tree.users %}
                        <tr class="users_tr null_{{ user.task_count  }} tree_{{ tree.id }}">
                            <td>{{  tree.nums  }}.{{ forloop.counter }}</td>
                            <td width="180">
                                {% if user.profile_picture %}
                                    {% thumbnail user.profile_picture "40x40" crop="center" as im %}<img src="{{ im.url }}" style="float: left; vertical-align: top; margin-right: 5px;">{% endthumbnail %}
                                {% else %}
                                    <img src="/static/project/img/default.png" width="40" height="40" style="float: left; vertical-align: top; margin-right: 5px;">
                                {% endif %}
                                <b><a href="{% url user-history-view user_id=user.user.id %}">{{ user }}</a></b
                            </td>
                            <td>{{ user.job|default:"--"  }}</td>
                            <td>{{ user.tree|default:"--"  }}</td>
                            <td>{{ user.task_count  }}</td>
                            <td>{{ user.deleted_task }}</td>
                            <td>{{ user.deleted_task_prc|floatformat:"-1" }}%</td>
                            <td>{{ user.deleted_30_task }}</td>
                            <td>{{ user.deleted_60_task }}</td>
                            <td>{{ user.deleted_100_task }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
{% endblock %}
