{% load i18n %}
<div class="scrollbar-container">
    <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
    <div class="viewport">
        <div class="overview">
            <table id="task_list" class="table table-striped">
                <thead>
                <tr>
                    <th>Сотрудник</th>
                    <th width="300">Название поручения</th>
                    <th>{% trans "Приоритет" %}</th>
                    <th>% выполнения</th>
                    <th>Дата поручения</th>
                    <th>Срок исполнения</th>
                    <th>Кем дано</th>
                </tr>
                </thead>
                <tbody>
                {% for p in project %}
                    <tr rel="{{ p.id }}" role="history" var="{{ USER_TASKS.user.id }}">
                        <td>{{ p.author_task.get_profile.get_names }}</td>
                        <td class="number title edit t {% if p.files.all %}file{% endif %}">{{ p.title|truncatewords_html:7 }}</td>
                        <td class="number">{{ p.get_priority_display|default:"0"  }}</td>
                        <td class="number">{{ p.get_progress_display|default:"0%" }}</td>
                        <td class="number">{{ p.date_add|date:"d.m.Y" }}</td>
                        <td class="number">{{ p.date_end|date:"d.m.Y" }}</td>
                        <td class="number">{{ p.author.get_profile.get_names|default:p.author_task.get_profile.get_names }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="his_all"><h4>Всего:{{ project|length }}</h4></div>
