{% extends "project/base.html" %}
{% load i18n thumbnail  static %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function() {


            $('#otd').change(function() {
                $('#zp').submit();
            });

        });
    </script>
    <div class="container-fluid">
        <h1>{% trans "Учет закрывающихся поручений" %} </h1>
        <hr>
        <form style="margin-top: 10px;" id="zp">
        <table width="100%" >
                <tr valign="top">
                    <td width="300">
                        <div class="datepicker" id="date_query_7" {% if request.GET.get_user %}var="{{ request.GET.get_user }}"{% endif %}></div>
<div class="loader" style="display: none;"><h1>Загрузка...</h1></div>
                    </td>

                    <td>

                        <div class="history_list" id="history_list">{% include "project/history-list.html" %}</div>
                    </td>
                </tr>
            </table>

        </form>
    </div>
{% endblock %}
