{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '3' in hides %}
                $('.null_0').hide();
            {% endif %}
        });
		
		function showPeriod() {
			{% if request.GET.period|urlencode %}
				var e = "{{request.GET.period|urlencode}}";
			{% else %}
				var e = "current_month";
			{% endif %}
		
			switch(e){
                case "current_month":
                    period = "Текущий месяц";
                    break;
                case "week":
                    period = "Последняя неделя";
                    break;
                case "previous_month":
                    period = "Предыдущий месяц";
                    break;
                case "quarter":
                    period = "Последний квартал";
                    break;
                case "year":
                    period = "Последний год";
                    break;		
			}
			
			var ae = document.getElementById("categoryName");
            ae.innerHTML = period;
            setTimeout(function() {
                window.print();
            }, 1000);
        }
    </script>
</head>
<body onload="showPeriod();">
    <div class="container-fluid">
        <div class="page-header">
            
            {% include "project/common/page_title.html" %}
            
            </form>
        </div>
        {% include "project/common/query_table.html" %}
    </div>
</body>
</html>