{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <div class="container-fluid">
        
        <h2>{% trans page_title %}</h2>
        
        <table class="table table-striped tablesorter" id="main-table">
            <thead>
                <tr>
                    <th>№</th>
                    <th>{% trans "Поручение" %}{{ dbg }}</th>
                    <th>{% trans "Сотрудники и их поручения" %}</th>
                    <th>{% trans "Количество звеньев" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for elt in res %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ elt.task }}</td>
                        <td>
                            {% for task in elt.subtasks %}
                                {{ task.author_task }} ({{ task }})<br>
                            {% endfor %}
                        </td>
                        <td>{{ elt.length }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
