{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '3' in hides %}
                $('.null_0').hide();
            {% endif %}
        });
    </script>
</head>

<script type="text/javascript">
    function delayPrint() {
        setTimeout(function() {
        window.print();
        }, 1000);
    }
</script>

<body onload="window.print();">
    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Наиболее/наименее вариабельное поручение" %} - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
            </form>
        </div>
        {% include "project/query/most_least_variable_task_table.html" %}
    </div>
</body>
</html>