{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#year').change(function () {
                $('#zp').submit();
            });
            $('#type').change(function () {
                $('#zp').submit();
            });
        });
    </script>


    <div class="container-fluid">
        <h2>{% trans "Наиболее/наименее вариабельное поручение" %} - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
        <hr>
        <h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Выбрать дату:" %}</h4>

        <form style="padding-top:6px;" id="zp">
            
            {% include "project/common/select_month.html" %}
            
            <select id="year" name="year" style="float: left; margin-right: 5px; width: 100px;">
                <option value="2012" {% if year == 2012 %}selected="selected"{% endif %}>2012</option>
                <option value="2013" {% if year == 2013 %}selected="selected"{% endif %}>2013</option>
                <option value="2014" {% if year == 2014 %}selected="selected"{% endif %}>2014</option>
                <option value="2015" {% if year == 2015 %}selected="selected"{% endif %}>2015</option>
            </select>
            <a href="{% url query_most_least_variable_task %}?print=1&year={{ request.GET.year|urlencode }}&type={{ request.GET.type|urlencode }}"
               rel="{% url query_most_least_variable_task %}?print=1&year={{ request.GET.year|urlencode }}&type={{ request.GET.type|urlencode }}"
               target="_blank" id="var_print" style="float: right; font-weight: bold;"
               class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
        </form>
        {% include "project/query/most_least_variable_task_table.html" %}
    </div>
{% endblock %}