{% load i18n thumbnail static mptt_tags %}

<table class="table table-striped  tablesorter">
    <thead>
    <tr>
        <th>{% trans "Номер" %}</th>
        <th>{% trans "Исполнитель" %}</th>
        <th>{% trans "Название поручения" %}</th>
        <th>{% trans "Количество изменений" %}</th>
    </tr>
    </thead>
    <tbody>
    {% if task_low %}
        <tr class="lev1 checkbox_dep null_0">
            <td colspan="4">
                <center><b>Наиболее вариабельное поручение</b></center>
            </td>
        </tr>
        {% for count, title, author, task_id in task_top %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/history/?get_user={{ author.1 }}" target="_blank">{{ author.0 }}</a></td>
                <div class="proc_task proc_task_{{ task_id }}"></div>
                <td><a href="javascript:void();" class="get_task_description"
                       data-task_id="{{ task_id }}" data-user="{{ author.1 }}">{{ title }}</a>
                </td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    {% endif %}
    {% if task_low %}
        <tr class="lev1 checkbox_dep null_0">
            <td colspan="4">
                <center><b>Наимение вариабельное поручение</b></center>
            </td>
        </tr>

        {% for count, title, author, task_id in task_low %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/history/?get_user={{ author.1 }}" target="_blank">{{ author.0 }}</a></td>
                <div class="proc_task proc_task_{{ task_id }}"></div>
                <td><a href="javascript:void();" class="get_task_description"
                       data-task_id="{{ task_id }}" data-user="{{ author.1 }}">{{ title }}</a>
                </td>
                <td>{{ count }}</td>
            </tr>
        {% endfor %}
    {% endif %}
</table>