{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '3' in hides %}
                $('.null_0').hide();
            {% endif %}
        });
    </script>
</head>

<script type="text/javascript">
    function delayPrint() {
        setTimeout(function() {
            window.print();
        }, 1000);
    }
</script>

<body onload="delayPrint();">
<div class="container-fluid">
    <div class="page-header">
        <h2>{% trans "Учет просроченных поручений" %}  - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
        <table class="table table-striped  tablesorter">
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Подразделение" %}</th>
                <th>{% trans "Количество поручений" %}</th>
                <th colspan="2">{% trans "Просроченные поручения" %}</th>
                <th colspan="3"><center>{% trans "Из них" %}</center></th>
            </tr>
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>{% trans "Всего" %}</th>
                <th>{% trans "От общего числа" %}</th>
                <th>{% trans "При проценте выполнения меньше 30%" %}</th>
                <th>{% trans "При проценте выполнения в диапазоне 30-60%" %}</th>
                <th>{% trans "При проценте выполнения в диапазоне 60-100%" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tree, structure in node|tree_info  %}
                {% if tree.level == 0 %}
                    <tr>
                        <td></td>
                        <td colspan="3"><center><b>{{ tree.title }}</b></center></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.deleted_task }}</td>
                        <td>{{ tree.deleted_task_prc|floatformat:"-1" }}%</td>
                        <td>{{ tree.deleted_30_task }}</td>
                        <td>{{ tree.deleted_60_task }}</td>
                        <td>{{ tree.deleted_100_task }}</td>
                    </tr>
                {% else %}
                {% if not '2' in hides %}
                    <tr class="lev{{ tree.level }} checkbox_dep null_{{ tree.deleted_task }}">
                        <td>{{  tree.nums  }}</td>
                        <td colspan="3"><b>{{ tree.title }}</b></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.deleted_task }}</td>
                        <td>{{ tree.deleted_task_prc|floatformat:"-1" }}%</td>
                        <td>{{ tree.deleted_30_task }}</td>
                        <td>{{ tree.deleted_60_task }}</td>
                        <td>{{ tree.deleted_100_task }}</td>
                    </tr>
                {% endif %}

                {% if not '1' in hides %}
                    {% for user in tree.users %}
                        <tr class="users_tr null_{{ user.deleted_task }}">
                            <td>{{  tree.nums  }}.{{ forloop.counter }}</td>
                            <td width="180">                              {{ user }} </td>
                            <td>{{ user.job|default:"--"  }}</td>
                            <td>{{ user.tree|default:"--"  }}</td>
                            <td>{{ user.task_count  }}</td>
                            <td>{{ user.deleted_task }}</td>
                            <td>{{ user.deleted_task_prc|floatformat:"-1" }}%</td>
                            <td>{{ user.deleted_30_task }}</td>
                            <td>{{ user.deleted_60_task }}</td>
                            <td>{{ user.deleted_100_task }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>