{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>

{% include "project/query/print_head.html" %}

<body onload="window.print();">
    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Ошибки планирования" %} - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
        </div>
        
        {% include "project/query/planning_errors_table.html" %}
        
    </div>
</body>
</html>