{% load i18n thumbnail static mptt_tags %}

{% if top_10_list %}
    <table class="table table-striped  tablesorter">
        <thead>
        <tr>
            <th>{% trans "Номер" %}</th>
            <th>{% trans "Исполнитель" %}</th>
            <th>{% trans "Количество поручений" %}</th>
            <th>{% trans "Количество ошибок" %}</th>
            <th>{% trans "Процент ошибок от общего числа поручений" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for user, value in top_10_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="/history/?get_user={{ user.user.id }}" target="_blank">{{ user }}</a></td>
                <td>{{ user.all_task }}</td>
                <td>{{ user.incorrect_planning_task }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
        {#                {% for count, title, author, task_id in task_top %}#}
        {#                    <tr>#}
        {#                        <td>{{ forloop.counter }}</td>#}
        {#                        <td><a href="/history/?get_user={{ author.1 }}" target="_blank">{{ author.0 }}</a></td>#}
        {#                        <div  class="proc_task proc_task_{{ task_id }}"></div>#}
        {#                        <td><a href="javascript:void()" class="get_task_description" data-task_id="{{ task_id }}">{{ title }}</a>#}
        {#                        </td>#}
        {#                        <td>{{ count }}</td>#}
        {#                    </tr>#}
        {#                {% endfor %}          #}

    </table>
{% endif %}
