{% load i18n thumbnail static mptt_tags %}

<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
</head>
