{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <style type="text/css" media="print,screen">
        th {
            color: black;
            background-color: lightgrey;
        }
		
		.highcharts-legend-item{
			font-size: 18pt;
		}

        thead {
            display: table-header-group;
            position: relative;
        }

        tbody {
            display: table-row-group;
        }
    </style>
</head>

{% include "project/query/task_count_dynamics_script.html" %}

<script type="text/javascript">
    function delayPrint() {
        setTimeout(function() {
        window.print();
        }, 1000);
    }
</script>

<body onload="delayPrint();">
    <div class="container-fluid">
        <div class="page-header">
            <h2>{% trans "Наиболее/наименее вариабельное поручение" %} - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
            </form>
        </div>
		<br />
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
</body>
</html>