{% extends "project/base.html" %}
{% load i18n thumbnail static mptt_tags %}
{% block ACC_MANAGER %}{% endblock %}

{% block content %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js"  type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    
    {% include "project/query/task_count_dynamics_script.html" %}
    
    <div class="container-fluid">
		<h4 style="float: left; margin-right: 10px; margin-top: 10px;">{% trans "Выбрать дату:" %}</h4>
		<form style="padding-top:6px;" id="zp">	
			<select id="year" name="year" style="float: left; margin-right: 5px; margin-bottom: 0px; width: 100px;">						
				<option value="2012-2013" {% if year == '2012-2013' %}selected="selected"{% endif %}>2012-2013</option>
				<option value="2014-2015" {% if year == '2014-2015' %}selected="selected"{% endif %}>2014-2015</option>
			</select>
            <a href="{% url query_task_count_dynamics %}?print=1&year={{ request.GET.year|urlencode }}"
               rel="{% url query_task_count_dynamics %}?print=1&year={{ request.GET.year|urlencode }}"
               target="_blank" id="var_print" style="float: right; font-weight: bold;"
               class="btn btn-warning">{% trans "Распечатать запрос" %}</a>
		</form>
		<br />
        <div id="container" style="min-width: 400px; height: 400px; margin: 0 auto"></div>
    </div>
{% endblock %}