{% load i18n thumbnail static mptt_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>{% trans "Электронный учет поручений" %}</title>
    <meta name="author" content="Codi">
    <!--[if lt IE 9]><script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <link href="/static/project/css/bootstrap.css" rel="stylesheet">
    <link href="/static/project/css/project.css" rel="stylesheet">
    <link href="/static/project/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/project/jui/css/hot-sneaks/jquery-ui-1.8.17.custom.css" rel="stylesheet">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <style type="text/css" media="print,screen" >
        th {
            color:black;
            background-color:lightgrey;
        }
        thead {
            display:table-header-group;
            position:relative;
        }
        tbody {
            display:table-row-group;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            {% if '3' in hides %}
                $('.null_0').hide();
            {% endif %}
        });
    </script>
</head>

<script type="text/javascript">
    function delayPrint() {
        setTimeout(function() {
        window.print();
        }, 1000);
    }
</script>

<body onload="delayPrint();">
<div class="container-fluid">
    <div class="page-header">
        <h2>{% trans "Обзор состояния поручений сотрудников" %}  - {{ tab_date|date:"F Y" }} {% trans "года" %}</h2>
        <table class="table table-striped  tablesorter" id="itogi">
            <thead>
            <tr>
                <th>{% trans "№ п.п." %}</th>
                <th>{% trans "Сотрудник" %}</th>
                <th>{% trans "Должность" %}</th>
                <th>{% trans "Подразделение" %}</th>
                <th>{% trans "Всего поручений" %}</th>
                <th>{% trans "Открытых" %}</th>
                <th>{% trans "Закрытых" %}</th>
                <th>{% trans "Удаленных" %}</th>
                <th>{% trans "Просроченных" %}</th>
                <th>{% trans "Средний процент исполнения открытых" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for tree, structure in node|tree_info  %}
                {% if tree.level == 0 %}
                    <tr>
                        <td></td>
                        <td colspan="3"><center><b>{{ tree.title }}</b></center></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.count_open_task }}</td>
                        <td>{{ tree.count_closed_task }}</td>
                        <td>{{ tree.count_deleted_task }}</td>
                        <td>{{ tree.count_prosc_task }}</td>
                        <td>{{ tree.task_count_prc|floatformat:"-1" }}%</td>
                    </tr>
                {% else %}
                {% if not '2' in hides %}
                    <tr class="lev{{ tree.level }} checkbox_dep null_{{ tree.task_count }}">
                        <td>{{  tree.nums  }}</td>
                        <td colspan="3"><b>{{ tree.title }}</b></td>
                        <td>{{ tree.task_count }}</td>
                        <td>{{ tree.count_open_task }}</td>
                        <td>{{ tree.count_closed_task }}</td>
                        <td>{{ tree.count_deleted_task }}</td>
                        <td>{{ tree.count_prosc_task }}</td>
                        <td>{{ tree.task_count_prc|floatformat:"-1" }}%</td>
                    </tr>
                {% endif %}

                {% if not '1' in hides %}
                    {% for user in tree.users %}
                        <tr>
                            <td>{{  tree.nums  }}.{{ forloop.counter }}</td>
                            <td width="180">{{ user }}</td>
                            <td>{{ user.job|default:"--"  }}</td>
                            <td>{{ user.tree|default:"--"  }}</td>
                            <td>{{ user.task_count }}</td>
                            <td>{{ user.count_open_task }}</td>
                            <td>{{ user.count_closed_task }}</td>
                            <td>{{ user.count_deleted_task }}</td>
                            <td>{{ user.count_prosc_task }}</td>
                            <td>{{ user.task_count_prc|floatformat:"-1" }}%</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                {% endif %}
            {% endfor %}
        </table>
    </div>
</div>
</body>
</html>