.profile-form {
    font-size: 14px;
}

.profile-form .form-actions {
    overflow: hidden;
    background-color: transparent;
    border: none;
    padding: 10px 0;
    margin: 0;
}

.profile-form .form-actions input {
    display: inline-block;
    margin-bottom: 3px;
}

.profile-form .profile-form__fields {
  padding: 17px 0;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}

.profile-form__profile-picture {
    width: 288px;
}

.profile-form__profile-picture img {
    width: 288px;
    display: block;
}

.profile-form-picture__widget {
    margin-top: 18px;
}

.profilte-form__right-col {
    box-sizing: border-box;
    padding: 18px;
    background-color: #fdf4e5;
}

.profile-form-field__label {
    box-sizing: border-box;
    width: 270px;
    font-size: 14px;
    font-weight: bold;
}

.profile-form__field input[type="text"],
.profile-form__field select,
.profile-form__field textarea {
    box-sizing: border-box;
    width: 327px;
    height: 28px;
}

.profile-form__field textarea {
    height: 116px;
}
