.profile-period-filters form {
    margin: 0;
}

.profile-period-filters label {
    display: inline-block;
    line-height: 28px;
}

.profile-period-filters select,
.profile-period-filters input[type="submit"] {
    margin-bottom: 0;
}

.profile-params {
    width: 600px !important;
}

.profile-view .page-header {
    overflow: hidden;
    padding: 12px 0;
}

.profile-view__field.field-profile_picture {
    padding: 0;
    border: none;
}

.profile-view__field.field-profile_picture img {
    width: 288px;
}

.profile-view-contacts__field {
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 27px;
    padding-top: 6px;
    padding-bottom: 6px;
    box-sizing: border-box;
    min-height: 30px;
}

.profile-view-contacts__field.field-email {
    background-image: url(../images/email.png);
}

.profile-view-contacts__field.field-private_email {
    background-image: url(../images/private_email.png);
}

.profile-view-contacts__field.field-mobile_phone {
    background-image: url(../images/mobile_phone.png);
}

.profile-view-contacts__field.field-work_phone {
    background-image: url(../images/work_phone.png);
}

.profile-view-contacts__field.field-skype {
    background-image: url(../images/skype.png);
}

.profile-view-field__label {
    width: 288px;
    font-weight: bold;
}

.profile-view__field {
    border-bottom: 1px solid #e4e4e4;
    padding: 14px 18px;
}

.profile-view__field.field-fio,
.profile-view__field.field-job,
.profile-view__field.field-tree,
.profile-view__field.field-location,
.profile-view__field.field-birthday {
    background-color: #f2f2f2;
}

.profile-view__projects,
.profile-view__tasks {
    margin-top: 34px;
}

.profile-view .block-title {
    font-size: 27px;
    padding: 12px 0;
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 18px;
}

