{% extends "project/query/low_active_employees/base.html" %}
{% block query_results %}
    <script src="{{ STATIC_URL }}project/graph/highcharts.js" type="text/javascript"></script>
    <script src="{{ STATIC_URL }}project/graph/modules/exporting.js"></script>
    <script type="text/javascript">
        $(function () {
            var height = {{ employees.count }} * 20;
            $('#container1').css({height: height + 'px' });
            var chart_config = {
                chart: {
                    type: 'bar',
                    renderTo: 'container1'
                },
                title: {
                    text: 'Список малоактивных сотрудников'
                },
                xAxis: {
                    categories: [
                        {% for row in employees %}
                            '{{ row.get_profile.get_names }}'{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    title: {
                        text: null
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Посещения',
                        align: 'high'
                    },
                    labels: {
                        overflow: 'justify'
                    }
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                credits: {
                    enabled: false
                },
                series: [{
                    name: 'Посещения',
                    data: [
                        {% for row in employees %}
                            {{ row.attendance_total }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ]
                }]
            };
            var chart = new Highcharts.Chart(chart_config);
        });
    </script>
    <div id="container1"></div>
{% endblock %}