{% extends "project/query/low_active_employees/base.html" %}
{% load i18n %}
{% load url from future %}
{% block query_results %}
    <table class="table table-striped tablesorter" id="main-table">
        <thead>
        <tr>
            <th>
                {% trans 'ФИО сотрудника' as title %}{{ title }}
            </th>
            <th>
                {% trans 'Должность' as title %}{{ title }}
            </th>
            <th>
                {% trans 'Средний интервал посещения СКАИП' as title %}{{ title }}
            </th>
            <th>
                {% trans 'Дата последнего посещения СКАИП' as title %}{{ title }}
            </th>
        </tr>
        </thead>
        <tbody>
        {% for row in employees %}
            <tr>
                <td>
                    <a href="{% url 'view_account' row.username %}">{{ row.get_profile.get_names }}</a>
                </td>
                <td>
                    {{ row.get_profile.job|default:"------" }} <br/>
                    <small><b>{{ row.get_profile.tree }}</b></small>
                </td>
                <td>
                    {% blocktrans with attendance_base=row.attendance_base attendance_of=row.attendance_of %}
                        {{ attendance_base }} раз в {{ attendance_of }} дней
                    {% endblocktrans %}
                </td>
                <td>{{ row.get_profile.get_last_attended_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="2">
                Средняя посещаемость СКАИП в агентстве
            </th>
            <th colspan="2">
                {% blocktrans with attendance_base=total_average_attendance_base attendance_of=total_average_attendance_of %}
                    {{ attendance_base }} раз в {{ attendance_of }} дней
                {% endblocktrans %}
            </th>
        </tr>
        </tfoot>
    </table>
{% endblock %}