<div class="cal-month-day <%= cls %>">
	<span class="pull-right" data-cal-date="<%= data_day %>" title="<%= tooltip %>"><%= day %></span>

    <% if (events.length > 0) { %>
		<div class="events-list" data-cal-start="<%= start %>" data-cal-end="<%= end %>">

            <% _.each(events, function(event) { %>
               <% console.log(event.date_add,event.date_end);%>
               <% if (data_day == event.birthday) { %>

                <a href=""  data-event-class="<%= event['class'] %>"
					class="pull-left happy_calendar event <%= event['class'] %>"
					title="<%= event.title %>">
                    <img class="bad_calendar" src="/static/project/img/happy_calendar.png" alt="" title="День Рождение!">
                    Мария Штох</a><br>

               <% };  %>
                <div class="calendar_modal_gl">
				<a href="<%= event.url ? event.url : 'javascript:void(0)' %>" data-event-id="<%= event.id %>" data-event-class="<%= event['class'] %>"
					class="pull-left event <%= event['class'] %>" data-toggle="tooltip"
					title="<%= event.title %>">
                    <% if (event.progress == 60 || event.deleted == 'False') { %>
                    <img class="bad_calendar" src="/static/project/img/bad_calendar.png" alt="" title="Заявка закрыта">
                    <% console.log('t')};  %>

                    <%= event.title %></a><br>

                <div class="calendar_modal">
                   <div class="calendar_modal_date"> 12 Сентября 2014</div>
                    <table>
                        <tbody>
                           <tr>
                               <td class="calendar_modal_td_left">Поручение №<%= event.number %>:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><a href="/"><%= event.title %></a></td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Проект:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td>аывпывап</td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Приоритет:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><%= event.priority %></td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Дата поручения:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><%= event.date_add %></td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Срок исполнения:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><%= event.date_end %></td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Кем дана:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><%= event.author %></td>
                           </tr>
                           <tr>
                               <td class="calendar_modal_td_left">Процент выполнения:</td>
                               <td class="calendar_modal_spacer"></td>
                               <td><%= event.progress +'%' %></td>
                           </tr>
                        </tbody>
                    </table>
                </div>
              </div>
			<% }); %>
		</div>
	<% } %>
</div>
